* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-size: 16px;
  color: #020202;
  font-family: "Gill Sans", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
a {
  cursor: pointer;
}

button {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

h3 {
  font-weight: normal;
  font-family: "Verlag A", "Verlag B";
}

/* ALICE CAROUSEL */

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none !important;
}

/* Input Checkboxes */
input[type="checkbox"] {
  border: solid red;
}

[data-title="Produced with Plotly"] {
  display: none;
}
