USE [CustomerPortal]
GO
/****** Object:  View [dbo].[vwConceptPlayAction]    Script Date: 4/24/2020 1:55:14 PM ******/
DROP VIEW [dbo].[vwConceptPlayAction]
GO
/****** Object:  View [dbo].[vwConceptPlayAction]    Script Date: 4/24/2020 1:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vwConceptPlayAction]
AS

SELECT 
	ConceptID, [1] as PrimaryPlayAction, [2] as SecondaryPlayAction, [3] as TertiaryPlayAction
FROM
	(
		SELECT
			c.ConceptID, cp.ConceptPlayActionName, RowNum = ROW_NUMBER() OVER (PARTITION BY c.ConceptID ORDER BY cp.ConceptPlayActionName)
		FROM
			dbo.Concept (NOLOCK) c
				LEFT JOIN dbo.ConceptPlayAction (NOLOCK) cp on c.ConceptID = cp.ConceptID
		) pvt
			PIVOT (MAX(ConceptPlayActionName) FOR RowNum IN ([1], [2], [3])) ConceptPlayAction
GO
