USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGameSpecialtyPrintingOption]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwGameSpecialtyPrintingOption]
AS
SELECT 
	g.GameID, 
	p.SpecialtyID1,
	p.PrimarySpecialtyFeatureID,
	p.PrimarySpecialtyFeatureName,
	s.SpecialtyID2,
	s.SecondarySpecialtyFeatureID,
	s.SecondarySpecialtyFeatureName
FROM
	Game g
		LEFT JOIN
			(
				SELECT
					gs.GameID, 
					s.SpecialtyID AS SpecialtyID1,
					gs.GameSpecialtyID AS PrimarySpecialtyFeatureID,
					s.SpecialtyName AS PrimarySpecialtyFeatureName
				FROM
					dbo.GameSpecialtyPrintingOption gs 
						JOIN dbo.SpecialtyPrintingOption s ON gs.SpecialtyID = s.SpecialtyID 
			) p ON g.GameID = p.GameID AND g.PrimarySpecialtyPrintingFeatureID = p.PrimarySpecialtyFeatureID
		LEFT JOIN
			(
				SELECT 
					gs.GameID, 
					s.SpecialtyID AS SpecialtyID2,
					gs.GameSpecialtyID AS SecondarySpecialtyFeatureID,
					s.SpecialtyName AS SecondarySpecialtyFeatureName
				FROM
					dbo.GameSpecialtyPrintingOption gs 
						JOIN dbo.SpecialtyPrintingOption s ON gs.SpecialtyID = s.SpecialtyID 
			) s ON g.GameID = s.GameID AND p.PrimarySpecialtyFeatureID != s.SecondarySpecialtyFeatureID AND p.SpecialtyID1 != s.SpecialtyID2
GROUP BY
	g.GameID, 
	p.SpecialtyID1,
	p.PrimarySpecialtyFeatureID,
	p.PrimarySpecialtyFeatureName,
	s.SpecialtyID2,
	s.SecondarySpecialtyFeatureID,
	s.SecondarySpecialtyFeatureName
GO
