USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGameFeature]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwGameFeature]
AS
SELECT 
	g.GameID, 
	p.FeatureID1,
	p.PrimaryFeatureID,
	p.PrimaryFeatureName,
	s.FeatureID2, 
	s.SecondaryFeatureID,
	s.SecondaryFeatureName
FROM
	Game g
		LEFT JOIN
			(
				SELECT
					gf.GameID, 
					f.FeatureID as FeatureID1,
					gf.GameFeatureID AS PrimaryFeatureID,
					f.FeatureName AS PrimaryFeatureName
				FROM
					dbo.GameFeature gf
						JOIN dbo.Feature f ON gf.FeatureID = f.FeatureID
			) p ON g.GameID = p.GameID AND g.PrimaryFeatureID = p.PrimaryFeatureID
		LEFT JOIN
			(
				SELECT
					gf.GameID, 
					f.FeatureID AS FeatureID2,
					gf.GameFeatureID AS SecondaryFeatureID,
					f.FeatureName AS SecondaryFeatureName
				FROM
					dbo.GameFeature gf
						JOIN dbo.Feature f ON gf.FeatureID = f.FeatureID
			) s ON g.GameID = s.GameID AND p.PrimaryFeatureID != s.SecondaryFeatureID AND p.FeatureID1 != s.FeatureID2
GROUP BY
	g.GameID, 
	p.FeatureID1,
	p.PrimaryFeatureID,
	p.PrimaryFeatureName,
	s.FeatureID2, 
	s.SecondaryFeatureID,
	s.SecondaryFeatureName
GO
