USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwLottery]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwLottery]
AS
SELECT 
	l.[LotteryID], 
	l.[BusinessName], 
	l.[Logo], 
	c.[CountryCode], 
	c.[LongName] AS CountryName,
	csd.[SubDivisionCode], 
	csd.[SubDivisionName], 
	l.[Notes], 
	l.[LogoPath],
	CurrencyCode =
		CASE 
			WHEN c.[CountryCode] = 'USA' THEN 'USD'
			ELSE cs.[Currency] 
		END,
	CurrencySymbol = 
		CASE 
			WHEN c.[CountryCode] = 'USA' THEN '$'
			ELSE cs.[Symbol] 
		END
FROM
	dbo.Lottery l 
		JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
		JOIN dbo.Country c ON csd.CountryID = c.CountryID
		LEFT JOIN dbo.CurrencySymbol cs ON l.LotteryID = cs.LotteryID
WHERE
	l.[Inactive] = 0
GO
