USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGameTheme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwGameTheme]
AS
SELECT 
	g.GameID, 
	p.ThemeID1,
	p.PrimaryThemeID,
	p.PrimaryThemeName,
	s.ThemeID2,
	s.SecondaryThemeID,
	s.SecondaryThemeName
FROM
	Game g
		LEFT JOIN
			(
				SELECT
					gt.GameID, 
					gt.GameThemeID AS PrimaryThemeID,
					t.ThemeName AS PrimaryThemeName,
					t.ThemeID AS ThemeID1
				FROM
					dbo.GameTheme gt
						JOIN dbo.Theme t ON gt.ThemeID = t.ThemeID
			) p ON g.GameID = p.GameID AND g.PrimaryThemeID = p.PrimaryThemeID
		LEFT JOIN
			(
				SELECT
					gt.GameID, 
					gt.GameThemeID AS SecondaryThemeID,
					t.ThemeName AS SecondaryThemeName,
					t.ThemeID AS ThemeID2
				FROM 
					dbo.GameTheme gt 
						JOIN dbo.Theme t ON gt.ThemeID = t.ThemeID
			) s ON g.GameID = s.GameID AND p.PrimaryThemeID != s.SecondaryThemeID AND p.ThemeID1 != s.ThemeID2
GROUP BY
	g.GameID, 
	p.ThemeID1,
	p.PrimaryThemeID,
	p.PrimaryThemeName,
	s.ThemeID2,
	s.SecondaryThemeID,
	s.SecondaryThemeName
GO
