USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwPaperStockType]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwPaperStockType]
AS
	SELECT 
		s.[ID] AS PaperStockID, s.PaperStockCategoryID, c.[Description]
	FROM
		dbo.PaperStockType s
			JOIN dbo.PaperStockCategory c ON s.PaperStockCategoryID = c.[ID]	
GO