USE [CustomerPortal]
GO
/****** Object:  View [dbo].[vwConceptSpecialtyOption]    Script Date: 4/24/2020 1:55:14 PM ******/
DROP VIEW [dbo].[vwConceptSpecialtyOption]
GO
/****** Object:  View [dbo].[vwConceptSpecialtyOption]    Script Date: 4/24/2020 1:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[vwConceptSpecialtyOption]
AS

SELECT 
	ConceptID, [1] as PrimarySpecialty, [2] as SecondarySpecialty, [3] as TertiarySpecialty
FROM
	(
		SELECT
			c.ConceptID, cs.ConceptSpecialtyOptionName, RowNum = ROW_NUMBER() OVER (PARTITION BY c.ConceptID ORDER BY cs.ConceptSpecialtyOptionName)
		FROM
			dbo.Concept (NOLOCK) c
				LEFT JOIN dbo.ConceptSpecialtyOption (NOLOCK) cs on c.ConceptID = cs.ConceptID
		) pvt
			PIVOT (MAX(ConceptSpecialtyOptionName) FOR RowNum IN ([1], [2], [3])) ConceptPlayAction
GO
