USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGamePlayStyle]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwGamePlayStyle]
AS
SELECT 
	g.GameID, 
	p.PlayStyleID1,
	p.PrimaryPlayStyleID,
	p.PrimaryPlayStyleName,
	s.PlayStyleID2,
	s.SecondaryPlayStyleID,
	s.SecondaryPlayStyleName
FROM
	Game g
		LEFT JOIN
			(
				SELECT
					gp.GameID, 
					p.PlayStyleID AS PlayStyleID1,
					gp.GamePlayStyleID AS PrimaryPlayStyleID,
					p.PlayStyleName AS PrimaryPlayStyleName
				FROM
					dbo.GamePlayStyle gp
						JOIN dbo.PlayStyle p ON gp.PlayStyleID = p.PlayStyleID
			) p ON g.GameID = p.GameID AND g.PrimaryPlayStyleID = p.PrimaryPlayStyleID
		LEFT JOIN
			(
				SELECT
					gp.GameID, 
					p.PlayStyleID AS PlayStyleID2,
					gp.GamePlayStyleID AS SecondaryPlayStyleID,
					p.PlayStyleName AS SecondaryPlayStyleName
				FROM
					dbo.GamePlayStyle gp 
						JOIN dbo.PlayStyle p ON gp.PlayStyleID = p.PlayStyleID
			) s ON g.GameID = s.GameID AND p.PrimaryPlayStyleID != s.SecondaryPlayStyleID AND p.PlayStyleID1 != s.PlayStyleID2
GROUP BY
	g.GameID, 
	p.PlayStyleID1,
	p.PrimaryPlayStyleID,
	p.PrimaryPlayStyleName,
	s.PlayStyleID2,
	s.SecondaryPlayStyleID,
	s.SecondaryPlayStyleName
GO
