USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGameColor]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vwGameColor]
AS
SELECT 
	g.GameID, 
	p.ColorID AS ColorID1,
	p.PrimaryColorID,
	p.PrimaryColorName,
	s.ColorID AS ColorID2,
	s.SecondaryColorID,
	s.SecondaryColorName
FROM
	Game g
		LEFT JOIN
			(
				SELECT
					gc.GameID, 
					c.ColorID,
					gc.GameColorID AS PrimaryColorID,
					c.ColorName AS PrimaryColorName
				FROM
					dbo.GameColor gc
						JOIN dbo.Color c ON gc.ColorID = c.ColorID
			) p ON g.GameID = p.GameID AND g.DominantColorID = p.PrimaryColorID
		LEFT JOIN
			(
				SELECT
					gc.GameID, 
					c.ColorID,
					gc.GameColorID AS SecondaryColorID,
					c.ColorName AS SecondaryColorName
				FROM
					dbo.GameColor gc
						JOIN dbo.Color c ON gc.ColorID = c.ColorID
			) s ON p.GameID = s.GameID AND p.PrimaryColorID != s.SecondaryColorID AND p.ColorID != s.ColorID
GROUP BY
	g.GameID, 
	p.ColorID,
	p.PrimaryColorID,
	p.PrimaryColorName,
	s.ColorID,
	s.SecondaryColorID,
	s.SecondaryColorName
GO
