USE [CustomerPortal]
GO

DROP VIEW IF EXISTS [dbo].[vwGameTopPrize]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vwGameTopPrize]
AS
SELECT
	x.GameID, 
	x.PrizeTypeName, 
	x.PrizeAmount, 
	x.PrizeDescription, 
	x.NumberOfPrizes, 
	x.PrizeOdds, 
	x.ActualValue, 
	x.IsTopPrize,
	x.RowNum
FROM
	(
		SELECT 
			ps.GameID, 
			p.PrizeTypeName, 
			ps.PrizeAmount, 
			ps.PrizeDescription, 
			ps.NumberOfPrizes, 
			ps.PrizeOdds, 
			ps.ActualValue, 
			TopPrize AS IsTopPrize,
			RANK() OVER (PARTITION BY GameID ORDER BY PrizeID) AS RowNum
		FROM
				
			dbo.PrizeStructure ps
				JOIN dbo.PrizeType p ON ps.PrizeTypeID = p.PrizeTypeID
		WHERE
			ps.TopPrize = 1
	) x
WHERE
	x.RowNum = 1
GO
