USE [CustomerPortal]
GO
/****** Object:  View [dbo].[vwConceptTheme]    Script Date: 4/24/2020 1:55:14 PM ******/
DROP VIEW [dbo].[vwConceptTheme]
GO
/****** Object:  View [dbo].[vwConceptTheme]    Script Date: 4/24/2020 1:55:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [dbo].[vwConceptTheme]
AS

SELECT 
	ConceptID, [1] as PrimaryTheme, [2] as SecondaryTheme, [3] as TertiaryTheme
FROM
	(
		SELECT
			c.ConceptID, ct.ConceptThemeName, RowNum = ROW_NUMBER() OVER (PARTITION BY c.ConceptID ORDER BY ct.ConceptThemeName)
		FROM
			dbo.Concept (NOLOCK) c
				LEFT JOIN dbo.ConceptTheme (NOLOCK) ct on c.ConceptID = ct.ConceptID
		) pvt
			PIVOT (MAX(ConceptThemeName) FOR RowNum IN ([1], [2], [3])) ConceptTheme
GO
