<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Log" connectionString="Server=igt-aws-instants-lakeland-prod.ckxwl3abtuwf.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CustomerPortal;User Id=admin;Password=password;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>