@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 class="mb-3" style="font-size:20px; font-weight:700;">@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />