@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1 class="mb-3" style="font-size:20px; font-weight:700;">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>

<p class="my-5">
    <a href="/" class="btn btn-success text-white">Return to Instants Showcase</a>
</p>

