@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1 class="mb-3" style="font-size:20px; font-weight:700;">@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
    <p class="my-5">
        <a href="/" class="btn btn-success text-white">Return to Instants Showcase</a>
    </p>
</header>