@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>Account created.</h1>
<hr />
<h2 id="requestAccessIntro">Please provide the following information and press "Submit" to request access.</h2>
@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-success" role="alert">@Model.StatusMessage</div>
}
<div class="row" id="requestAccess">
    <div class="col-md-4">
        <form id="requestAccess" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Phone"></label>
                <input asp-for="Input.Phone" class="form-control" />
                <span asp-validation-for="Input.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Company"></label>
                <input asp-for="Input.Company" class="form-control" />
                <span asp-validation-for="Input.Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ClientId"></label>
                <input asp-for="Input.ClientId" class="form-control" />
                <span asp-validation-for="Input.ClientId" class="text-danger"></span>
            </div>
            @if (Model.AccessRequestSubmitted)
            {
                <button id="accountSubmit" type="submit" class="btn btn-primary" disabled>Submitted</button>
            }
            else
            {
                <button id="accountSubmit" type="submit" class="btn btn-primary">Submit</button>
            }
        </form>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />

@{

    @*if (@Model.DisplayConfirmAccountLink)
            {
        <p>
            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
            }
            else
            {
        <p>
                Please check your email to confirm your account.
        </p>
            }*@
}
