USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetImageToUpload]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/07/2020 
Description : Return rows that are not uploaded in AWS S3 bucket

exec [dbo].[spGame_GetImageToUpload] 
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spGame_GetImageToUpload]
AS  
BEGIN  
	SET NOCOUNT ON

	SELECT 
		gg.GraphicTK as GraphicID, 
		gg.GameTK as GameID, 
		gg.[Path] as ImgPath,
		substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) as ImgName
	FROM 
		[iGrade].[GMD].[dbo].[vwGameGraphics_SwtAccess] gg
	WHERE
		EXISTS
			(SELECT 'x' FROM dbo.GameLog WHERE GameID = gg.GameTK AND IsImageUploaded = 0) AND
		gg.[Path] IS NOT NULL 
	ORDER BY 
		gg.[Path]

	RETURN
END  
GO
