USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructureByTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/09/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeComparisonByPPMultiLot_iGrade" to retrieve prize 
			  structure in Customer Portal 

exec spLottery_GetPrizeStructureByTicketPrice 'VA,IN,MI,PA', '20.00' , '1/1/2020', '4/9/2020', 50918
exec spLottery_GetPrizeStructureByTicketPrice 'VA,IN,MI,PA', '20.00' , '1/1/2016', '4/9/2020', '50918,47623,51351'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructureByTicketPrice]
	@CustomerCodes nvarchar(max),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@ExcludeGameID varchar(max) = NULL
AS
BEGIN
	SET NOCOUNT ON

	DECLARE 
		@c nchar(1) = N','

	SELECT	 
		p.LotteryID,
		AverageOdds = AVG(p.Odds),
		AverageTopPrizeAmount = AVG(p.PrizeAmount),
		AverageTopPrizeOdds = AVG(p.PrizeOdds),
		LocalAbbreviation = p.SubDivisionCode,
		Fifo = ROW_NUMBER() OVER (ORDER BY p.[ID])
	FROM
		(
			SELECT  
				  g.GameID
				, g.StartDate
				, g.LotteryID
				, g.GameReferenceID
				, g.GameName
				, g.TicketPrice
				, g.Odds
				, ps.PrizeAmount
				, ps.PrizeOdds
				, csd.SubDivisionCode
				, c.[ID]
			FROM 
				dbo.Game g
					JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
					JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
					JOIN
						(
							SELECT 
								CHARINDEX(@c + [value] + @c, @c + @CustomerCodes + @c) as [ID], 
								[Value] as CustomerCode 
							FROM 
								STRING_SPLIT(@CustomerCodes, ',') 
						) c ON csd.SubDivisionCode = c.CustomerCode
			WHERE 
				(NOT EXISTS
					(SELECT [value] FROM STRING_SPLIT(@ExcludeGameID, ',') WHERE [value] = g.GameID) OR @ExcludeGameID IS NULL)
				AND	g.TicketPrice = @TicketPrice
				AND g.StartDate >= @StartDate
				AND g.StartDate <= @EndDate
				AND ps.TopPrize = 1 -- top prizes only
		) p
	GROUP BY
		p.LotteryID, p.SubDivisionCode, p.ID
	ORDER BY 
		ROW_NUMBER() OVER (ORDER BY p.ID)	
END
GO
