USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetDetailsByGameID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/09/2019
-- Description:	Retrieves game information for the requested parameters by GameID.

exec spGame_GetDetailsByGameID 'VA', 40484
exec spGame_GetDetailsByGameID 'TX', 40484

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		08/29/2019		Added index in the returned records
2		JBrillantes		09/03/2019		Added Sales broken down on a yearly basis for the last 3 year sales 
3		JBrillantes		09/11/2019		Removed 'N/A' where applicable and replace 0/1 with true/false as requested
4		JBrillantes		12/13/2019		Added customer code to only return analytics data if the customer code is the same
										in the Game table unless customer code is IGT
5		JBrillantes		12/17/2019		Convert PrizePayoutPercentage in Percent with 2 decimal places per Jackson's email
6		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
7		JBrillantes		04/29/2020		added paperstock in the returned attributes for the game
8		JBrillantes		05/13/2020		Task 648: Games Search Detail - show performance score
9		JBrillantes		05/21/2020		Task 667: Concat Games fields - Color, Feature, Play Action and Specialty Option
10		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetDetailsByGameID] 
	@CustomerCode nvarchar(10),
	@GameID int
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  g.GameID
		, g.GameNumber
		, CONVERT(VARCHAR(10), g.StartDate, 101) AS StartDate
		, g.LotteryID 
		, g.GameReferenceID
		, g.GameName
		, g.GameNameInEnglish
		, l.CurrencyCode
		, l.CurrencySymbol
		, g.TicketPrice
		, TicketsReceived =
			CASE
				WHEN @CustomerCode = 'IGT' OR l.SubDivisionCode = @CustomerCode THEN g.TicketsReceived
				ELSE 0
			END
		, TicketsOrdered = 
			CASE
				WHEN @CustomerCode = 'IGT' OR l.SubDivisionCode = @CustomerCode THEN g.TicketsOrdered
				ELSE 0
			END
		, g.TicketsPerBook
		, g.Odds
		, PrizePayoutPercent = CONVERT(DECIMAL(5,2), (g.PrizePayoutPercent * 100)) 
		, p.[Description] AS PaperStock
		, g.Orientation
		, g.Height
		, g.Width
		, g.NumPlayAreas
		, g.NumPlayStyle
		, LicensedProperty =
			CASE
				WHEN ISNULL(g.LicensedProperty, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, MultipleScenes = 
			CASE
				WHEN ISNULL(g.MultipleScenes, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.NumChancesToWin
		, g.NumCallouts
		, SecondChance = 
			CASE
				WHEN ISNULL(g.SecondChance, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, CoreGame = 
			CASE
				WHEN ISNULL(g.CoreGame, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, GameFamily = 
			CASE
				WHEN ISNULL(g.GameFamily, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, MultiColorImaging = 
			CASE
				WHEN ISNULL(g.MultiColorImaging, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LowMarquee = 
			CASE
				WHEN ISNULL(g.LowMarquee, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, Spotlight = 
			CASE
				WHEN ISNULL(g.Spotlight, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, ProprietaryID = 
			CASE
				WHEN ISNULL(g.ProprietaryID, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LowTopPrize = 
			CASE
				WHEN ISNULL(g.LowTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LimitedTier = 
			CASE
				WHEN ISNULL(g.LimitedTier, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.CalcOdds
		, CalcPrizePayoutPercent = CONVERT(DECIMAL(5,2), (g.CalcPrizePayoutPercent * 100))
		, NoBreakeven = 
			CASE
				WHEN ISNULL(g.NoBreakeven, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, l.BusinessName
		, COALESCE(c.CurrencyType, l.CurrencyCode) AS CurrencyType  
		, gp.ProprietaryName		
		, Theme = 
			CASE
				WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.PrimaryThemeName  + '|' + gt.SecondaryThemeName
				WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NULL THEN gt.PrimaryThemeName 
				WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.SecondaryThemeName 
				WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NULL THEN ''
				ELSE ''
			END
		, Feature = 
			CASE
				WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.PrimaryFeatureName  + '|' + gf.SecondaryFeatureName
				WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NULL THEN gf.PrimaryFeatureName 
				WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.SecondaryFeatureName 
				WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NULL THEN ''
				ELSE ''
			END
		, PlayStyle = 
			CASE
				WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.PrimaryPlayStyleName  + '|' + gps.SecondaryPlayStyleName
				WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NULL THEN gps.PrimaryPlayStyleName
				WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.SecondaryPlayStyleName 
				WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NULL THEN ''
				ELSE ''
			END
		, Color = 
			CASE
				WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.PrimaryColorName  + '|' + gc.SecondaryColorName
				WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NULL THEN gc.PrimaryColorName 
				WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.SecondaryColorName
				WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NULL THEN ''
				ELSE ''
			END
		, SpecialtyOption = 
			CASE
				WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.PrimarySpecialtyFeatureName  + '|' + gs.SecondarySpecialtyFeatureName
				WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN gs.PrimarySpecialtyFeatureName 
				WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.SecondarySpecialtyFeatureName 
				WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN ''
				ELSE ''
			END
		, gt.PrimaryThemeID
		, gt.SecondaryThemeID
		, gf.PrimaryFeatureID
		, gf.SecondaryFeatureID
		, gps.PrimaryPlayStyleID
		, gps.SecondaryPlayStyleID
		, gc.PrimaryColorID
		, gc.SecondaryColorID
		, gs.PrimarySpecialtyFeatureID as PrimarySpecialtyOptionID
		, gs.SecondarySpecialtyFeatureID as SecondarySpecialtyOptionID
		, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS ImgName
		, l.SubDivisionCode
		, l.SubDivisionName
		, IsTopPrize = 
			CASE
				WHEN ISNULL(tp.IsTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END 
		, tp.PrizeAmount
		, tp.NumberOfPrizes 
		, tp.PrizeTypeName 
		, [Current Year Sales] = 
			CASE
				WHEN @CustomerCode = 'IGT' OR l.SubDivisionCode = @CustomerCode THEN wsc.CurYear 
				ELSE 0
			END
		, [Last Year Sales] = 
			CASE
				WHEN @CustomerCode = 'IGT' OR l.SubDivisionCode = @CustomerCode THEN wsp.LastYear 
				ELSE 0
			END
		, [Last 2 Year Sales] = 
			CASE
				WHEN @CustomerCode = 'IGT' OR l.SubDivisionCode = @CustomerCode THEN ws2.Last2Years 
				ELSE 0
			END
		, [Index] = 
			CASE
				WHEN ISNULL(i.AtLaunchIndex, 0) > 0 THEN CAST(i.AtLaunchIndex as varchar)
				ELSE 'N/A'
			END
		, IsFeatured =
			CASE
				WHEN (SELECT 'x' FROM dbo.FeaturedGame WHERE GameID = @GameID AND GetDate() BETWEEN StartDate AND EndDate) = 'x' THEN 'true'
				ELSE 'false'
			END
		, IsWorkingPapers = ISNULL(g.IsWorkingPapers, 0) 
	 FROM 
		dbo.Game g	
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID
			LEFT JOIN dbo.vwPaperStockType p ON g.PaperStockID = p.PaperStockID
			LEFT JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
			LEFT JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID
			LEFT JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
			LEFT JOIN dbo.vwGameColor gc ON g.GameID = gc.GameID			
			LEFT JOIN vwGameSpecialtyPrintingOption gs ON g.GameID = gs.GameID
			LEFT JOIN dbo.Vendor v ON g.VendorID = v.VendorID
			LEFT JOIN dbo.Proprietary gp ON g.ProprietaryID = gp.ProprietaryID
			LEFT JOIN dbo.Currency c ON g.CurrencyID = c.CurrencyID 
			LEFT JOIN dbo.vwGameTopPrize tp ON g.GameID = tp.GameID
			LEFT JOIN dbo.GameIndex i ON g.GameID = i.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as CurYear
					FROM
						dbo.WeeklySale
					WHERE
						WeekEndDate >= '01/01/' + CAST(YEAR(GETDATE()) as varchar) AND 
						WeekEndDate <= GETDATE()
					GROUP BY
						GameID
				) wsc ON g.GameID = wsc.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as LastYear
					FROM
						dbo.WeeklySale
					WHERE
						WeekEndDate >= '01/01/' + CAST((YEAR(GETDATE()) - 1) as varchar) AND 
						WeekEndDate <=  '12/31/' + CAST((YEAR(GETDATE()) - 1) as varchar) 
					GROUP BY
						GameID
				) wsp ON g.GameID = wsp.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as Last2Years
					FROM
						dbo.WeeklySale
					WHERE
						WeekEndDate >= '01/01/' + CAST((YEAR(GETDATE()) - 2) as varchar) AND 
						WeekEndDate <=  '12/31/' + CAST((YEAR(GETDATE()) - 2) as varchar) 
					GROUP BY
						GameID
				) ws2 ON g.GameID = ws2.GameID
	WHERE
		g.GameID = @GameID AND
		(YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
END
GO
