USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTicketSales]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 07/31/2019  
Description : Rewrite Sales By Ticket "uspGetLotteryTicketSales_Structured" for Customer Portal 

exec [spLottery_GetTicketSales] 'VA', 1 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/01/2020		remove ticket price when values are all null (i.e. $7 ticket price)
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTicketSales]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@ytdSalesCurr money,  
		@ytdSalesPrior money,
		@MaxSalesDate date,
		@PriorWeekSalesDate date,
		@PriorStartDate nvarchar(50),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@FYStart  nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYEndMonthDayActual nvarchar(50),
		@FYStartMonthDayActual nvarchar(50)

	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	set @cyear = YEAR(getdate())  

	-- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE 
				g.LotteryID = @LotteryID 
		)  
 
	SELECT 
		@CalStart = CalStart,
		@CalEnd = CalEnd,
		@FYEndMonthDay = FYEnds,
		@FYEndMonthDayActual = FYEndsActual
	FROM 
		dbo.LotteryFact	
	WHERE 
		LotteryID = @LotteryID

	IF @IsFiscalYear = 1
		BEGIN
			set @FYStartMonthDay = DATEADD(d, + 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) as nvarchar)
	
			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @PriorStartDate = DATEADD(YEAR, -1, CAST(@FYStart as DATE)) 					
		END
	ELSE
		BEGIN
			set @FYStart = cast(@cyear as varchar(4)) +  '/' + @CalStart  --as DATE)   
			set @PriorStartDate = dateadd(yy, -1, cast(@FYStart as DATE))  					  
		END

	set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))
			
	set @ytdSalesCurr =    
		(SELECT 
			SUM(ws.WeekSales)  
		 FROM 
			dbo.WeeklySale ws  
				JOIN dbo.Game g ON ws.GameID = g.GameID   
		 WHERE 
				g.LotteryID = @LotteryID 
			AND (ws.WeekEndDate >= @FYStart AND ws.WeekEndDate <= GETDATE())
		) 
   
	set @ytdSalesPrior =  
		(SELECT 
			SUM(ws.WeekSales)  
		 FROM 
			dbo.WeeklySale ws  
				JOIN dbo.Game g ON ws.GameID = g.GameID   
		 WHERE 
				g.LotteryID = @LotteryID  -- california  
			AND (ws.WeekEndDate >= @PriorStartDate AND ws.WeekEndDate  <= @PriorWeekSalesDate) 
		)  

	SELECT 
		t.TicketPrice AS [Ticket Price], 
		ws.WeekSalesCurr AS [Curr Week Sales], 
		ts.TotalSalesCurr as [YTD Sales],
		cast(cast(((ts.TotalSalesCurr / @ytdSalesCurr) * 100) as decimal (12, 2)) as varchar) + '%' as [% Sales YTD],
		wsp.WeekSalesPrior as [Prior Week Sales],
		tsp.TotalSalesPrior as [Prior Year YTD Sales],
		cast(cast(((tsp.TotalSalesPrior / @ytdSalesPrior) * 100) as decimal (12, 2)) as varchar) + '%' as [% Sales Prior YTD],
		ws.WeekSalesCurr - wsp.WeekSalesPrior as [Week Difference],
		CAST(CAST(((ws.WeekSalesCurr - wsp.WeekSalesPrior) / wsp.WeekSalesPrior) * 100 AS DECIMAL(12, 2)) AS VARCHAR) + '%' as [% Change Week], 
		ts.TotalSalesCurr - tsp.TotalSalesPrior as [YTD Difference],
		CAST(CAST(((ts.TotalSalesCurr - tsp.TotalSalesPrior) / tsp.TotalSalesPrior) * 100  as DECIMAL(12, 2)) as VARCHAR) + '%' as [% Change Year]
	FROM 
		(
			SELECT 
				g.TicketPrice
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				g.LotteryID = @LotteryID  
			GROUP BY
				g.TicketPrice
		) t
			LEFT JOIN
				(
					SELECT  
						g.TicketPrice, SUM(WeekSales) as WeekSalesCurr        
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID 
						AND ws.WeekEndDate = @MaxSalesDate 
					GROUP BY
						g.TicketPrice
				) ws ON t.TicketPrice = ws.TicketPrice
			LEFT JOIN
				(	
					select g.TicketPrice, SUM(WeekSales) as WeekSalesPrior 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID 
						AND ws.WeekEndDate = @PriorWeekSalesDate
					GROUP BY
						g.TicketPrice
				) wsp ON t.TicketPrice = wsp.TicketPrice
			LEFT JOIN
				(	
				  SELECT 
						g.TicketPrice, SUM(WeekSales) as TotalSalesCurr 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID    
					WHERE 
						g.LotteryID = @LotteryID AND 
						ws.WeekEndDate >= @FYStart AND
						ws.WeekEndDate <= GETDATE()  
				  GROUP BY
						g.TicketPrice 
				) ts ON t.TicketPrice = ts.TicketPrice 
			LEFT JOIN
				(
					SELECT 
						g.TicketPrice, SUM(WeekSales) as TotalSalesPrior 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID    
					WHERE 
						g.LotteryID = @LotteryID AND 
						ws.WeekEndDate >= @PriorStartDate AND
						ws.WeekEndDate <= @PriorWeekSalesDate 
					GROUP BY
						g.TicketPrice
				) tsp ON t.TicketPrice = tsp.TicketPrice 
	WHERE
		ws.WeekSalesCurr IS NOT NULL AND 
		ts.TotalSalesCurr IS NOT NULL AND 
		wsp.WeekSalesPrior IS NOT NULL AND 
		tsp.TotalSalesPrior IS NOT NULL 
	ORDER BY 
		t.TicketPrice 
END
GO
