USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spPlaystyle_GetListByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/27/2019
-- Description:	Slim down version of  "spPlaystyle_GetList" to retrieve Playstyle list by customer code for Customer Portal.

exec [spPlaystyle_GetListByCustomer] 'FL'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spPlaystyle_GetListByCustomer] 
	@CustomerCode nvarchar(10) = NULL
AS

BEGIN
	SET NOCOUNT ON

	SELECT 
		p.PlaystyleID, 
		p.PlaystyleName
	FROM
		Game g
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GamePlayStyle gp ON g.GameID = gp.GameID
			JOIN dbo.PlayStyle p ON gp.PlayStyleID = p.PlayStyleID				
	WHERE
			(@CustomerCode IS NULL OR l.SubDivisionCode = @CustomerCode) 
		AND (YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
		AND p.IsActive = 1 
	GROUP BY
		p.PlaystyleID, p.PlaystyleName
	ORDER BY
		p.PlaystyleName
END
GO
