USE [CustomerPortal]
GO


DROP PROCEDURE IF EXISTS [dbo].[spFavorite_Get]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/06/2019  
Description : To retrieve customer favorite game

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		11/04/2019		Added game attributes per Jetfuel's requests 
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spFavorite_Get]
	@UserName nvarchar(100)
AS  
BEGIN  	
	SET NOCOUNT ON
	
	SELECT 
		  f.FavoriteID 
		, g.GameID
		, g.GameNumber
		, CONVERT(VARCHAR(10), g.StartDate, 101) AS StartDate
		, g.LotteryID 
		, g.GameReferenceID
		, g.GameName
		, g.GameNameInEnglish
		, l.CurrencyCode
		, l.CurrencySymbol
		, g.TicketPrice
		, g.TicketsReceived
		, g.TicketsOrdered
		, g.TicketsPerBook
		, g.Odds
		, g.PrizePayoutPercent
		, g.PaperStock
		, g.Orientation
		, g.Height
		, g.Width
		, g.NumPlayAreas
		, g.NumPlayStyle
		, LicensedProperty =
			CASE
				WHEN ISNULL(g.LicensedProperty, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, MultipleScenes = 
			CASE
				WHEN ISNULL(g.MultipleScenes, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.NumChancesToWin
		, g.NumCallouts
		, SecondChance = 
			CASE
				WHEN ISNULL(g.SecondChance, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, CoreGame = 
			CASE
				WHEN ISNULL(g.CoreGame, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, GameFamily = 
			CASE
				WHEN ISNULL(g.GameFamily, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, MultiColorImaging = 
			CASE
				WHEN ISNULL(g.MultiColorImaging, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LowMarquee = 
			CASE
				WHEN ISNULL(g.LowMarquee, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, Spotlight = 
			CASE
				WHEN ISNULL(g.Spotlight, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, ProprietaryID = 
			CASE
				WHEN ISNULL(g.ProprietaryID, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.PrimarySpecialtyPrintingFeatureID
		, LowTopPrize = 
			CASE
				WHEN ISNULL(g.LowTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LimitedTier = 
			CASE
				WHEN ISNULL(g.LimitedTier, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.CalcOdds
		, g.CalcPrizePayoutPercent
		, NoBreakeven = 
			CASE
				WHEN ISNULL(g.NoBreakeven, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, l.BusinessName
		, COALESCE(c.CurrencyType, l.CurrencyCode) AS CurrencyType  
		, gp.ProprietaryName
		, gt.PrimaryThemeName
		, gt.SecondaryThemeName
		, gf.PrimaryFeatureName
		, gf.SecondaryFeatureName
		, gps.PrimaryPlayStyleName
		, gps.SecondaryPlayStyleName
		, gc.PrimaryColorName
		, gc.SecondaryColorName
		, gs.PrimarySpecialtyFeatureName
		, gs.SecondarySpecialtyFeatureName
		, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS [Path]
		, l.SubDivisionCode
		, l.SubDivisionName
		, IsTopPrize = 
			CASE
				WHEN ISNULL(tp.IsTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END 
		, tp.PrizeAmount
		, tp.NumberOfPrizes 
		, tp.PrizeTypeName 
		, wsc.CurYear as [Current Year Sales]
		, wsp.LastYear as [Last Year Sales]
		, ws2.Last2Years as [Last 2 Year Sales]
		, [Index] = 
			CASE
				WHEN ISNULL(i.AtLaunchIndex, 0) > 0 THEN CAST(i.AtLaunchIndex as varchar)
				ELSE ''
			END
		, IsFeatured =
			CASE
				WHEN (SELECT 'x' FROM dbo.FeaturedGame WHERE GameID = f.GameID AND GetDate() BETWEEN StartDate AND EndDate) = 'x' THEN 'true'
				ELSE 'false'
			END
		, IsWorkingPapers = ISNULL(g.IsWorkingPapers, 0) 
	FROM
		dbo.Favorite f
			JOIN dbo.Game g ON f.GameID = g.GameID	
			JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
			JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID
			JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
			JOIN dbo.vwGameColor gc ON g.GameID = gc.GameID			
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID
			LEFT JOIN vwGameSpecialtyPrintingOption gs ON g.GameID = gs.GameID
			LEFT JOIN dbo.Vendor v ON g.VendorID = v.VendorID
			LEFT JOIN dbo.Proprietary gp ON g.ProprietaryID = gp.ProprietaryID
			LEFT JOIN dbo.Currency c ON g.CurrencyID = c.CurrencyID 
			LEFT JOIN dbo.vwGameTopPrize tp ON g.GameID = tp.GameID
			LEFT JOIN dbo.GameIndex i ON g.GameID = i.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as CurYear
					FROM
						dbo.WeeklySale
					WHERE
						WeekStartDate >= '01/01/' + CAST(YEAR(GETDATE()) as varchar) AND 
						WeekEndDate <= GETDATE()
					GROUP BY
						GameID
				) wsc ON g.GameID = wsc.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as LastYear
					FROM
						dbo.WeeklySale
					WHERE
						WeekStartDate >= '01/01/' + CAST((YEAR(GETDATE()) - 1) as varchar) AND 
						WeekEndDate <=  '12/31/' + CAST((YEAR(GETDATE()) - 1) as varchar) 
					GROUP BY
						GameID
				) wsp ON g.GameID = wsp.GameID
			LEFT JOIN
				(
					SELECT
						GameID, SUM(WeekSales) as Last2Years
					FROM
						dbo.WeeklySale
					WHERE
						WeekStartDate >= '01/01/' + CAST((YEAR(GETDATE()) - 2) as varchar) AND 
						WeekEndDate <=  '12/31/' + CAST((YEAR(GETDATE()) - 2) as varchar) 
					GROUP BY
						GameID
				) ws2 ON g.GameID = ws2.GameID
	WHERE 
		UserName = @UserName AND 
		f.IsActive = 1
END 
GO
