USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesAverageByYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/01/2019  
Description : Rewrite Total Sales by year "uspChartLotteryAverageSellingPrice_Structured_CalYear" and
			  "uspChartLotteryAverageSellingPrice_Structured" into 1 sproc for Customer Portal 

exec [spLottery_GetSalesAverageByYear] 'AZ', 1  

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetSalesAverageByYear]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS
BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int = 0,
		@MaxSalesDate date,
		@strCurrency nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10)
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID 
		)  

	IF @IsFiscalYear = 1
		BEGIN
			set @FYEndMonthDay = 
				(
					SELECT 
						FYEnds 
					FROM	
						dbo.LotteryFact  
					WHERE 
						LotteryID = @LotteryID  
				)  
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' AS date))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) AS nvarchar)  
			
			-- same as @CurrentFY 
			set @cyear = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) )  
			
			set @FYStart = (SELECT dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @FYEnd = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay))
			IF @FYEndMonthDay = '1/3'  
				set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  
			ELSE  
				set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4)); 
		END
	ELSE
		BEGIN
			set @cyear = YEAR(GetDate()) 

			set @FYStart = cast(@cyear as varchar(4)) + '-01-01'  --as DATE)   
			set @FYEnd = cast(@cyear as varchar(4)) + '-12-31'  --as DATE)   
		END

	SELECT
		SUM(s.TotalSales) as [Total Sales],	
		SUM(s.TotalQuantity) as [Total Quantity],
		SUM(s.TotalSales) / SUM(s.TotalQuantity) as [Average Price],
		s.[Year]
	FROM
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.Game g ON l.LotteryID = g.LotteryID 
													AND g.TicketPrice > 0
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
													AND csd.SubDivisionCode = @CustomerCode
			GROUP BY
				l.LotteryID
		) lt
			JOIN
				(
					SELECT  
						g.LotteryID, g.TicketPrice, SUM(ISNULL(ws.WeekSales, 0)) as TotalSales, SUM(ISNULL(ws.WeekSales, 0)) / g.TicketPrice as TotalQuantity,  @cyear as [Year] 
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID 
					WHERE
						g.DateExcluded Is null AND
						ws.WeekEndDate >= @FYStart AND 
						ws.WeekEndDate <= @FYEnd 
					GROUP BY
						g.LotteryID, g.TicketPrice
						
					UNION ALL
					
					SELECT  
						g.LotteryID, g.TicketPrice, SUM(ISNULL(ws.WeekSales, 0)) as TotalSales, SUM(ISNULL(ws.WeekSales, 0)) / g.TicketPrice as TotalQuantity, @cyear-1 as [Year]
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID   						
					WHERE 
						ws.WeekEndDate >= DATEADD(YEAR, -1, @FYStart) AND 
						ws.WeekEndDate <= DATEADD(YEAR, -1, @FYEnd)
					GROUP BY
						g.LotteryID, g.TicketPrice
				) s ON lt.LotteryID = s.LotteryID
	GROUP BY
		s.[Year]
	ORDER BY
		s.[Year] DESC
END
GO
