USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_GetRateOfSalesWithExclude]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  
Description : Rewrite weekly sales penentration "uspSelectPenetrationRateOfSalesByLotteryByPriceByStartDate_iGrade" 
			  for Customer Portal 

exec [spWeeklySalesPenetration_GetRateOfSalesWithExclude] 'GA', 2, '2016-01-07', 0
Param @IsExclude = indicates 0 for all, 1 EP only, 2 Non EP 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_GetRateOfSalesWithExclude]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,	
	@IsExclude tinyint = 0 
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int = 
			(
				SELECT 
					l.LotteryID 
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					csd.SubDivisionCode = @CustomerCode
			)
	
	IF @IsExclude = 2
		BEGIN
			SELECT   
				g.TicketPrice, 
				g.GameNumber,
				g.GameID,
				CONVERT(VARCHAR(10), g.StartDate, 101) as StartDate,
				CONVERT(VARCHAR(10), s.WeekEnding, 101) as WeekEnding, 
				s.WeekNumber, 
				CAST(g.TicketPrice as nvarchar) + ':' + g.GameName as [Price-Name],
				g.GameName           , 
				CAST((s.ValidationAmt / s.RetailerActivated) as varchar) as [Rate of Sales],
				convert(varchar(100), s.WeekEnding, 101) + ':' + g.GameReferenceID + ':' + g.GameName + ': $' + CAST((s.ValidationAmt / s.RetailerActivated) as nvarchar) as [Tooltip Info],
				CAST(g.GameReferenceID as nvarchar) + ':' + g.GameName as [GroupBy],
				s.RetailerActivated / cast(s.TotalRetailers as decimal(10,2)) as [Pen %]      
			FROM 
				dbo.WeeklySalesPenetration s      
					JOIN dbo.Game g	ON s.GameID = g.GameID
					JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID		
			WHERE 
					g.LotteryID = @LotteryID      
				and g.StartDate >= @StartDate  
				and g.TicketPrice = @TicketPrice      
				and s.ValidationAmt > '0'      
				and (s.RetailerActivated / cast(s.TotalRetailers as decimal(10,2))) > '.10' 
				and (gt.PrimaryThemeName <> 'Crossword' or gt.PrimaryThemeName is null)  
				and (gt.SecondaryThemeName <> 'Crossword' or gt.SecondaryThemeName is null)  
				and (gt.PrimaryThemeName <> 'Bingo' or gt.PrimaryThemeName is null)   
				and (gt.SecondaryThemeName <> 'Bingo' or gt.SecondaryThemeName is null)   
				and (gt.PrimaryThemeName not like '%Extended%' or gt.PrimaryThemeName is null)   
				and (gt.SecondaryThemeName not like '%Extended%' or gt.SecondaryThemeName is null)  
			ORDER BY 
				g.GameNumber, s.WeekEnding 
		END
	ELSE IF @IsExclude = 1
		BEGIN
			SELECT   
				g.TicketPrice, 
				g.GameNumber,
				g.GameID,
				CONVERT(VARCHAR(10), g.StartDate, 101) as StartDate,
				CONVERT(VARCHAR(10), s.WeekEnding, 101) as WeekEnding, 
				s.WeekNumber, 
				CAST(g.TicketPrice as nvarchar) + ':' + g.GameName as [Price-Name],
				g.GameName           , 
				CAST((s.ValidationAmt / s.RetailerActivated) as varchar) as [Rate of Sales],
				convert(varchar(100), s.WeekEnding, 101) + ':' + g.GameReferenceID + ':' + g.GameName + ': $' + CAST((s.ValidationAmt / s.RetailerActivated) as nvarchar) as [Tooltip Info],
				CAST(g.GameReferenceID as nvarchar) + ':' + g.GameName as [GroupBy],
				s.RetailerActivated / cast(s.TotalRetailers as decimal(10,2)) as [Pen %]        
			FROM 
				dbo.WeeklySalesPenetration s      
					JOIN dbo.Game g	ON s.GameID = g.GameID
					JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID		
			WHERE 
					g.LotteryID = @LotteryID      
				and g.StartDate >= @StartDate  
				and g.TicketPrice = @TicketPrice      
				and s.ValidationAmt > '0'      
				and (s.RetailerActivated / cast(s.TotalRetailers as decimal(10,2))) > '.10' 
				and (gt.PrimaryThemeName = 'Crossword' or gt.PrimaryThemeName = 'Bingo' or g.GameName like '%Crossword%' or g.GameName like '%Bingo%' or gt.PrimaryThemeName like '%Extended%')  
				and (gt.SecondaryThemeName = 'Crossword' or gt.SecondaryThemeName = 'Bingo' or gt.SecondaryThemeName like '%Extended%' or gt.SecondaryThemeName is null)
			ORDER BY 
				g.GameNumber, s.WeekEnding 
		END
	ELSE
		BEGIN
			SELECT   
				g.TicketPrice, 
				g.GameNumber,
				g.GameID,
				CONVERT(VARCHAR(10), g.StartDate, 101) as StartDate,
				CONVERT(VARCHAR(10), s.WeekEnding, 101) as WeekEnding, 
				s.WeekNumber, 
				CAST(g.TicketPrice as nvarchar) + ':' + g.GameName as [Price-Name],
				g.GameName           , 
				CAST((s.ValidationAmt / s.RetailerActivated) as varchar) as [Rate of Sales],
				convert(varchar(100), s.WeekEnding, 101) + ':' + g.GameReferenceID + ':' + g.GameName + ': $' + CAST((s.ValidationAmt / s.RetailerActivated) as nvarchar) as [Tooltip Info],
				CAST(g.GameReferenceID as nvarchar) + ':' + g.GameName as [GroupBy],
				s.RetailerActivated / cast(s.TotalRetailers as decimal(10,2)) as [Pen %]      
			FROM 
				dbo.WeeklySalesPenetration s      
					JOIN dbo.Game g	ON s.GameID = g.GameID
					JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID		
			WHERE 
					g.LotteryID = @LotteryID      
				and g.StartDate >= @StartDate  
				and g.TicketPrice = @TicketPrice      
				and s.ValidationAmt > '0'      
				and (s.RetailerActivated / cast(s.TotalRetailers as decimal(10, 2))) > '.10' 
			ORDER BY 
				g.GameNumber, s.WeekEnding 
		END
END
GO
