USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spConcept_GetFeaturedGames]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 04/05/2020
-- Description:	Retrieve featured concept games 

EXEC [spConcept_GetFeaturedGames] 

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/07/2020		Use concept table to retrieve featured concept data 
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spConcept_GetFeaturedGames] 
	@PageIndex int = NULL,
	@PageSize int = NULL
AS
BEGIN
	SET NOCOUNT ON

	SELECT
		  ConceptID
		, GameName				
		, TicketPrice
		, Height
		, Width
		, ImgName
		, Theme
		, Color
		, PlayAction
		, SpecialtyOption
		, PaperStock
		, ClientCode
		, BusinessName
		, CurrencyCode 
		, CurrencySymbol 
	FROM	
		(
			SELECT  
				  c.ConceptID
				, c.GameName				
				, c.TicketPrice
				, ROUND(c.Height, 1) as Height
				, ROUND(c.Width, 1) as Width
				, c.ImageName as ImgName
				, Theme =
					CASE
						WHEN ct.PrimaryTheme IS NOT NULL AND ct.SecondaryTheme IS NOT NULL THEN ct.PrimaryTheme  + '|' + ct.SecondaryTheme
						WHEN ct.PrimaryTheme IS NOT NULL AND ct.SecondaryTheme IS NULL THEN ct.PrimaryTheme  
						WHEN ct.PrimaryTheme IS NULL AND ct.SecondaryTheme IS NOT NULL THEN ct.SecondaryTheme 
						WHEN ct.PrimaryTheme IS NULL AND ct.SecondaryTheme IS NULL THEN ''
						ELSE ''
					END
				, Color =
					CASE
						WHEN cc.PrimaryColor IS NOT NULL AND cc.SecondaryColor IS NOT NULL THEN cc.PrimaryColor  + '|' + cc.SecondaryColor
						WHEN cc.PrimaryColor IS NOT NULL AND cc.SecondaryColor IS NULL THEN cc.PrimaryColor  
						WHEN cc.PrimaryColor IS NULL AND cc.SecondaryColor IS NOT NULL THEN cc.SecondaryColor 
						WHEN cc.PrimaryColor IS NULL AND cc.SecondaryColor IS NULL THEN ''
						ELSE ''
					END
				, PlayAction = 
					CASE
						WHEN cp.PrimaryPlayAction IS NOT NULL AND cp.SecondaryPlayAction IS NOT NULL THEN cp.PrimaryPlayAction  + '|' + cp.SecondaryPlayAction
						WHEN cp.PrimaryPlayAction IS NOT NULL AND cp.SecondaryPlayAction IS NULL THEN cp.PrimaryPlayAction  
						WHEN cp.PrimaryPlayAction IS NULL AND cp.SecondaryPlayAction IS NOT NULL THEN cp.SecondaryPlayAction 
						WHEN cp.PrimaryPlayAction IS NULL AND cp.SecondaryPlayAction IS NULL THEN ''
						ELSE ''
					END
				, SpecialtyOption = 
					CASE
						WHEN cs.PrimarySpecialty IS NOT NULL AND cs.SecondarySpecialty IS NOT NULL THEN cs.PrimarySpecialty  + '|' + cs.SecondarySpecialty
						WHEN cs.PrimarySpecialty IS NOT NULL AND cs.SecondarySpecialty IS NULL THEN cs.PrimarySpecialty  
						WHEN cs.PrimarySpecialty IS NULL AND cs.SecondarySpecialty IS NOT NULL THEN cs.SecondarySpecialty 
						WHEN cs.PrimarySpecialty IS NULL AND cs.SecondarySpecialty IS NULL THEN ''
						ELSE ''
					END 
				, l.SubDivisionCode as ClientCode
				, l.BusinessName
				, CurrencyCode =
					CASE
						WHEN l.CurrencyCode IS NULL THEN 'USD'
						ELSE l.CurrencyCode
					END
				, CurrencySymbol =
					CASE
						WHEN l.CurrencySymbol IS NULL THEN '$'
						ELSE l.CurrencySymbol
					END
				, p.[Description] AS PaperStock
				, RowNumber = ROW_NUMBER() OVER (ORDER BY c.GameName, c.TicketPrice, c.ConceptID) 
			 FROM 
				dbo.Concept (NOLOCK) c		
					LEFT JOIN dbo.vwLottery l ON c.LotteryID = l.LotteryID
					LEFT JOIN dbo.vwConceptTheme ct ON c.ConceptID = ct.ConceptID
					LEFT JOIN dbo.vwConceptColor cc ON c.ConceptID = cc.ConceptID 
					LEFT JOIN dbo.vwConceptPlayAction cp ON c.ConceptID = cp.ConceptID
					LEFT JOIN dbo.vwConceptSpecialtyOption cs ON c.ConceptID = cs.ConceptID
					LEFT JOIN dbo.vwPaperStockType p ON c.PaperStockID = p.PaperStockID
			WHERE
					EXISTS (SELECT 'x' FROM dbo.FeaturedConcept WHERE ConceptID = c.ConceptID AND GetDate() BETWEEN StartDate AND EndDate)				
		) FeaturedConcepts
	WHERE
		(@PageIndex IS NULL AND @PageSize IS NULL) OR
		(RowNumber BETWEEN ((@PageIndex - 1) * @PageSize + 1) AND (@PageIndex * @PageSize))	
	ORDER BY
		NEWID()
END
GO
