USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetReorderCount]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectGameReorderCount_GET" to retrieve game reorder count by Game ID for the Customer Portal.

exec spGame_GetReorderCount 100

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetReorderCount] 
	@GameID int  
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  COUNT(g.GameID) AS ReorderCount
	 FROM 
		dbo.Game g	
			JOIN dbo.GameReorder r ON g.GameID = r.GameID
	WHERE
			g.GameID = @GameID
		AND g.VendorID = 1 --- indicates all printed games under IGT umbrella
END
GO
