USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetAverageCountByTheme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/02/2019  
Description : Rewrite average count by theme "uspChartThemeIndexed_iGrade_dynamic" 
			  for Customer Portal 

exec [spLottery_GetAverageCountByTheme] 'AZ'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetAverageCountByTheme]
	@CustomerCode nvarchar(10)
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@dateStart date,  
		@dateEnd date,
		@NumWeeksToCalc int = 12,
		@columns nvarchar(1000),
		@sql nvarchar(2000)
	
	declare @tmpWeekNumberDecision table
		(  
			  GameID int not null INDEX idx_tmpWeekNumberDecision_GameID   
			, Week1 nvarchar(50)  
			, Week2 nvarchar(50)  
			, Week3 nvarchar(50)  
			, Week4 nvarchar(50)  
			, WeekSales1 money  
			, WeekSales2 money  
			, WeekSales3 money  
			, WeekSales4 money  
			, [Difference] money  
			, WeekBeginIndicator int  
		 ) 
	
	IF OBJECT_ID('tempdb..#tmpGame') IS NOT NULL  DROP TABLE #tmpGame
	IF OBJECT_ID('tempdb..#tmpWeeklySale') IS NOT NULL  DROP TABLE #tmpWeeklySale
	IF OBJECT_ID('tempdb..#tmpSalesCalc') IS NOT NULL  DROP TABLE #tmpSalesCalc
	IF OBJECT_ID('tempdb..#Results') IS NOT NULL  DROP TABLE #Results

	CREATE TABLE #tmpGame 
		(
			GameID int not null INDEX idx_tmpGame_GameID  
			, GameNumber nvarchar(10)  
			, StartDate smalldatetime  
			, LotteryID int INDEX idx_tmpGame_LotteryID
			, GameRefNumber nvarchar(50)  
			, GameName nvarchar(60)  
			, TicketPrice smallmoney  
			, Theme nvarchar(50)
			, IsPrimary bit
		)

	CREATE TABLE #tmpWeeklySale 
		(
			GameID int not null INDEX idx_tmpGame_GameID  
			, TicketPrice smallmoney 
			, WeekNumber nvarchar(50)  
			, WeekStartDate smalldatetime  
			, WeekEndDate smalldatetime  
			, WeekSales money  
			, RowCnt int 
		)
	
	CREATE TABLE #tmpSalesCalc 
		(  
			GameID int not null INDEX idx_tmptmpSalesCalc_GameID   
			, TicketPrice smallmoney
			, AverageByPeriod numeric  
			, IndexByPeriod numeric  
			, AverageAllGames numeric  
			, StandardDevAllgames numeric  
			, IndexByPeriodStandardCalc numeric 
		 )  

	CREATE TABLE #Results
		(  
			Theme nvarchar(50) not null
			, TicketPrice smallmoney
			, ThemeAverageIndex int
			, IndexAverage int
			, IndexAndCount nvarchar(50)   
			, ThemeCount int
		 )  

	set @dateEnd = GETDATE()  
	set @dateStart = DATEADD(YEAR, -3, @dateEnd)

	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)

	INSERT INTO	
		#tmpGame
	SELECT 
		g.GameID, g.[GameNumber], g.[StartDate], g.[LotteryID], g.[GameReferenceID], g.[GameName], g.[TicketPrice], vg.[PrimaryThemeName], 1 
	FROM 
		dbo.Game g
			JOIN dbo.vwGameTheme vg ON g.GameID = vg.GameID
	WHERE 
			g.Lotteryid = @LotteryID --parm 
		AND g.DateExcluded IS NULL
		AND (
				vg.PrimaryThemeName IS NOT NULL AND vg.PrimaryThemeName NOT IN ('Crossword', 'Bingo','Holiday')
			)  
		AND (g.StartDate BETWEEN @dateStart AND @dateEnd) --parm  
	UNION ALL
	SELECT 
		g.GameID, g.[GameNumber], g.[StartDate], g.[LotteryID], g.[GameReferenceID], g.[GameName], g.[TicketPrice], vg.[SecondaryThemeName], 0
	FROM 
		dbo.Game g
			JOIN dbo.vwGameTheme vg ON g.GameID = vg.GameID 
	WHERE 
			g.Lotteryid = @LotteryID --parm 
		AND g.DateExcluded IS NULL
		AND (
				vg.SecondaryThemeName IS NOT NULL AND vg.SecondaryThemeName NOT IN ('Crossword', 'Bingo','Holiday')
			)  
		AND (g.StartDate BETWEEN @dateStart AND @dateEnd) --parm 

	INSERT INTO	
		#tmpWeeklySale
	SELECT
		g.GameID, g.[TicketPrice], ws.[WeekNumber], ws.[WeekStartDate], ws.[WeekEndDate], ws.[WeekSales], RowCnt = ROW_NUMBER() OVER(PARTITION BY ws.GameID ORDER BY ws.[WeekNumber])
	FROM
		dbo.WeeklySale ws
			JOIN #tmpGame g ON ws.GameID = g.GameID
	WHERE 
		ws.WeekNumber > 0 AND g.IsPrimary = 1
	ORDER BY
		g.GameID, ws.WeekNumber

	INSERT INTO	
		@tmpWeekNumberDecision
	SELECT  
		  d.GameID   
		, d.RowCnt as Week1  
		, c.RowCnt as Week2  
		, b.RowCnt as Week3  
		, a.RowCnt as Week4  
		, d.WeekSales as Week1Sales  
		, c.WeekSales as Week2Sales  
		, b.WeekSales as Week3Sales  
		, a.WeekSales as Week4Sales  
		, (c.WeekSales / 2) as [Difference] -- week2 greater than 50% of week1?  
		, WeekBeginIndicator = 
			case   
				--fifo... should have only a very few 2s..  
				when (c.WeekSales / 2) < d.WeekSales then 1  
				when (b.WeekSales / 2) < c.WeekSales then 2  
				when (a.WeekSales / 2) < b.WeekSales then 3  
				else 4  
			end  
	FROM 
		#tmpWeeklySale d  
			left join #tmpWeeklySale c on d.RowCnt + 1 = c.RowCnt 
												and d.GameID = c.GameID  
			left join #tmpWeeklySale b on c.RowCnt + 1 = b.RowCnt  
												and d.GameID = b.GameID  
			left join #tmpWeeklySale a on b.RowCnt + 1 = a.RowCnt  
												and d.GameID = a.GameID  
	WHERE 
		a.RowCnt <= 4  or b.RowCnt <= 3  
	ORDER BY 
		d.RowCnt

	INSERT INTO 
		#tmpSalesCalc (GameID, TicketPrice, AverageByPeriod)
	--temp sales calc
	SELECT 
		a.GameID, a.TicketPrice, AVG(a.WeekSales) as AverageByPeriod
	FROM 
		#tmpWeeklySale a   
			RIGHT JOIN #tmpWeeklySale b  on a.GameID = b.GameID and b.RowCnt >= @NumWeeksToCalc  
	WHERE 
		(a.WeekNumber >= 0 + (select WeekBeginIndicator from @tmpWeekNumberDecision where GameID = a.GameID)  
		 and a.RowCnt <=  @NumWeeksToCalc + (select WeekBeginIndicator from @tmpWeekNumberDecision where GameID = a.GameID) -1) 
	GROUP BY 
		a.GameID, a.TicketPrice  

	update 
		t  
	set 
		AverageAllGames = c.AverageAllGames,
		StandardDevAllgames = c.StandardDevAllgames,
		IndexByPeriod = 100 + (25 * ((t.AverageByPeriod - c.AverageAllGames) / c.StandardDevAllgames)),
		IndexByPeriodStandardCalc = 100 * (t.AverageByPeriod / c.AverageAllGames)
	from
		#tmpSalesCalc t
			join 
				(
					select 						 
						TicketPrice, 
						AVG(AverageByPeriod) as AverageAllGames, 
						STDEV(AverageByPeriod) as StandardDevAllgames  
					from 
						#tmpSalesCalc 
					group By 
						TicketPrice
				) c ON t.TicketPrice = c.TicketPrice 
	
	--update 
	--	t  
	--set 		
	--	tmpIndexByPeriod = 100 + (25 * ((tmpAverageByPeriod - tmpAverageAllGames) / tmpStandardDevAllgames)),
	--	tmpIndexByPeriodStandardCalc = 100 * (tmpAverageByPeriod / tmpAverageAllGames) 
	--from
	--	#tmpSalesCalc t
		
	select 
		  @columns = COALESCE(@columns + ', [' + cast(TicketPrice as varchar) + ']','[' + cast(TicketPrice as varchar)+ ']')  
	from 
		#tmpGame 
	group by 
		TicketPrice

	-- insert
	INSERT INTO 
		#Results
	SELECT
		Theme, TicketPrice, ThemeAverageIndex, AverageIndex, IndexAndCount, GameCount
	FROM
		(
			select 
				tot.Theme, d.TicketPrice, tot.ThemeAverageIndex, d.AverageIndex, d.IndexAndCount, tot.GameCount
			from
				(
					SELECT 
						a.Theme, cast(AVG(b.IndexByPeriodStandardCalc) as decimal(10,0)) AS ThemeAverageIndex, COUNT(a.Theme) as [GameCount]  
					FROM
						#tmpGame a  
							right join #tmpSalesCalc b on a.GameID = b.GameID
					GROUP BY
						a.Theme
				) tot
					JOIN
						(
							select 
								  a.TicketPrice 
								, a.Theme  
								, COUNT(a.Theme) as [GameCount]  
								, cast(AVG(b.IndexByPeriodStandardCalc) as decimal(10,0)) as [AverageIndex]  
								, cast(cast(AVG(b.IndexByPeriodStandardCalc) as decimal(10,0))  as nvarchar) + '_' + cast(COUNT(a.Theme) as nvarchar) as [IndexAndCount]
							from #tmpGame a  
								right join #tmpSalesCalc b on a.GameID = b.GameID  
							group by 
								a.TicketPrice, a.Theme
						) d on tot.Theme = d.Theme
		) as p

	set @sql = '
		SELECT 
			Theme, ThemeAverageIndex,' + @columns + ', ThemeCount
		FROM 
			(
				select 
					Theme, TicketPrice, ThemeAverageIndex, IndexAndCount, ThemeCount
				from 
					#Results
			) as s
		PIVOT
			(
				MAX(IndexAndCount)
				FOR [TicketPrice] IN (' + @columns + ')
			) as pvt
		ORDER BY 
			Theme, ThemeAverageIndex desc'

	exec sp_executesql @sql
END
GO
