USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesByCustomerAndYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/16/2019  
Description : Rewrite Ticket Sales "uspGetUSLotterySalesBasedOnCheckboxList_NALO" to retrieve sales only for 
			  Customer Portal 

exec [spLottery_GetSalesByCustomerAndYear] 'VA', '1/1/2018', '9/1/2018', '1/1/2018'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices	
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetSalesByCustomerAndYear]
	@CustomerCodes nvarchar(1000),
	@StartDate date,
	@EndDate date,
	@PriorStartDate date
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@MaxSalesDate date,
		@DayDiff int,
		@SalesCurr money,
		@SalesPrev money,
		@CustomerCount tinyint

		set @DayDiff = DATEDIFF(Day, @StartDate, @EndDate)

		SELECT
			@SalesPrev = SUM(ps.[Revenue YTD Prior]),
			@SalesCurr = SUM(cs.[Revenue YTD Curr]),
			@MaxSalesDate = MAX(cs.MaxSalesDate),
			@CustomerCount = COUNT(cs.LotteryID)
		FROM
			(
				select 
					  c.LotteryID  
					, sum(a.Weeksales) as [Revenue YTD Curr]
					, max(a.WeekEndDate) as MaxSalesDate
				from  
					dbo.WeeklySale a
						JOIN dbo.Game b ON a.GameID = b.GameID  
						JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
						JOIN dbo.CountrySubDivision csd ON c.CountrySubDivisionID = csd.CountrySubDivisionID
				where
					a.WeekEndDate >= @StartDate AND 
					a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @StartDate) AND
					EXISTS 
						(
							SELECT 
								[Value] 
							FROM 
								STRING_SPLIT(@CustomerCodes, ',') 
							WHERE 
								[Value] = csd.SubDivisionCode
						) 	
				group by
					c.LotteryID
			) cs
				JOIN
					(
						select
							  c.LotteryID  
							, sum(a.Weeksales) as [Revenue YTD Prior]  
							, max(a.WeekEndDate) as MaxSalesDate
						from  
							dbo.WeeklySale a
								JOIN dbo.Game b ON a.GameID = b.GameID  
								JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
						where 
							a.WeekEndDate >= DATEADD(Year, -1, @StartDate) AND 
							a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @PriorStartDate) 
						group by
							c.LotteryID
					) ps ON cs.LotteryID = ps.LotteryID

		SELECT
			l.TicketPrice,
			(cs.[Average Curr] / @CustomerCount) as [Average Curr],
			CAST(100 * cs.[Percent Curr] as decimal(6, 2)) as [Percent Curr],
			(ps.[Average Prior] / @CustomerCount) as [Average Prior], 
			CAST(100 * ps.[Percent Prior] as decimal(6, 2)) as [Percent Prior],
			ISNULL(CAST((cs.[Average Curr] - [Average Prior]) / [Average Prior] * 100 as decimal(12, 2)),0) as  [% Change]
		FROM
			(
				select distinct
					b.TicketPrice  
				from  
					dbo.WeeklySale a
						JOIN dbo.Game b ON a.GameID = b.GameID  
						JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
						JOIN dbo.CountrySubDivision csd ON c.CountrySubDivisionID = csd.CountrySubDivisionID
				where
					a.WeekEndDate >= @StartDate AND 
					a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @StartDate) AND
					EXISTS 
						(
							SELECT 
								[Value] 
							FROM 
								STRING_SPLIT(@CustomerCodes, ',') 
							WHERE 
								[Value] = csd.SubDivisionCode
						) 
			) l
				JOIN
					(
						select 
							  b.TicketPrice  
							, sum(a.Weeksales) as [Average Curr]
							, sum(a.Weeksales) / @SalesCurr as [Percent Curr]
						from  
							dbo.WeeklySale a
								JOIN dbo.Game b ON a.GameID = b.GameID  
								JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
								JOIN dbo.CountrySubDivision csd ON c.CountrySubDivisionID = csd.CountrySubDivisionID
						where
							a.WeekEndDate >= @StartDate AND
							a.WeekEndDate <= @MaxSalesDate AND
							EXISTS 
								(
									SELECT 
										[Value] 
									FROM 
										STRING_SPLIT(@CustomerCodes, ',') 
									WHERE 
										[Value] = csd.SubDivisionCode
								) 
						group by 
							b.TicketPrice
					) cs ON l.TicketPrice = cs.TicketPrice 
				JOIN
					(
						select
							  b.TicketPrice   
							, sum(a.Weeksales) as [Average Prior] 
							, sum(a.Weeksales) / @SalesPrev as [Percent Prior]
						from  
							dbo.WeeklySale a
								JOIN dbo.Game b ON a.GameID = b.GameID  
								JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
								JOIN dbo.CountrySubDivision csd ON c.CountrySubDivisionID = csd.CountrySubDivisionID
						where 
							a.WeekEndDate >= DATEADD(Year, -1, @StartDate) AND 
							a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @PriorStartDate) AND
							EXISTS 
								(
									SELECT 
										[Value] 
									FROM 
										STRING_SPLIT(@CustomerCodes, ',') 
									WHERE 
										[Value] = csd.SubDivisionCode
								) 
						group by
							b.TicketPrice
					) ps ON l.TicketPrice = ps.TicketPrice
		WHERE
			l.TicketPrice <> 7
		ORDER BY
			l.TicketPrice
END
GO
