USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetDetailsByCustomerCode]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 09/05/2019
-- Description:	retrieve game information by customer code for the Customer Portal.

exec spGame_GetDetailsByCustomerCode 'AZ'
exec spGame_GetDetailsByCustomerCode @CurrencyCode = 'USD'

CHANGE LOGS:
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		09/11/2019		Removed 'N/A' where applicable and replace 0/1 with true/false as requested
2		JBrillantes		10/30/2019		Added CurrencyCode as optional parameter
3		JBrillantes		11/05/2019		To return all games based on the customer code that belongs on the same country
4		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables 
5		JBrillantes		04/24/2020		exclude year greater than current per Todd's email
6		JBrillantes		04/27/2020		sort by StartDate in descending order per Todd
7		JBrillantes		04/29/2020		added paperstock in the returned attributes for the game
8		JBrillantes		05/21/2020		Task 667: Concat Games fields - Color, Feature, Play Action and Specialty Option
9		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices
10		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetDetailsByCustomerCode] 
	@CustomerCode nvarchar(10) = 'IGT',
	@CurrencyCode varchar(3) = NULL
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  g.GameID
		, CONVERT(VARCHAR(10), g.StartDate, 101) AS StartDate
        , l.CurrencyCode
		, LTRIM(RTRIM(ISNULL(l.CurrencySymbol, ''))) AS CurrencySymbol
		, g.TicketPrice
		, g.TicketsOrdered
		, g.Odds
		, g.PrizePayoutPercent
		, p.[Description] AS PaperStock 
		, g.Orientation
		, g.Height
		, g.Width
		, g.NumPlayAreas
		, LicensedProperty =
			CASE
				WHEN ISNULL(g.LicensedProperty, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, MultipleScenes = 
			CASE
				WHEN ISNULL(g.MultipleScenes, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.NumChancesToWin
		, SecondChance = 
			CASE
				WHEN ISNULL(g.SecondChance, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, GameFamily = 
			CASE
				WHEN ISNULL(g.GameFamily, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LowMarquee = 
			CASE
				WHEN ISNULL(g.LowMarquee, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LowTopPrize = 
			CASE
				WHEN ISNULL(g.LowTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, LimitedTier = 
			CASE
				WHEN ISNULL(g.LimitedTier, 0) = 1 THEN 'true'
				ELSE 'false'
			END
		, g.CalcOdds
		, g.CalcPrizePayoutPercent
		, Theme = 
			CASE
				WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.PrimaryThemeName  + '|' + gt.SecondaryThemeName
				WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NULL THEN gt.PrimaryThemeName 
				WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.SecondaryThemeName 
				WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NULL THEN ''
				ELSE ''
			END
		, Feature = 
			CASE
				WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.PrimaryFeatureName  + '|' + gf.SecondaryFeatureName
				WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NULL THEN gf.PrimaryFeatureName 
				WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.SecondaryFeatureName 
				WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NULL THEN ''
				ELSE ''
			END
		, PlayStyle = 
			CASE
				WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.PrimaryPlayStyleName  + '|' + gps.SecondaryPlayStyleName
				WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NULL THEN gps.PrimaryPlayStyleName
				WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.SecondaryPlayStyleName 
				WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NULL THEN ''
				ELSE ''
			END
		, Color = 
			CASE
				WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.PrimaryColorName  + '|' + gc.SecondaryColorName
				WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NULL THEN gc.PrimaryColorName 
				WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.SecondaryColorName
				WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NULL THEN ''
				ELSE ''
			END
		, SpecialtyOption = 
			CASE
				WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.PrimarySpecialtyFeatureName  + '|' + gs.SecondarySpecialtyFeatureName
				WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN gs.PrimarySpecialtyFeatureName 
				WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.SecondarySpecialtyFeatureName 
				WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN ''
				ELSE ''
			END
		, gt.PrimaryThemeID
		, gt.SecondaryThemeID
		, gf.PrimaryFeatureID
		, gf.SecondaryFeatureID
		, gps.PrimaryPlayStyleID
		, gps.SecondaryPlayStyleID
		, gc.PrimaryColorID
		, gc.SecondaryColorID
		, gs.PrimarySpecialtyFeatureID as PrimarySpecialtyOptionID
		, gs.SecondarySpecialtyFeatureID as SecondarySpecialtyOptionID
		, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS ImgName				
		, l.SubDivisionCode
		, l.SubDivisionName
		, IsTopPrize = 
			CASE
				WHEN ISNULL(tp.IsTopPrize, 0) = 1 THEN 'true'
				ELSE 'false'
			END 
		, tp.PrizeAmount
		, tp.NumberOfPrizes 
		, tp.PrizeTypeName 
		, [Index] = 
			CASE
				WHEN ISNULL(i.AtLaunchIndex, 0) > 0 THEN CAST(i.AtLaunchIndex as varchar)
				ELSE 'N/A'
			END
		, IsFeatured =
			CASE
				WHEN (SELECT 'x' FROM dbo.FeaturedGame WHERE GameID = g.GameID AND GetDate() BETWEEN StartDate AND EndDate) = 'x' THEN 'true'
				ELSE 'false'
			END	
		, IsWorkingPapers = ISNULL(g.IsWorkingPapers, 0) 		
	 FROM 
		dbo.Game g	
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID
			LEFT JOIN dbo.vwPaperStockType p ON g.PaperStockID = p.PaperStockID
			LEFT JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
			LEFT JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID					
			LEFT JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
			LEFT JOIN dbo.vwGameColor gc ON g.GameID = gc.GameID			
			LEFT JOIN vwGameSpecialtyPrintingOption gs ON g.GameID = gs.GameID
			LEFT JOIN dbo.vwGameTopPrize tp ON g.GameID = tp.GameID
			LEFT JOIN dbo.GameIndex i ON g.GameID = i.GameID
	WHERE
			EXISTS 
				(
					SELECT 
						'x' 
					FROM 
						dbo.vwLottery 
					WHERE
						(@CustomerCode = 'IGT' OR SubDivisionCode = @CustomerCode) AND
						CountryCode = l.CountryCode
				)	
		AND (@CurrencyCode IS NULL OR l.CurrencyCode = @CurrencyCode)
		AND (YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
		AND g.TicketPrice <> 7
		AND g.VendorID = 1 --- indicates all printed games under IGT umbrella
	ORDER BY
		g.StartDate DESC, g.GameName, g.GameReferenceID		 
END
GO
