USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetCloseSalesThru]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/19/2019  
Description : Rewrite Sales By game "uspGetClosedGameSellThru" for Customer Portal 

exec [spGame_GetCloseSalesThru] 'VA', 1, '1/01/2011', '05/1/2020', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/03/2020		add VendorType param
3		JBrillantes		04/24/2020		Exclude with sell-thru rate over 110% per Todd's email
4		JBrillantes		04/27/2020		sort by StartDate in descending order per Todd
5		JBrillantes		05/01/2020		logic to only display values in [# of Weeks to 80% Sell-Thru] if sellthru is >= 80%
										and [# of Weeks to 90% Sell-Thru] if sellthru is >= 90%
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spGame_GetCloseSalesThru]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@VendorType tinyint = 1 --(type 0=all, 1=IGT, 2=Non-IGT)
AS 
BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int 
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
	IF OBJECT_ID('tempdb.dbo.#tmpCloseSale') is not null DROP TABLE #tmpCloseSale 
	create table #tmpCloseSale 
		(
			  GameID int NOT NULL INDEX idx_tmpWeeklySale_GameID
		)

	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame  
	create table #tmpGame  
		(   
			  GameID int NOT NULL INDEX idx_tmpGame_GameID 
			, GameReference nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice smallmoney  
			, TicketsOrdered int  
			, TicketsReceived int  			
			, Reorder int
			, CountWeek int  
			, TotalGameSales money    
			, AvgSales money
			, TicketQtyUsed int -- add reorders to this!?!  
			, TicketValUsed nvarchar(50)  
			, SellThruPerc decimal(20,2)  
			, SellThru decimal(10,2)  			 
			, UnSoldsToDate money 
			, WeeksRemaining decimal(10) 
			, MaxWeekEndDate smalldatetime
			, Ticket80 int  
			, Ticket90 int
		) 

	IF OBJECT_ID('tempdb.dbo.#tmpSales') is not null DROP TABLE #tmpSales  		
	create table #tmpSales  
		(  
		  GameID int NOT NULL INDEX idx_tmpSales_GameID 
		, WeekNumber int  
		, WeekStartDate date  
		, WeekEndDate date
		, WeekSales money
		, TicketPrice money  
		, TicketQtyUsed int
		, RunningSalesTotal money  
		, RunningSellThruPerc decimal(30, 2)  
		)  

	-- temp calc
	INSERT INTO
		#tmpCloseSale
	select 
		  g.GameID
    FROM 
		dbo.WeeklySale ws
			JOIN dbo.Game g ON ws.GameID = g.GameID 
	WHERE 
		g.LotteryID = @LotteryID AND 
		g.TicketPrice = @TicketPrice AND
		(g.StartDate BETWEEN @StartDate AND @EndDate) AND 
		g.VendorID IN 
			(
				SELECT 
					VendorID 
				FROM 
					dbo.Vendor v
				WHERE
					CASE 
						WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
						WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
						WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
					END = 1
			) 
	GROUP BY
		g.GameID  
	HAVING 
		max(ws.WeekEndDate) <= DATEADD(Day, -90, GetDate())
	UNION 
	select 
		  g.GameID
    FROM 
		dbo.WeeklySale ws
			JOIN dbo.Game g ON ws.GameID = g.GameID 
	WHERE 
		g.LotteryID = @LotteryID AND 
		g.TicketPrice = @TicketPrice AND
		(g.StartDate BETWEEN @StartDate AND @EndDate) AND  
		ws.WeekSales <= 0 and ws.WeekNumber > 10 AND 
		g.VendorID IN 
			(
				SELECT 
					VendorID 
				FROM 
					dbo.Vendor v
				WHERE
					CASE 
						WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
						WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
						WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
					END = 1
			)
	GROUP BY
		g.GameID  
		
	INSERT INTO
		#tmpGame
	select 
		  b.GameID  
		, b.GameReferenceID  
		, b.GameName  
		, b.StartDate
		, b.TicketPrice   
		, sum(cast(b.TicketsReceived as bigint)) / count(b.TicketsReceived) as TicketsOrdered  
		, sum(cast(b.TicketsOrdered as bigint)) / count(b.TicketsOrdered) as TicketsReceived 
		, ISNULL(sum(o.Quantity), 0) as Reorder
		, count(a.WeekNumber) as CountWeek   
		, sum(a.WeekSales) as TotalGameSales
		, AVG(a.WeekSales) as AvgSales
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0) as TicketQtyUsed  --1/18/19  
		, CASE  
			WHEN ISNULL(count(b.TicketsReceived), 0) > 0  THEN 'TicketsReceived'   
			WHEN ISNULL(count(b.TicketsOrdered), 0)  > 0  THEN 'TicketsOrdered'  
			ELSE 'No Ticket Quantity'  
			END as TicketValUsed 
		, 100 * (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				( 
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as SellThruPerc  --1/18/19  
		, (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				(
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as 'SellThru'  --1/18/19 
						
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) AS UnSoldToDate  					
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) / AVG(a.WeekSales) as WeeksRemaining  
		, MAX(a.WeekEndDate) as MaxWeekEndData
		, (CASE 
			WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
			WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0)) * .80  as Ticket80  
		, (CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
			WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0)) * .90  as Ticket90 
	from 
		dbo.Game b  
			join dbo.WeeklySale a on a.GameID = b.GameID
			left join dbo.GameReorder o on o.GameID = b.GameID
	where 
		b.LotteryID = @LotteryID AND 
		EXISTS (select 'x' from #tmpCloseSale where GameID = b.GameID) AND
		a.WeekSales >= 0 
	group by 
		b.GameID, b.GameReferenceID, b.GameName, StartDate, TicketPrice, b.TicketsReceived, b.TicketsOrdered

	INSERT INTO	
		#tmpSales
	select 
		  b.GameID 
		, a.WeekNumber  
		, a.WeekStartDate  
		, a.WeekEndDate  
		, a.WeekSales  
		, b.TicketPrice  
		, b.TicketQtyUsed    
		, SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) --as 'Running Total'  
		, 100 * (SUM(WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) / b.TicketPrice) / b.TicketQtyUsed  --END as 'Running SellThru %'
	from 
		dbo.WeeklySale a  
			join #tmpGame b on a.GameID = b.GameID 
	group by 
		  b.GameID 
		, a.WeekNumber  
		, a.WeekStartDate  
		, a.WeekEndDate  
		, a.WeekSales  
		, b.TicketPrice  
		, b.TicketQtyUsed  

	SELECT
		g.GameID,
		g.GameReference,
		g.GameName,
		[Launch Date] = g.StartDate,
		g.TicketPrice,
		g.TicketsOrdered,
		g.TicketsReceived,
		[# Weeks On Sale] = g.CountWeek, 
		[Final Week Ending Date] = g.MaxWeekEndDate, 
		[Final Week Sales] = s.WeekSales,
		[Ticket Qty Received] = g.TicketQtyUsed,
		[Ticket Qty Remaining] = g.UnSoldsToDate / g.TicketPrice,
		[Total Sales] = g.TotalGameSales,
		[Average Sales] = g.AvgSales,
		[Sell-Thru] = g.SellThruPerc,
		[# of Weeks to 90% Sell-Thru] = 
			CASE	
				WHEN g.SellThru < .90 THEN 0
				ELSE
					(
						ISNULL((select top 1 WeekNumber from #tmpSales where RunningSellThruPerc >= 90  and GameID = s.GameID), 0) 
					)
					
			END,
		[# of Weeks to 80% Sell-Thru] =
			CASE					
				WHEN g.SellThru < .80 THEN 0
				ELSE 
					(
						ISNULL((select top 1 WeekNumber from #tmpSales where RunningSellThruPerc >= 80  and GameID = s.GameID), 0) 
					)
			END
	FROM
		#tmpGame g 
			JOIN 
				(
					select  distinct
						c.GameID, a.WeekSales, a.WeekEndDate
					from 
						dbo.WeeklySale a 
							join #tmpCloseSale c on a.GameID = c.GameID
				) s on g.GameID = s.GameID AND g.MaxWeekEndDate = s.WeekEndDate	
	WHERE
		g.SellThruPerc < 110
	ORDER BY
		g.StartDate DESC, g.GameName, g.GameReference
END
GO
