USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetYearByCustomerCode]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/09/2019  
Description : Rewrite "uspSelectLotteryYearGameLaunch_iGradeSearch" and 'uspSelectLotteryYearGameLaunch_iGradeSearch" 
			  to retrieve the year in the dropdown for Customer Portal 

exec [spLottery_GetYearByCustomerCode] 'AZ'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/24/2020		exclude year greater than current per Todd's email
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetYearByCustomerCode]
	@CustomerCode nvarchar(10)
AS  

BEGIN    
	SET NOCOUNT ON 
  	
	SELECT   
		DISTINCT YEAR(g.StartDate) as [Year]  
	FROM 
		dbo.Game g  
			JOIN 
				(
					SELECT 
						l.LotteryID 
					FROM 
						dbo.Lottery l 
							JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
					WHERE 
						csd.SubDivisionCode = @CustomerCode
				) l ON g.LotteryID = l.LotteryID
	WHERE
		YEAR(g.StartDate) <= YEAR(GETDATE())
	ORDER BY 
		YEAR(g.StartDate) DESC  

END
GO
