USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spFeature_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectDistinctFeature" to retrieve game feature list for Customer Portal.

exec [spFeature_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spFeature_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		FeatureID, FeatureName
	FROM 
		dbo.Feature
	WHERE
		IsActive = 1
	ORDER BY
		FeatureName
END
GO
