USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructurePercentTotalByComparison]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/20/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeComparisonByPPMultiLot_iGrade" to retrieve prize 
			  structure in Customer Portal 

Note:		  Exclude Games are for the customer selected

exec [spLottery_GetPrizeStructurePercentTotalByComparison]
	'VA,IN,MA', 
	1.00, 
	'1/1/2018', 
	'2/1/2019', 
	'51001,51236,50894,49031,50137,48905,47774,48080,47174' -- excluding games fro selected customer codes

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructurePercentTotalByComparison]
	@CustomerCodes nvarchar(max),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@ExcludeGameID varchar(max) = NULL
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE 
		@c nchar(1) = N','

	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame 
	CREATE TABLE #tmpGame
		(GameID int,
		 StartDate smalldatetime,
		 LotteryID int,
		 SubDivisionCode nvarchar(10),
		 GameReferenceID nvarchar(50),
		 GameName nvarchar(60),
		 TicketPrice smallmoney,
		 PrizeID int,
		 NumberOfPrizes int,
		 PrizeAmount money,
		 PrizePayoutPercent float,
		 CalcPrizePayoutPercent float,
		 PrizePayouts money,
		 PrizePayoutsTotaled money,
		 PrizeClassification nvarchar(50),
		 FIFO smallint)
 
	INSERT INTO 
		#tmpGame
	SELECT  
		g.GameID, StartDate, g.LotteryID, c.CustomerCode, GameReferenceID, g.GameName, g.TicketPrice, ps.PrizeID, ps.NumberOfPrizes, ps.PrizeAmount, PrizePayoutPercent, CalcPrizePayoutPercent,
		PrizePayouts = 
			CASE
				WHEN PrizeAmount = 0 AND CalcPrizePayoutPercent <> 0 then  cast((cast(TicketPrice as money) * CalcPrizePayoutPercent * (NumberOfPrizes)) as money)
				WHEN PrizeAmount = 0 AND PrizePayoutPercent <> 0 then  cast((cast(TicketPrice as money)* PrizePayoutPercent * (NumberOfPrizes)) as money)
				WHEN PrizeAmount = 0 AND PrizePayoutPercent = 0 then  cast((cast(TicketPrice as money) * dbo.fnGetPrizePayoutPercent(g.LotteryID, @StartDate,TicketPrice)*(NumberOfPrizes)) as money)
				ELSE cast((PrizeAmount * NumberOfPrizes)  as money) 
			END, 
		0 as PrizePayoutsTotaled,
		PrizeClassification =
			CASE 
				WHEN ([PrizeAmount] = [TicketPrice]) AND [TopPrize] = 0 THEN 'BREAKEVEN/FREE TICKET'
				WHEN ([PrizeAmount] = 0) AND [TopPrize] = 0 THEN 'BREAKEVEN/FREE TICKET'
				WHEN [PrizeAmount] / [TicketPrice] > 1 AND [PrizeAmount] / [TicketPrice] < 2.5 AND [TopPrize] = 0 THEN '>1X TO <2.5X'
				WHEN [PrizeAmount] / [TicketPrice] >= 2.5 AND [PrizeAmount] / [TicketPrice] < 5 AND [TopPrize] = 0 THEN '2.5X TO <5X'
				WHEN [PrizeAmount] / [TicketPrice] >= 5 AND [PrizeAmount] / [TicketPrice] < 10 AND [TopPrize] = 0 THEN '5X TO <10X'
				WHEN [PrizeAmount] / [TicketPrice] >= 10 AND [PrizeAmount] / [TicketPrice] < 25 AND [TopPrize] = 0 THEN '10X TO <25X'
				WHEN [PrizeAmount] / [TicketPrice] >= 25 AND [PrizeAmount] / [TicketPrice] < 50 AND [TopPrize] = 0 THEN '25X TO <50X'
				WHEN [PrizeAmount] / [TicketPrice] >= 50 AND [PrizeAmount] / [TicketPrice] <= 100 AND [TopPrize] = 0 THEN '50X TO 100X'
				WHEN [PrizeAmount] / [TicketPrice] > 100 AND [TopPrize] = 0 THEN '>100X TO <TP'
				WHEN [TopPrize] = 1 THEN 'TOP PRIZE'
			END,
		c.[FIFO]
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
			JOIN
				(
					SELECT 
						CHARINDEX(@c + [value] + @c, @c + @CustomerCodes + @c) as [FIFO], [Value] as CustomerCode 
					FROM 
						STRING_SPLIT(@CustomerCodes, ',') 
				) c ON csd.SubDivisionCode = c.CustomerCode
	WHERE
			(NOT EXISTS
				(SELECT [value] FROM STRING_SPLIT(@ExcludeGameID, ',') WHERE [value] = g.GameID) OR @ExcludeGameID IS NULL)
		AND g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate

	UPDATE  
		a
	SET 
		PrizePayoutsTotaled = (SELECT SUM(PrizePayouts) FROM #tmpGame b WHERE a.GameID = b.GameID) 
	FROM 
		#tmpGame a
	 
	IF OBJECT_ID('tempdb.dbo.#tmpPivoted') is not null DROP TABLE #tmpPivoted
	SELECT  
		GameID, 
		LotteryID,
		SubDivisionCode,
		GameReferenceID, 
		GameName, 
		TicketPrice, 
		PrizePayoutsTotaled, 
		ISNULL([BREAKEVEN/FREE TICKET],0) as [BREAKEVEN/FREE TICKET], 
		ISNULL([>1X TO <2.5X],0) as [>1X TO <2.5X],
		ISNULL([2.5X TO <5X],0) as [2.5X TO <5X],
		ISNULL([5X TO <10X],0) as [5X TO <10X],
		ISNULL([10X TO <25X],0) as [10X TO <25X],
		ISNULL([25X TO <50X],0) as [25X TO <50X],
		ISNULL([50X TO 100X],0) as [50X TO 100X],
		ISNULL([>100X TO <TP],0) as [>100X TO <TP],
		ISNULL([TOP PRIZE],0) as [TOP PRIZE],
		FIFO
	INTO 
		#tmpPivoted
	FROM 
		(  
			SELECT  
				max(a.GameID) as GameID
				, a.LotteryID
				, a.SubDivisionCode
				, a.GameReferenceID
				, a.GameName
				, a.TicketPrice
				, a.PrizePayoutsTotaled
				, a.prizeClassification
				, PrizeLevelPercent = 
					CASE 
						WHEN a.PrizePayoutsTotaled = 0 OR a.PrizePayoutsTotaled IS NULL THEN 0
						ELSE convert(decimal(10, 3), a.PrizePayouts / a.PrizePayoutsTotaled) -- * 100                  
					END
				, a.FIFO
			FROM 
				#tmpGame a
			GROUP BY  
				a.PrizeClassification, a.PrizeID, a.GameID, a.LotteryID, a.SubDivisionCode, a.GameReferenceID, a.GameName, a.TicketPrice, a.PrizePayoutsTotaled, a.PrizePayouts, a.PrizeAmount, a.FIFO
		) as q
			PIVOT (SUM([PrizeLevelPercent]) 
				FOR [prizeClassification] IN ([BREAKEVEN/FREE TICKET], [>1X TO <2.5X], [2.5X TO <5X], [5X TO <10X], [10X TO <25X], [25X TO <50X], [50X TO 100X], [>100X TO <TP], [TOP PRIZE])
	) AS pvt

	IF OBJECT_ID('tempdb.dbo.#tmpUnpivoted') is not null DROP TABLE #tmpUnpivoted 
	SELECT 
		GameID, LotteryID, SubDivisionCode, GameReferenceID, GameName, TicketPrice, prizeClassification,PrizeLevelPercentOut,PrizePayoutsTotaled, FIFO
	INTO 
		#tmpUnpivoted
	FROM 
		(
			SELECT 
				GameID, 
				LotteryID, 
				SubDivisionCode,
				GameReferenceID, 
				GameName, 
				TicketPrice, 
				[BREAKEVEN/FREE TICKET], 
				[>1X TO <2.5X], 
				[2.5X TO <5X], 
				[5X TO <10X], 
				[10X TO <25X], 
				[25X TO <50X], 
				[50X TO 100X], 
				[>100X TO <TP], 
				[TOP PRIZE], 
				PrizePayoutsTotaled,
				FIFO
			FROM 
				#tmpPivoted
		) p
			UNPIVOT (PrizeLevelPercentOut FOR prizeClassification IN ([BREAKEVEN/FREE TICKET], [>1X TO <2.5X], [2.5X TO <5X], [5X TO <10X], [10X TO <25X], [25X TO <50X], [50X TO 100X], [>100X TO <TP], [TOP PRIZE])
	) AS unpvt

	SELECT 
		SubDivisionCode,
		prizeClassification, 
		SUM(PrizeLevelPercentOut) / COUNT(DISTINCT GameID) as 'AveragePLPercentAllocated',
		FIFO
	FROM 
		#tmpUnpivoted
	GROUP BY
		SubDivisionCode,
		FIFO,
		prizeClassification
	ORDER BY
		FIFO,
		CASE PrizeClassification 
			WHEN 'BREAKEVEN/FREE TICKET' THEN 1
			WHEN '>1X TO <2.5X' THEN 2
			WHEN '2.5X TO <5X'  THEN 3
			WHEN '5X TO <10X' THEN 4
			WHEN '10X TO <25X' THEN 5
			WHEN '25X TO <50X' THEN 6
			WHEN '50X TO 100X' THEN 7
			WHEN '>100X TO <TP' THEN 8
			WHEN 'TOP PRIZE' THEN 9
		END
END
GO
