USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/07/2019  
Description : Rewrite "uspSelectLotteryTicketPrice_multiDistinct" to get ticket prices based on comma
			  delimited text for Customer Portal

exec [spLottery_GetTicketPrice] 'AZ,VA,TX' 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices		
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTicketPrice]
	@CustomerCodes nvarchar(max)
AS  
BEGIN  
	SET NOCOUNT ON

	SELECT 
		  g.TicketPrice
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID				
	WHERE
		EXISTS 
			(
				SELECT 
					[Value] 
				FROM 
					STRING_SPLIT(@CustomerCodes, ',') 
				WHERE 
					[Value] = csd.SubDivisionCode
			) AND
		g.TicketPrice <> 7
	GROUP BY
		g.TicketPrice
	ORDER BY
		g.TicketPrice
END  
GO
