USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesAndSellThruByTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/20/2019  
Description : Rewrite Sales By game "uspGetSalesAndSellThruByPP" for Customer Portal 

exec [spLottery_GetSalesAndSellThruByTicketPrice] 'FL', '1.00' , '10/01/2016', '08/21/2019', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/24/2020		Exclude with sell-thru rate over 110% per Todd's email
3		JBrillantes		04/27/2020		order by startdate in descending order per Todd
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetSalesAndSellThruByTicketPrice]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
    @StartDate date,
    @EndDate date,
	@VendorType tinyint = 1 --(type 0=all, 1=IGT, 2=Non-IGT)
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame  
	create table #tmpGame  
		(   
			  GameID int NOT NULL INDEX idx_tmpGame_GameID 
			, GameReferenceID nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice money  
			, TicketsOrdered int  
			, TicketsReceived int  
			, Reorder int
			, CountWeek int  
			, TotalGameSales money 
			, AvgSales money
			, WeekNumber int
			, WeekEndDate smalldatetime
			, WeekSales money
			, TicketQtyUsed int 
			, TicketValUsed nvarchar(50)   
			, SellThru decimal(10, 2)  
			, WeeksRemaining decimal(10)
			, RunningSellThru decimal(30, 2)  
			, RunningSalesTotal money  
			, RunningSalesAverage money 
		) 

	INSERT INTO
		#tmpGame
	select 
		  b.GameID  
		, b.GameReferenceID  
		, b.GameName  
		, b.StartDate
		, b.TicketPrice   
		, sum(cast(b.TicketsOrdered as bigint)) / count(b.TicketsOrdered) as TicketsOrdered 
		, sum(cast(b.TicketsReceived as bigint)) / count(b.TicketsReceived) as TicketsReceived 
		, ISNULL(sum(o.Quantity), 0) as Reorder
		, count(a.WeekNumber) as CountWeek   
		, sum(a.WeekSales) as TotalGameSales
		, AVG(a.WeekSales) as AvgSales		  
		, a.WeekNumber  
		, a.WeekEndDate  
		, a.WeekSales
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0) as TicketQtyUsed  --1/18/19  
		, CASE  
			WHEN ISNULL(count(b.TicketsReceived), 0) > 0  THEN 'TicketsReceived'   
			WHEN ISNULL(count(b.TicketsOrdered), 0)  > 0  THEN 'TicketsOrdered'  
			ELSE 'No Ticket Quantity'  
			END as TicketValUsed 
		, (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				( 
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as SellThru
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) / AVG(a.WeekSales) as WeeksRemaining 
		, 100 * (SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) / b.TicketPrice) / 
					CASE  
						WHEN b.TicketsReceived > 0 THEN b.TicketsReceived   
						WHEN TicketsOrdered > 0  THEN TicketsOrdered  
						ELSE 1  
					END as RunningSellThru 
		, SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as RunningTotal  
		, AVG(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as AvgSalesRunningTotal 
	from 
		dbo.Game b  
			join dbo.WeeklySale a on a.GameID = b.GameID
			left join dbo.GameReorder o on o.GameID = b.GameID
	where 
		b.LotteryID = @LotteryID AND
		b.TicketPrice = @TicketPrice AND
		(b.StartDate BETWEEN @StartDate AND @EndDate) AND
		b.VendorID IN 
			(
				SELECT 
					VendorID 
				FROM 
					dbo.Vendor v
				WHERE
					CASE 
						WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
						WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
						WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
					END = 1
			)
	group by 
		b.GameID, b.GameReferenceID, b.GameName, StartDate, TicketPrice, b.TicketsReceived, b.TicketsOrdered, a.WeekNumber, a.WeekEndDate, a.WeekSales

	select 
		g.GameID, 
		g.GameReferenceID,
		g.GameName,
		g.TicketPrice,
		convert(varchar(10), g.StartDate, 101) as [Launch Date],
		g.WeekNumber as [Week #],
		convert(varchar(10), g.WeekEndDate, 101) as [Week Ending],
		g.WeekSales as [Sales],
		cast(g.RunningSellThru as varchar) + '%' as [Accum Sell-Thru],
		((cast(g.TicketPrice as money) * (
			CASE  
				WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
				WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered  
				ELSE 1  
			END + g.Reorder)) - g.RunningSalesTotal) / g.RunningSalesAverage as [Weeks Remaining]
	from 
		#tmpGame g
	where
		g.RunningSellThru < 110
	order by
		g.StartDate DESC, g.GameName, g.GameReferenceID, g.WeekNumber
END
GO
