USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetIndexAdvancedSearch]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/07/2019  
Description : Rewrite "uspGetIndexedDataByLottery_iGrade_CustomFilterDynamic_MultiLottery"  and 
			  to get "uspGetIndexedDataByLottery_iGrade_CustomFilterDynamic_MultiLottery_Traditional" 
			  customer codes based on comma delimited text for Customer Portal

exec [spLottery_GetIndexAdvancedSearch] 'FL', 12, '10', '01/01/2016', '12/07/2018', -1, -1, 1,1,1, NULL, -1, -1, -1, NULL

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/27/2020		order by startdate in descending order per Todd
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetIndexAdvancedSearch]
	  @CustomerCode nvarchar(10)
	, @IndexWeek int
	, @TicketPrice varchar(100) = 'ALL'
	, @StartDate smalldatetime = NULL
	, @EndDate smalldatetime = NULL	
	, @ScoreMin int = -1  
	, @ScoreMax int = -1  
	, @IsExcludeCrossword bit = 0 
	, @IsExcludeBingo bit = 0  
	, @ISExcludeHoliday bit = 0  
	, @IsLicensedProperty bit = NULL
	, @ThemeID int = -1
	, @FeatureID int = -1
	, @PlayStyleID int = -1
	, @GameName nvarchar(60) = NULL 
	, @TopPrizeAmt nvarchar(60) = NULL  
	--, @ExcludeGameName1 nvarchar(60) = NULL
	--, @ExcludeGameName2 nvarchar(60) = NULL
	--, @ExcludeGameName3 nvarchar(60) = NULL
AS  
BEGIN  
	SET NOCOUNT ON

	declare
		@LotteryID int,
		@CurrencySymbol varchar(10),
		@WSPStartDate date,
		@ThemeCrossword nvarchar(50) = 
			(
				SELECT
					CASE
						WHEN @IsExcludeCrossword = 1 THEN 'Crossword'
						ELSE NULL
					END
			),
		@ThemeBingo nvarchar(50) = 
			(
				SELECT
					CASE
						WHEN @IsExcludeBingo = 1 THEN 'Bingo'
						ELSE NULL
					END
			),
		@ThemeHoliday nvarchar(50) = 
			(
				SELECT
					CASE
						WHEN @IsExcludeHoliday = 1 THEN 'Holiday'
						ELSE NULL
					END
			)

	SELECT 
		@LotteryID = l.LotteryID, 
		@CurrencySymbol = 
			CASE 
				WHEN c.[CountryCode] = 'USA' THEN '$'
				ELSE cs.[Symbol] 
			END
	FROM 
		dbo.Lottery l 
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
			JOIN dbo.Country c ON csd.CountryID = c.CountryID
			LEFT JOIN dbo.CurrencySymbol cs ON l.LotteryID = cs.LotteryID
	WHERE 
		csd.SubDivisionCode = @CustomerCode
		
	set @WSPStartDate = 
		(
			SELECT 
				DATEADD(Day, -7, MIN(p.WeekEnding)) -- select *
			FROM 
				dbo.WeeklySalesPenetration p
					JOIN dbo.Game g	ON p.GameID = g.GameID
			WHERE 
				g.LotteryID = @LotteryID
			GROUP BY 
				g.LotteryID
		)

	IF OBJECT_ID('tempdb.dbo.#tmpWeeklySale') is not null DROP TABLE #tmpWeeklySale
	IF OBJECT_ID('tempdb.dbo.#tmpSalesCalc') is not null DROP TABLE #tmpSalesCalc
	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame
	IF OBJECT_ID('tempdb.dbo.#tmpPen') is not null DROP TABLE #tmpPen
			
	create table #tmpGame
		(
			  GameID int not null INDEX idx_tmpGame_GameID
			, StartDate smalldatetime not null INDEX idx_tmpGame_StartDate 
			, LotteryID int  
			, GameNumber nvarchar(10)
			, GameRefNumber nvarchar(50)  
			, GameName nvarchar(60)  
			, TicketPrice money not null INDEX idx_tmpGame_TicketPrice 
			, TicketsReceived int  
			, TicketsOrdered int  --new  
			, LicensedProperty bit  
			, CoreGame bit  
			, BusinessName nvarchar(50) 
			, PrimaryThemeID int
			, PrimaryThemeName nvarchar(50)  
			, SecondaryThemeID int
			, SecondaryThemeName nvarchar(50)  
			, PrimaryFeatureID int
			, PrimaryFeatureName nvarchar(50) 
			, SecondaryFeatureID int
			, SecondaryFeatureName nvarchar(50)  
			, PrimaryPlayStyleID int
			, PrimaryPlayStyleName nvarchar(50)  
			, SecondaryPlayStyleID int
			, SecondaryPlayStyleName nvarchar(50)
			, IsTopPrize bit
			, TopPrizeName nvarchar(50)
			, TopPrizeAmt money
			, NumberOfPrizes int
		)
				
	create table #tmpWeeklySale -- #tempGameSales
		(
			  GameID int not null INDEX idx_tmpGame_GameID  
			, TicketPrice smallmoney 
			, WeekNumber nvarchar(50)  
			, WeekStartDate smalldatetime  
			, WeekEndDate smalldatetime  
			, WeekSales money  
			, TicketsReceived int  
		    , TicketsOrdered int  
		    , ReorderQty int
			, RowCnt int 
		)
			
	create table #tmpSalesCalc 
		(  
			  GameID int not null INDEX idx_tmptmpSalesCalc_GameID   
			, TicketPrice smallmoney INDEX idx_tmptmpSalesCalc_TicketPrice
			, AverageByPeriod numeric
			, IndexByPeriod numeric
			, AverageAllGames numeric 
			, StandardDevAllgames numeric 
			, IndexByPeriodStandardCalc numeric
			, AverageRateOfSalesAllGames numeric
			, RoSIndex numeric
			, SellThru decimal(20, 2)
			, ActivePen decimal(10,2)
		)

	 create table #tmpPen  
		(  
			  GameID int not null INDEX idx_#tmpPen_GameID  
			, WeekNumber int  
			, WeekEnding date  			  
			, RetailerActivated int  
			, Validations money  
			, RateOfSales int  
			, TotalRetailers int --new 3/27/2018  
			, ActivePen decimal(10,2) --new 3/27/2018  
			, BeginIndicator int
			, ValSalesRowCounter int       
		)  

	declare @tmpWeekNumberDecision table
		(  
			  GameID int not null INDEX idx_tmpWeekNumberDecision_GameID   
			, Week1 nvarchar(50)  
			, Week2 nvarchar(50)  
			, Week3 nvarchar(50)  
			, Week4 nvarchar(50)  
			, WeekSales1 money  
			, WeekSales2 money  
			, WeekSales3 money  
			, WeekSales4 money  
			, [Difference] money  
			, WeekBeginIndicator int  
		) 
						
	-- insert based temp table == #tempGame
	INSERT INTO 
		#tmpGame
	SELECT  
		  g.GameID
		, g.StartDate
		, g.LotteryID 
		, g.GameNumber
		, g.GameReferenceID
		, g.GameName
		, g.TicketPrice
		, g.TicketsReceived
		, g.TicketsOrdered
		, g.LicensedProperty
		, g.CoreGame
		, l.BusinessName
		, gt.ThemeID1
		, gt.PrimaryThemeName
		, gt.ThemeID2
		, gt.SecondaryThemeName
		, gf.FeatureID1
		, gf.PrimaryFeatureName
		, gf.FeatureID2
		, gf.SecondaryFeatureName
		, gps.PlayStyleID1
		, gps.PrimaryPlayStyleName
		, gps.PlayStyleID2
		, gps.SecondaryPlayStyleName
		, tp.IsTopPrize 
		, tp.PrizeTypeName 
		, tp.PrizeAmount 
		, tp.NumberOfPrizes 
	 FROM 
		dbo.Game g	
			JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
			JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID
			JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			LEFT JOIN dbo.vwGameTopPrize tp ON g.GameID = tp.GameID
	WHERE
			g.LotteryID = @LotteryID 
		AND g.DateExcluded IS NULL
		AND (@TicketPrice = 'ALL' OR g.TicketPrice = @TicketPrice)
		AND ((@StartDate IS NULL OR g.Startdate >= @StartDate) AND (@EndDate IS NULL OR g.Startdate <= @EndDate))
		AND (@GameName IS NULL OR g.GameName LIKE + '%' + @GameName + '%')
		--AND (@ExcludeGameName1 IS NULL OR g.GameName NOT LIKE + '%' + @ExcludeGameName1 + '%')
		--AND (@ExcludeGameName2 IS NULL OR g.GameName NOT LIKE + '%' + @ExcludeGameName2 + '%')
		--AND (@ExcludeGameName3 IS NULL OR g.GameName NOT LIKE + '%' + @ExcludeGameName3 + '%')
		AND (@ThemeCrossword IS NULL OR ISNULL(gt.PrimaryThemeName, '') <> 'Crossword') 
		AND (@ThemeCrossword IS NULL OR ISNULL(gt.PrimaryThemeName, '') <> 'Crossword') 
		AND (@ThemeBingo IS NULL OR ISNULL(gt.PrimaryThemeName, '') <>'Bingo') 
		AND (@ThemeBingo IS NULL OR ISNULL(gt.SecondaryThemeName, '') <> 'Bingo')
		AND (@ThemeHoliday IS NULL OR ISNULL(gt.PrimaryThemeName, '') <> 'Holiday') 
		AND (@ThemeHoliday IS NULL OR ISNULL(gt.SecondaryThemeName, '') <> 'Holiday')
		  			
	-- insert into weeklysales temp table
	INSERT INTO	
		#tmpWeeklySale
	SELECT
		g.GameID, 
		g.TicketPrice, 
		ws.WeekNumber, 
		ws.WeekStartDate, 
		ws.WeekEndDate, 
		ws.WeekSales, 
		g.TicketsReceived, 
		g.TicketsOrdered,
		ReoderQty = ISNULL((SELECT ISNULL(Quantity, 0) FROM dbo.GameReorder WHERE GameID = ws.GameID), 0),
		RowCnt = ROW_NUMBER() OVER(PARTITION BY ws.GameID ORDER BY ws.[WeekNumber])
	FROM
		dbo.WeeklySale ws
			JOIN #tmpGame g ON ws.GameID = g.GameID
	WHERE 
		ISNULL(ws.WeekNumber, 0) > 0 
			
	-- insert into weeknumberdecision temp table
	INSERT INTO	
		@tmpWeekNumberDecision
	SELECT  
			d.GameID   
		, d.RowCnt as Week1  
		, c.RowCnt as Week2  
		, b.RowCnt as Week3  
		, a.RowCnt as Week4  
		, d.WeekSales as Week1Sales  
		, c.WeekSales as Week2Sales  
		, b.WeekSales as Week3Sales  
		, a.WeekSales as Week4Sales  
		, (c.WeekSales / 2) as [Difference] -- week2 greater than 50% of week1?  
		, WeekBeginIndicator = 
			case 
				when d.WeekSales > '10000.00' and c.WeekSales > '10000.00' then  
					case  
						when (c.WeekSales / 2) < d.WeekSales then 1  
						when (b.WeekSales / 2) < c.WeekSales then 2  
						when (a.WeekSales / 2) < b.WeekSales then 3  
						else 4  
					end  
				else  
					case   
						when (c.WeekSales / 2) > d.WeekSales then 2  
						when (b.WeekSales / 2) > c.WeekSales then 3  
						when (a.WeekSales / 2) > b.WeekSales then 4  
						else 1  
					end  
			end   
	FROM 
		#tmpWeeklySale d  
			LEFT JOIN #tmpWeeklySale c ON d.RowCnt + 1 = c.RowCnt AND d.GameID = c.GameID  
			LEFT JOIN #tmpWeeklySale b ON c.RowCnt + 1 = b.RowCnt AND d.GameID = b.GameID  
			LEFT JOIN #tmpWeeklySale a ON b.RowCnt + 1 = a.RowCnt AND d.GameID = a.GameID  
	WHERE 
		a.RowCnt <= 4  OR 
		b.RowCnt <= 3  
		
	-- insert into calculated sales average index temp table
	INSERT INTO 
		#tmpSalesCalc (GameID, TicketPrice, AverageByPeriod, SellThru)
	SELECT 
		a.GameID, a.TicketPrice, AVG(a.WeekSales) as AverageByPeriod, 
		CASE 
			WHEN (ISNULL(a.TicketsReceived, 0)) > 0 THEN 100 * (@IndexWeek * (AVG(a.WeekSales) / a.TicketPrice) / ((ISNULL(a.TicketsReceived, 0)) + (ISNULL(a.ReorderQty, 0))))  
			WHEN (ISNULL(a.TicketsOrdered, 0)) > 0 THEN 100 * (@IndexWeek * (AVG(a.WeekSales) / a.TicketPrice) / ((ISNULL(a.TicketsOrdered, 0)) + (ISNULL(a.ReorderQty, 0))))  
			ELSE 0  
		END    
	FROM 
		#tmpWeeklySale a   
			RIGHT JOIN #tmpWeeklySale b ON a.GameID = b.GameID AND b.RowCnt >= @IndexWeek + (select ISNULL(WeekBeginIndicator, 0) from @tmpWeekNumberDecision where GameID = a.GameID) - 1
	WHERE 
			a.GameID IS NOT NULL
		AND a.RowCnt >= (select ISNULL(WeekBeginIndicator, 0) from @tmpWeekNumberDecision where GameID = a.GameID)  
		AND a.RowCnt <=  (@IndexWeek + (select ISNULL(WeekBeginIndicator, 0) from @tmpWeekNumberDecision where GameID = a.GameID) - 1) 
	GROUP BY 
		a.GameID, a.TicketPrice, a.TicketsReceived, a.TicketsOrdered, a.ReorderQty 

	-- insert into penetration sales temp table
	INSERT INTO 
		#tmpPen
	SELECT 
		p.GameID, 
		p.WeekNumber, 
		p.WeekEnding, 
		p.RetailerActivated, 
		p.ValidationAmt, 
		p.ValidationAmt / p.RetailerActivated AS RateOfSale,
		p.TotalRetailers, 
		(100.0 * p.RetailerActivated) / p.TotalRetailers,
		d.WeekBeginIndicator, 
		ROW_NUMBER() OVER(PARTITION BY g.GameID ORDER BY p.WeekNumber asc) AS intValSalesRow 
    FROM 
		dbo.WeeklySalesPenetration p  
			JOIN @tmpWeekNumberDecision d ON p.GameID = d.GameID  
			JOIN #tmpGame g ON p.GameID = g.GameID  
	WHERE 
			p.WeekNumber >= 1   
		AND ISNULL(ValidationAmt, 0) > '0' -- 11/29/2017 to avoid divide by zero error?  
		AND g.StartDate >= @WSPStartDate

	declare
		@AverageAllGames numeric = (select AVG(AverageByPeriod) from #tmpSalesCalc),
		@StandardDevAllGames numeric = (select STDEV(AverageByPeriod) from #tmpSalesCalc),
		@AverageRateOfSalesAllGames numeric = (select AVG(RateOfSales) from #tmpPen)

	SELECT
		g.GameID, 
		g.StartDate, 
		g.GameRefNumber, 
		g.GameName, 
		[Price] = @CurrencySymbol + CAST(g.TicketPrice as varchar),
		[Average Sales] = PARSENAME(@CurrencySymbol + Convert(varchar, cast(sc.AverageByPeriod as money), 1), 2),
		[Index] = (100 + (25 * ((sc.AverageByPeriod - @AverageAllGames) / @StandardDevAllGames))), -- IndexByPeriod
		[Standard Index] = (100 * (sc.AverageByPeriod / @AverageAllGames)), -- IndexByPeriodStandardCalc
		[AverageAllGames] = (@AverageAllGames), 
		[StandardDevAllGames] = (@StandardDevAllGames),
		[Average RoS] = 
			CASE
				WHEN (select AVG(RateOfSales) from #tmpPen where GameID = sc.GameID) IS NOT NULL 
					THEN (select AVG(RateOfSales) from #tmpPen where GameID = sc.GameID)
				ELSE 0
			END,		
		[RoS Index] = 
			CASE
				WHEN (select AVG(RateOfSales) from #tmpPen where GameID = sc.GameID) IS NOT NULL AND @AverageRateOfSalesAllGames IS NOT NULL 
					THEN 100 * ((select AVG(RateOfSales) from #tmpPen where GameID = sc.GameID) / @AverageRateOfSalesAllGames)
				ELSE 0
			END, 			
		[Active Penetration] = (select ActivePen from #tmpPen where GameID = sc.GameID and ValSalesRowCounter = @IndexWeek),			
		SellThru = FORMAT(sc.SellThru / 100, 'P'),
		g.PrimaryThemeName,
		g.SecondaryThemeName,
		g.PrimaryFeatureName,
		g.SecondaryFeatureName,
		g.PrimaryPlayStyleName,
		g.SecondaryPlayStyleName,
		CASE
			WHEN g.LicensedProperty = 1 THEN 'Yes'
			ELSE 'No'
		END AS LicensedProperty, 
		CASE
			WHEN g.IsTopPrize = 1 THEN 'Yes'
			ELSE 'No'
		END AS TopPrize,
		g.TopPrizeName,
		g.TopPrizeAmt,
		g.NumberOfPrizes
	FROM
		#tmpGame g
			JOIN #tmpSalesCalc sc ON g.GameID = sc.GameID
			LEFT JOIN #tmpPen p ON sc.GameID = p.GameID
	WHERE
			(@IsLicensedProperty IS NULL OR g.LicensedProperty = @IsLicensedProperty)
		AND (@TopPrizeAmt IS NULL OR g.TopPrizeAmt >= @TopPrizeAmt)
		AND (@ScoreMin = -1 OR CAST(100 * (sc.AverageByPeriod / @AverageAllGames) AS INT) >= @ScoreMin)
		AND (@ScoreMax = -1 OR CAST(100 * (sc.AverageByPeriod / @AverageAllGames) AS INT) <= @ScoreMax)
		AND (@ThemeID = -1 OR g.PrimaryThemeID = @ThemeID OR g.SecondaryThemeID = @ThemeID)
		AND (@FeatureID = -1 OR g.PrimaryFeatureID = @FeatureID OR g.SecondaryFeatureID = @FeatureID)
		AND (@PlayStyleID = -1 OR g.PrimaryPlayStyleID = @PlayStyleID OR g.SecondaryPlayStyleID = @PlayStyleID)
	ORDER BY
		g.StartDate DESC, g.GameName, g.GameRefNumber
END
GO
