USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spFavorite_Del]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/06/2019  
Description : To delete customer favorite game
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spFavorite_Del]
	@FavoriteID int,
	@RetVal int OUTPUT,
	@RetMsg nvarchar(max) OUTPUT
AS  
BEGIN  
	SET NOCOUNT ON

	SET @RetVal = 0
	SET @RetMsg = 'The game has been successfully removed from your favorites.'

	BEGIN TRY
		BEGIN TRANSACTION

		UPDATE
			f
		SET
			IsActive = 0,
			DateDeleted = GetDate()
		FROM
			dbo.Favorite f
		WHERE 
			f.FavoriteID = @FavoriteID

		COMMIT
	END TRY

	BEGIN CATCH
		ROLLBACK 

		SET	@RetVal = ERROR_NUMBER()
		SET @RetMsg = ERROR_MESSAGE()
	END CATCH

	RETURN
END  
GO
