USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetGameCountAndIndex]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/08/2019  
Description : Rewrite Games Launched Page "uspChartLotteryTotalGameCountandThumbsIndexed_Structured" 
			  and "uspChartLotteryTotalGameCountandThumbs_Structured" into 1 sproc for Customer Portal 

exec [spLottery_GetGameCountAndIndex] 'AZ', 2017, -1, 1, 1, 1   

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/27/2020		order by startdate in descending order per Todd
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetGameCountAndIndex]
	@CustomerCode nvarchar(10),
	@StartYear int,
	@TicketPrice money = -1,			-- default to all ticket price
	@IsIncludePriorYear tinyint = 0,	-- default to not include prior year
	@IsShowIndex tinyint = 0,			-- default to not calculate index	
	@IsFiscalYear tinyint = 0			-- default to calendar year
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@FYEndMonthDay nvarchar(50),		
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@NumWeeksToCalc int = 10 

	declare @tmpLotteryPrice table  
		(TicketPrice money NOT NULL INDEX idx_tmpLotteryPrice_TicketPrice)  
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	
	SET	@FYEndMonthDay = 
		(
			SELECT
				f.FYEnds
			FROM 
				dbo.LotteryFact f 
			WHERE 
				f.LotteryID = @LotteryID
		)
	
	-- insert ticket price(s) for this Lottery ID
	INSERT INTO 
		@tmpLotteryPrice
	SELECT DISTINCT	
		TicketPrice
	FROM
		dbo.Game
	WHERE
			LotteryID = @LotteryID
		AND (@TicketPrice = -1 OR TicketPrice = @TicketPrice)
		
	IF @IsFiscalYear = 1
		BEGIN
			set @FYEnd = CAST(CAST(@StartYear as char(4)) + '/' + @FYEndMonthDay as date)
			set @FYStart = DATEADD(Year, -1, DATEADD(Day, 1, CAST(@FYEnd as date))) 
		END
	ELSE
		BEGIN
			set @FYStart = '01/01/' + CAST(@StartYear as char(4))
			set @FYEnd = '12/31/' + CAST(@StartYear as char(4))
		END

	IF @IsIncludePriorYear = 1
		BEGIN
			set @FYStart = DATEADD(Year, -1, CONVERT(Date, @FYStart))
		END
	
	-- this will calculate index
	IF @IsShowIndex = 1
		BEGIN
			IF OBJECT_ID('tempdb.dbo.#tmpWeeklySale') is not null DROP TABLE #tmpWeeklySale
			IF OBJECT_ID('tempdb.dbo.#tmpSalesCalc') is not null DROP TABLE #tmpSalesCalc
			IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame
			
			create table #tmpGame
				(
					  GameID int not null INDEX idx_tmpGame_GameID  
					, GameRefNumber nvarchar(50)
					, GameNumber nvarchar(10)
					, GameName nvarchar(60) 
					, StartDate smalldatetime not null INDEX idx_tmpGame_StartDate
					, TicketPrice money not null INDEX idx_tmpGame_TicketPrice
					, ImgPath nvarchar(400)
				)
				
			create table #tmpWeeklySale
				(
					GameID int not null INDEX idx_tmpGame_GameID  
					, TicketPrice smallmoney 
					, WeekNumber nvarchar(50)  
					, WeekStartDate smalldatetime  
					, WeekEndDate smalldatetime  
					, WeekSales money  
					, RowCnt int 
				)
			
			create table #tmpSalesCalc 
				(  
					GameID int not null INDEX idx_tmptmpSalesCalc_GameID   
					, TicketPrice smallmoney INDEX idx_tmptmpSalesCalc_TicketPrice
					, AverageByPeriod numeric  
				 )

			declare @tmpWeekNumberDecision table
				(  
					  GameID int not null INDEX idx_tmpWeekNumberDecision_GameID   
					, Week1 nvarchar(50)  
					, Week2 nvarchar(50)  
					, Week3 nvarchar(50)  
					, Week4 nvarchar(50)  
					, WeekSales1 money  
					, WeekSales2 money  
					, WeekSales3 money  
					, WeekSales4 money  
					, [Difference] money  
					, WeekBeginIndicator int  
				 ) 
						
			-- insert based temp table
			INSERT INTO 
				#tmpGame
			SELECT 
				  g.GameID  
				, g.GameReferenceID  
				, g.GameNumber  
				, g.GameName  
				, g.StartDate  
				, g.TicketPrice  
				--, gg.[Path] as [ImgPath] 
				, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) as [ImgPath]
			FROM 
				dbo.Game g  
					LEFT JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID  
			WHERE
					g.LotteryID = @LotteryID 
				AND g.DateExcluded IS NULL
				AND (g.StartDate >= @FYStart and g.StartDate <= @FYEnd)  
				AND EXISTS 
					(
						SELECT 'x' FROM @tmpLotteryPrice WHERE TicketPrice = g.TicketPrice
					)
  			
			-- insert into weeklysales temp table
			INSERT INTO	
				#tmpWeeklySale
			SELECT
				g.GameID, g.[TicketPrice], ws.[WeekNumber], ws.[WeekStartDate], ws.[WeekEndDate], ws.[WeekSales], RowCnt = ROW_NUMBER() OVER(PARTITION BY ws.GameID ORDER BY ws.[WeekNumber])
			FROM
				dbo.WeeklySale ws
					JOIN dbo.Game g ON ws.GameID = g.GameID
			WHERE 
					g.LotteryID = @LotteryID
				AND g.DateExcluded IS NULL
				AND g.StartDate >= (SELECT DATEADD(Year, -3, CAST(MAX(StartDate) as Date)) from #tmpGame)
				AND EXISTS 
					(
						SELECT 'x' FROM @tmpLotteryPrice WHERE TicketPrice = g.TicketPrice
					)
			
			-- insert into weeknumberdecision temp table
			INSERT INTO	
				@tmpWeekNumberDecision
			SELECT  
				  d.GameID   
				, d.RowCnt as Week1  
				, c.RowCnt as Week2  
				, b.RowCnt as Week3  
				, a.RowCnt as Week4  
				, d.WeekSales as Week1Sales  
				, c.WeekSales as Week2Sales  
				, b.WeekSales as Week3Sales  
				, a.WeekSales as Week4Sales  
				, (c.WeekSales / 2) as [Difference] -- week2 greater than 50% of week1?  
				, WeekBeginIndicator = 
					case 
						when d.WeekSales > '10000.00' and c.WeekSales > '10000.00' then  
							case  
								when (c.WeekSales / 2) < d.WeekSales then 1  
								when (b.WeekSales / 2) < c.WeekSales then 2  
								when (a.WeekSales / 2) < b.WeekSales then 3  
								else 4  
							end  
						else  
							case   
								when (c.WeekSales / 2) > d.WeekSales then 2  
								when (b.WeekSales / 2) > c.WeekSales then 3  
								when (a.WeekSales / 2) > b.WeekSales then 4  
								else 1  
							end  
					end   
			FROM 
				#tmpWeeklySale d  
					LEFT JOIN #tmpWeeklySale c ON d.RowCnt + 1 = c.RowCnt AND d.GameID = c.GameID  
					LEFT JOIN #tmpWeeklySale b ON c.RowCnt + 1 = b.RowCnt AND d.GameID = b.GameID  
					LEFT JOIN #tmpWeeklySale a ON b.RowCnt + 1 = a.RowCnt AND d.GameID = a.GameID  
			WHERE 
				a.RowCnt <= 4  OR 
				b.RowCnt <= 3  
			
			-- insert into calculated sales average index temp table
			INSERT INTO 
				#tmpSalesCalc (GameID, TicketPrice, AverageByPeriod)
			SELECT 
				a.GameID, a.TicketPrice, AVG(a.WeekSales) as AverageByPeriod
			FROM 
				#tmpWeeklySale a   
					RIGHT JOIN #tmpWeeklySale b on a.GameID = b.GameID and b.RowCnt >= @NumWeeksToCalc  
			WHERE 
				a.WeekNumber >= 0 + (select WeekBeginIndicator from @tmpWeekNumberDecision where GameID = a.GameID)  
				 and a.RowCnt <=  @NumWeeksToCalc + (select WeekBeginIndicator from @tmpWeekNumberDecision where GameID = a.GameID) -1 
			GROUP BY 
				a.GameID, a.TicketPrice  

			SELECT
				g.GameID, 
				g.GameRefNumber, 
				g.GameNumber, 
				g.GameName, 
				g.StartDate, 
				g.TicketPrice, 
				g.ImgPath, 
				@StartYear as [Year], 
				[PeriodType] = 
					CASE @IsFiscalYear 
						WHEN 1 THEN 'Fiscal'
						ELSE 'Calendar'
					END,  
				[Index] = 100 * (sc.AverageByPeriod / (select AVG(AverageByPeriod) from #tmpSalesCalc)) 
			FROM
				#tmpGame g
					JOIN #tmpSalesCalc sc ON g.GameID = sc.GameID
			ORDER BY
				g.StartDate DESC, g.TicketPrice, g.GameName 
		END
	ELSE
		BEGIN
			SELECT 
				  g.GameID  
				, g.GameReferenceID  
				, g.GameNumber  
				, g.GameName  
				, g.StartDate  
				, g.TicketPrice  
				--, gg.[Path] as [ImgPath]  
				, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS [ImgPath]
				, @StartYear as [Year] 
				, [PeriodType] = 
					CASE @IsFiscalYear 
						WHEN 1 THEN 'Fiscal'
						ELSE 'Calendar'
					END  
				, 'N/A' as [Index]  
			FROM 
				dbo.Game g  
					LEFT JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID  
			WHERE
					g.LotteryID = @LotteryID 
				AND g.DateExcluded IS NULL
				AND (g.Startdate >= @FYStart and g.StartDate <= @FYEnd)  
				AND EXISTS 
					(
						SELECT 'x' FROM @tmpLotteryPrice WHERE TicketPrice = g.TicketPrice
					)
  			ORDER BY 
				g.StartDate DESC, g.TicketPrice, g.GameName  
		END
END
GO
