USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySale_GetWeekEndYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/05/2019  
Description : Rewrite average count by PlayStyle "uspSelectSalesWeekEndingsForYear" 
			  for Customer Portal 

exec [spWeeklySale_GetWeekEndYear] 'AZ', 2017, 1

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySale_GetWeekEndYear]
	@CustomerCode nvarchar(10),
	@YearStart int,
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS 
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,	
		@FYStartMonthDay nvarchar(50),
		@FYEndMonthDay nvarchar(50),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),		
		@FYStart  nvarchar(10) ,
		@FYEnd  nvarchar(10)  
		
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	
	SELECT 
		@FYEndMonthDay = FYEnds,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM	
		dbo.LotteryFact  
	WHERE 
		LotteryID = @LotteryID 

	IF @IsFiscalYear = 1
		BEGIN
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE)) 
			set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) as nvarchar) + '/' + cast(DATEPART(d, @FYStartMonthDay) as nvarchar)

			set @FYStart = (SELECT dbo.fnFiscalYearStartDate(CAST(@YearStart as varchar(4)), @FYEndMonthDay))  
  			set @FYStart = CAST(@FYStart as varchar(4)) + '/' + @FYStartMonthDay 

			if @FYEndMonthDay = '1/3'  
				begin  
					set @FYEnd = CAST(@YearStart + 1 as varchar(4)) + '/' + CAST(@FYEndMonthDay as varchar(4))  
					set @FYStart = CAST(@YearStart as varchar(4)) + '/' + @FYStartMonthDay 
				end  
			else  
				begin  
					set @FYEnd = CAST(@YearStart as varchar(4)) + '/' + CAST(@FYEndMonthDay as varchar(4))  
				end  
		END
	
	SELECT DISTINCT
		  CONVERT(VARCHAR(10), ws.WeekEndDate, 101) AS [Week Ending] 
		, ws.WeekEndDate  
		, CONVERT(VARCHAR(10), ws.WeekStartDate, 101) AS [Week Start]
		, ws. WeekStartDate  
    FROM 
		dbo.WeeklySale ws  
			JOIN dbo.Game g on ws.GameID = g.GameID   
    WHERE 
			g.LotteryID = @LotteryID 
		AND ws.weekenddate >= 
						CASE
							WHEN @IsFiscalYear = 1 THEN @FYStart
							ELSE @CalStart + '/' + CAST(@YearStart as char)  
						END
		AND ws.weekenddate <= 
						CASE
							WHEN @IsFiscalYear = 1 THEN @FYEnd
							ELSE @CalEnd + '/' + CAST((@YearStart + 1) as char)
						END
    ORDER BY
		ws.WeekEndDate DESC
END
GO
