USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesForTop40]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/20/2019  
Description : Rewrite Sales By game "uspGetSalesDataForTopFortyGamesExcel" for Customer Portal 

exec [spLottery_GetSalesForTop40] @CustomerCode='VA', @VendorType=0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetSalesForTop40]
	@CustomerCode nvarchar(10),
	@VendorType tinyint = 1 --(type 0=all, 1=IGT, 2=Non-IGT)
AS 
BEGIN    
	SET ANSI_WARNINGS OFF -- to ignore NULLS in the aggregate function
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int,
		@MaxSaleDate date,
		@columns varchar(4000),
		@query nvarchar(max)
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
	-- get MAX date from weeklysales table
	set @MaxSaleDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID 
		)  
	
	SELECT
		@columns = COALESCE(@columns + ', [' + convert(varchar(10), wn.WeekEndDate, 101) + ']', '[' +  convert(varchar(10), wn.WeekEndDate, 101) + ']')
	FROM 
		(
			SELECT DISTINCT TOP 5   
				s.WeekEndDate  
			FROM 
				dbo.Game g  
					join dbo.WeeklySale s on g.GameID = s.GameID
			WHERE 
				g.LotteryID = @LotteryID 
			ORDER BY 
				s.WeekEndDate DESC 
		) wn
	ORDER BY 
		wn.WeekEndDate

	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame  
	create table #tmpGame  
		(   
			  GameID int NOT NULL INDEX idx_tmpGame_GameID 
			, GameReferenceID nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice money  
			, TicketsOrdered int  
			, TicketsReceived int  
			, Reorder int
			, CountWeek int  
			, TotalGameSales money 
			, AvgSales money
			, WeekNumber int
			, WeekEndDate smalldatetime
			, WeekSales money
			, TicketQtyUsed int 
			, TicketValUsed nvarchar(50)   
			, SellThru decimal(10, 2)  
			, WeeksRemaining decimal(10)
			, RunningSellThru decimal(30, 2)  
			, RunningSalesTotal money  
			, RunningSalesAverage money 
		) 

	INSERT INTO
		#tmpGame
	select 
		  b.GameID  
		, b.GameReferenceID  
		, b.GameName  
		, b.StartDate
		, b.TicketPrice   
		, sum(cast(b.TicketsReceived as bigint)) / count(b.TicketsReceived) as TicketsOrdered  
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END as TicketsReceived
		, ISNULL(sum(o.Quantity), 0) as Reorder
		, count(a.WeekNumber) as CountWeek   
		, sum(a.WeekSales) as TotalGameSales
		, AVG(a.WeekSales) as AvgSales		  
		, a.WeekNumber  
		, a.WeekEndDate  
		, a.WeekSales
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0) as TicketQtyUsed  --1/18/19  
		, CASE  
			WHEN ISNULL(count(b.TicketsReceived), 0) > 0  THEN 'TicketsReceived'   
			WHEN ISNULL(count(b.TicketsOrdered), 0)  > 0  THEN 'TicketsOrdered'  
			ELSE 'No Ticket Quantity'  
			END as TicketValUsed 
		, (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				( 
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as SellThru
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) / AVG(a.WeekSales) as WeeksRemaining 
		, 100 * (SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) / b.TicketPrice) / 
					CASE  
						WHEN b.TicketsReceived > 0 THEN b.TicketsReceived   
						WHEN TicketsOrdered > 0  THEN TicketsOrdered  
						ELSE 1  
					END as RunningSellThru 
		, SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as RunningTotal  
		, AVG(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as AvgSalesRunningTotal 
	from 
		dbo.Game b  
			join dbo.WeeklySale a on a.GameID = b.GameID
			left join dbo.GameReorder o on o.GameID = b.GameID
			join
				(
					SELECT TOP 40 
						 g.GameID, s.WeekSales 
					FROM 
						dbo.Game g  
							join dbo.WeeklySale s on g.GameID = s.GameID
					where 
							g.LotteryID = @LotteryID  
						AND s.WeekEndDate = @MaxSaleDate
						AND g.VendorID IN 
							(
								SELECT 
									VendorID 
								FROM 
									dbo.Vendor v
								WHERE
									CASE 
										WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
										WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
										WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
									END = 1
							)
					ORDER BY
						s.WeekSales DESC 
				) sl on b.GameID = sl.GameID
	where 
		b.LotteryID = @LotteryID AND
		a.WeekEndDate IN 
			(		
				SELECT DISTINCT TOP 5   
					s.WeekEndDate  
				FROM 
					dbo.Game g  
						join dbo.WeeklySale s on g.GameID = s.GameID
				WHERE 
					g.LotteryID = @LotteryID 
				ORDER BY
					s.WeekEndDate DESC
			) 		
	group by 
		b.GameID, b.GameReferenceID, b.GameName, StartDate, TicketPrice, b.TicketsReceived, b.TicketsOrdered, a.WeekNumber, a.WeekEndDate, a.WeekSales

	set @query = 	
	'SELECT 
		   TicketPrice as [Ticket Price]
		 , GameReferenceID as GameID    
		 , GameName as [Game Name]
		 , convert(varchar(10), StartDate, 101) as [Launch Date]
		 , isnull(cast(WeeksRemaining as nvarchar), '''') as [Weeks Remaining]    
		 , WeeksOnSale as [Weeks On Sale] ,'
		 + @columns +  
	' FROM
		(
			select 
				g.GameID, 
				g.GameReferenceID,
				g.GameName,
				g.TicketPrice,
				g.StartDate,
				s.SumWeekSales, 
				c.WeeksOnSale, 
				g.WeekSales,
				g.WeekEndDate,
				UnsoldValue = 
				CASE
					WHEN (g.TicketPrice * (g.TicketsReceived + g.Reorder)) - s.SumWeekSales > 9 THEN (g.TicketPrice * (g.TicketsReceived + g.Reorder)) - s.SumWeekSales
					ELSE NULL
				END,
				AvgWeekSales = 
					(select avg(ws.WeekSales) as AvgWeekSales
					 from dbo.WeeklySale ws
					 where
						ws.GameID = g.GameID AND
						WeekEndDate >= (select dateadd(week, -12, max(WeekEndDate)) from dbo.WeeklySale where GameID = ws.GameID)),
				WeeksRemaining = CAST(
				CASE
					WHEN c.WeeksOnSale > 0 THEN 
						CASE
							WHEN (g.TicketPrice * (g.TicketsReceived + g.Reorder)) - s.SumWeekSales > 9 THEN (g.TicketPrice * (g.TicketsReceived + g.Reorder)) - s.SumWeekSales
						END / (select avg(ws.WeekSales) as AvgWeekSales
					 from dbo.WeeklySale ws
					 where
						ws.GameID = g.GameID AND
						WeekEndDate >= (select dateadd(week, -12, max(WeekEndDate)) from dbo.WeeklySale where GameID = ws.GameID))
				END AS DECIMAL)
			from 
				#tmpGame g
					join
						(select GameID, sum(WeekSales) as SumWeekSales
						 from dbo.WeeklySale
						 group by GameID
						) s on g.GameID = s.GameID
					join
						(select GameID, count(WeekEndDate) as WeeksOnSale
						 from dbo.WeeklySale
						 group by GameID
						) c on g.GameID = c.GameID
		) ws
			PIVOT (max(ws.WeekSales) FOR ws.WeekEndDate IN (' +  @columns + ')) AS p 
	ORDER BY
		StartDate DESC, TicketPrice, GameName'   
	
	EXEC sp_executesql @query

	SET ANSI_WARNINGS OFF
END
GO
