USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spFavorite_Save]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/06/2019  
Description : To insert customer favorite game
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spFavorite_Save]
	@UserName nvarchar(100),
	@GameID int,
	@RetVal int OUTPUT,
	@RetMsg nvarchar(max) OUTPUT
AS  
BEGIN  
	SET NOCOUNT ON

	SET @RetVal = 0
	SET @RetMsg = 'This game has been added successfully in your favorites.'

	BEGIN TRY
		IF NOT EXISTS (SELECT 'x' FROM dbo.Favorite WHERE UserName = @UserName AND GameID = @GameID AND ISNULL(IsActive, 0) = 1)
			BEGIN
				BEGIN TRANSACTION

				INSERT INTO 
					dbo.Favorite
				SELECT 
					@GameID as GameID, 
					@UserName as UserID, 
					GetDate() as DateAdded, 
					1 as IsActive, 
					NULL as DateDeleted

				COMMIT
			END
	END TRY

	BEGIN CATCH
		ROLLBACK 

		SET	@RetVal = ERROR_NUMBER()
		SET @RetMsg = ERROR_MESSAGE()
	END CATCH

	RETURN
END 
GO
