USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTotalYTDSales_CalYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 07/31/2019  
Description : Rewrite Initial Report Query Sales YTD "uspGetLotteryTotalYTDSales_Structured_CalYear"
				for Customer Portal 

exec [spLottery_GetTotalYTDSales_CalYear] 'AZ'  

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetTotalYTDSales_CalYear]
	@CustomerCode nvarchar(10)     
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@SalesType nvarchar(50),
		@FYEndMonthDay nvarchar(50)
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@SalesType = COALESCE(st.SalesType, ''), @FYEndMonthDay = f.FYEnds  
	FROM 
		dbo.LotteryFact f  
			LEFT JOIN dbo.SalesType st ON f.SalesTypeID = st.SalesTypeID  
	WHERE 
		f.LotteryID = @LotteryID
   
	declare @FYStartMonthDay nvarchar(50)  
	set @FYStartMonthDay = DATEADD(d, + 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDay = cast(DATEPART(m, @FYStartMonthDay)as nvarchar) + '/' + cast(DATEPART(d, @FYStartMonthDay) as nvarchar)  
	
	-- get MAX date from weeklysales table, california lottery, current FY  
	declare @MaxSalesDate date --smalldatetime  
	
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID  
		)  
   
	declare @PriorWeekSalesDate date --smalldatetime  
     
	-- determine what FY is current...   
	declare @tmpCurrFY int  
	set @tmpCurrFY = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) ) --<< max([WeekEndDate] from sales... for ny this is going to return  
   
    
	declare @cyear int  
	SET @cyear = YEAR(getdate())  
	--print @cyear  
   
	--C A L E N D A R   
	-- get dates from table instead of hardcode  
	declare 
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@FYStart  nvarchar(10),
		@FYEnd nvarchar(10),
		@cntWeeks int
	
	SELECT 
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM 
		dbo.LotteryFact	
	WHERE 
		LotteryID = @LotteryID
  
	set @FYStart = cast(@cyear as varchar(4)) +  '/' + @CalStart  --as DATE)   
	set @FYEnd =cast(@cyear+1 as varchar(4)) +  '/' + @CalEnd  --as DATE)   
    	
	set @cntWeeks= DATEDIFF(day, @FYStart,@MaxSalesDate)  
	set @cntWeeks = case   
						when @cntWeeks/7 < 1 then 1  
						else @cntWeeks/7 + 1 
					end  
  
	declare @PriorStartDate nvarchar(50)  
	
	set @PriorStartDate = dateadd(yy, -1, cast(@FYStart as DATE))  
	set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))  
    
	SELECT
		@MaxSalesDate as [Curr Week],
		ws.WeekSalesCurr as [Curr Week Sales],
		ts.TotalSalesCurr as [YTD Sales],
		@PriorWeekSalesDate as [Prior Year Week],
		wsp.WeekSalesPrior as [Prior Year Week Sales], 
		tsp.TotalSalesPrior as [Prior Year YTD Sales], 
		ws.WeekSalesCurr - wsp.WeekSalesPrior as [Week Difference],
		CAST(CAST(((ws.WeekSalesCurr - wsp.WeekSalesPrior) / wsp.WeekSalesPrior) * 100 AS DECIMAL(12, 2)) AS VARCHAR) + '%' as [as '% Change Week],
		ts.TotalSalesCurr - tsp.TotalSalesPrior as [YTD Difference],  
		CAST(CAST(((ts.TotalSalesCurr - tsp.TotalSalesPrior) / tsp.TotalSalesPrior) * 100 as decimal(12, 2)) as VARCHAR) + '%' as [% Change Year],
		@cntWeeks as [Weeks],
		@tmpCurrFY as [Current Year],
		@FYStartMonthDay as [Start Month Day],
		@SalesType as [Sales Type]
	FROM
		(
			SELECT  
				g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as WeekSalesCurr
			FROM 
				dbo.WeeklySale ws
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				ws.WeekEndDate = @MaxSalesDate
			GROUP BY
				g.LotteryID
			HAVING 
				g.LotteryID = @LotteryID
		) ws
			JOIN
				(
					SELECT  
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as WeekSalesPrior
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID   						
					WHERE 
						ws.WeekEndDate  = @PriorWeekSalesDate
					GROUP BY
						g.LotteryID
				) wsp ON wsp.LotteryID = ws.LotteryID
			JOIN
				(
					SELECT  
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as TotalSalesCurr
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID 						
					WHERE 
						ws.WeekEndDate >= @FYStart AND
						ws.WeekEndDate <= GETDATE() 
					GROUP BY
						g.LotteryID	
				) ts ON ts.LotteryID = ws.LotteryID
			JOIN
				(
					SELECT 
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as TotalSalesPrior
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID    
					WHERE 
						ws.WeekEndDate >= @PriorStartDate AND
						ws.WeekEndDate <= @PriorWeekSalesDate 
					GROUP BY
						g.LotteryID	
				) tsp ON tsp.LotteryID = ws.LotteryID
END
GO
