USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTicketPriceByCustomerCode]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/09/2019  
Description : Rewrite "uspSelectLotteryTicketPrice_iGradeSearch" to get ticket prices by customer code
			  for Customer Portal

exec [spLottery_GetTicketPriceByCustomerCode] 'VA' 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/24/2020		exclude year greater than current per Todd's email
3		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices				
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTicketPriceByCustomerCode]
	@CustomerCodes nvarchar(10) = 'ALL'
AS  
BEGIN  
	SET NOCOUNT ON

	SELECT DISTINCT 
		g.TicketPrice AS [Raw Price Point], 
		l.CurrencySymbol + PARSENAME(CONVERT(NVARCHAR, CAST(g.TicketPrice AS MONEY), 1), 2) AS [TicketPrice],
		g.TicketPrice AS [Price Point]
	FROM 
		dbo.Game g  
			JOIN 
				(
					SELECT 
						l.LotteryID, 
						CurrencySymbol = 
							CASE
								WHEN c.Symbol IS NULL THEN '$'	-- US
								ELSE c.Symbol					-- Int'l
							END
					FROM 
						dbo.Lottery l 
							JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
							LEFT JOIN dbo.CurrencySymbol c ON l.LotteryID = c.LotteryID
					WHERE 
						(@CustomerCodes = 'ALL' OR csd.SubDivisionCode = @CustomerCodes)
				) l ON g.LotteryID = l.LotteryID
	WHERE
		YEAR(g.StartDate) <= YEAR(GETDATE()) AND
		g.TicketPrice <> 7
	ORDER BY 
		g.TicketPrice
END
GO
