USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructureGameNameByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/20/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeStructurePercentGroupingByPP_iGrade" to retrieve game 
			  description in Customer Portal 

exec dbo.spLottery_GetPrizeStructureGameNameByCustomer
	@CustomerCode = 'VA',
	@TicketPrice = 1,
	@StartDate = '1/1/2018',
	@EndDate = '02/01/2019'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructureGameNameByCustomer]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date
AS
BEGIN
	SET NOCOUNT ON

	declare 
		@LotteryID int 
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
			
	SELECT  
		g.GameID, 
		[Description] = g.GameReferenceID + ' : ' + g.GameName + ' : ' + CONVERT(varchar(10), max(g.StartDate), 101)
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
	WHERE
			l.LotteryID = @LotteryID
		AND g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate
	GROUP BY
		g.GameID, g.GameReferenceID, g.GameName, g.TicketPrice
	ORDER BY 
		g.StartDate, g.GameName, g.GameReferenceID
END
GO
