USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_GetWeekEnding]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  
Description : Rewrite weekly sales penentration "uspSelectWeekEndingSalesPenetrationByLottery_iGrade" 
			  to retrieve week ending for Customer Portal 

exec [spWeeklySalesPenetration_GetWeekEnding] 'NY'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/24/2020		change order by descending
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_GetWeekEnding]
	@CustomerCode nvarchar(10)
AS  
BEGIN    
	SET NOCOUNT ON 
  
	SELECT  
		(CONVERT(VARCHAR(10), s.WeekEnding, 101)) as WeekEnding
	FROM 
		dbo.WeeklySalesPenetration s  
			join dbo.Game g ON s.GameID = g.GameID  			
	WHERE
		EXISTS 
			(
				SELECT 
					'x'
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					l.LotteryID  = g.LotteryID AND 
					csd.SubDivisionCode = @CustomerCode
			) 
	GROUP BY
		s.WeekEnding
	ORDER BY
		s.WeekEnding DESC
END
GO
