USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetYearlySalesByTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/02/2019  
Description : Rewrite Sales By Ticket Price "uspChartLotteryFYTDWeeklySalesAndPriorYearByTicketPrice_Structured" 
			  and "uspChartLotteryFYTDWeeklySalesAndPriorYearByTicketPrice_Structured_CalYear" into 1 sproc for 
			  Customer Portal 

exec [spLottery_GetYearlySalesByTicketPrice] 'VA', 1  

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/01/2020		remove ticket price when values are all null (i.e. $7 ticket price)
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetYearlySalesByTicketPrice]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS  

BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int = 0,
		@MaxSalesDate date,
		@strCurrency nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@PriorWeekSalesDate date,
		@PriorStartDate nvarchar(50),
		@yearWeeks int,
		@PriorYearSalesDate date
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID 
		)  
   
	SELECT 
		@FYEndMonthDay = FYEnds,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM	
		dbo.LotteryFact  
	WHERE 
		LotteryID = @LotteryID  
	
	IF @IsFiscalYear = 1
		BEGIN
			set @yearWeeks = 52 
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' AS date))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) AS nvarchar)  
			 
			-- same as @CurrentFY 
			set @cyear = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) )  
			
			set @FYStart = (SELECT dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @FYEnd = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay))
			IF @FYEndMonthDay = '1/3'  
				set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  
			ELSE  
				set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4)); 

			IF @FYEndMonthDay <> '1/3'  
				BEGIN  
					IF (SELECT dbo.fnIsLeapYear(@cyear - 1)) = 1     
						BEGIN   
							set @yearWeeks = 53  
						END  
				END 

			set @PriorYearSalesDate = dateadd(WEEK, - @yearWeeks, @MaxSalesDate)
			set @PriorWeekSalesDate = 
				(
					SELECT DISTINCT 
						WeekEndDate  
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g ON ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID   
						AND (ws.WeekStartDate <= @PriorYearSalesDate AND ws.WeekEndDate >= @PriorYearSalesDate)
				)  
		END
	ELSE
		BEGIN
			set @cyear = YEAR(GetDate()) 

			set @FYStart = cast(@cyear as varchar(4)) +  '/' + @CalStart  --as DATE)  
			set @FYEnd = cast((@cyear + 1) as varchar(4)) + '/' + @CalEnd  --as DATE) 

			set @PriorStartDate = DATEADD(YEAR, 1, CAST(@FYStart as DATE))  
			set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))
		END

	SELECT
		lt.TicketPrice,
		s.[Year] as [Current Year],		
		s.TotalSales as [Current Week Sales],
		sp.[Year] as [Prior Year],		
		sp.TotalSales as [Prior Week Sales]
	FROM
		(
			SELECT 
				l.LotteryID, g.TicketPrice
			FROM 
				dbo.Lottery l 
					JOIN dbo.Game g ON l.LotteryID = g.LotteryID AND g.TicketPrice > 0
			WHERE 
				g.LotteryID = @LotteryID 
			GROUP BY
				l.LotteryID, g.TicketPrice
		) lt
			LEFT JOIN
				(
					SELECT  
						g.LotteryID, g.TicketPrice, SUM(ISNULL(ws.WeekSales, 0)) as TotalSales, @cyear as [Year] 
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID 
					WHERE
						g.DateExcluded Is null AND
						ws.WeekEndDate >= @FYStart AND 
						ws.WeekEndDate <= @FYEnd 
					GROUP BY
						g.LotteryID, g.TicketPrice					
				) s ON lt.LotteryID = s.LotteryID AND lt.TicketPrice = s.TicketPrice		
			LEFT JOIN
				(
					SELECT  
						g.LotteryID, g.TicketPrice, SUM(ISNULL(ws.WeekSales, 0)) as TotalSales, @cyear-1 as [Year]
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID   						
					WHERE 
						ws.WeekEndDate >= DATEADD(year, -1, @FYStart) AND 
						ws.WeekEndDate <= DATEADD(year, -1, @FYEnd)
					GROUP BY
						g.LotteryID, g.TicketPrice
				) sp ON lt.LotteryID = sp.LotteryID AND lt.TicketPrice = sp.TicketPrice
	WHERE
		s.[Year] IS NOT NULL AND	
		s.TotalSales IS NOT NULL AND
		sp.[Year] IS NOT NULL AND		
		sp.TotalSales IS NOT NULL
	ORDER BY
		lt.TicketPrice
END
GO
