USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetPaperStockByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 11/05/2019
-- Description:	retrieve game information (PaperStock) by customer code for the Customer Portal.

exec spGame_GetPaperStockByCustomer 'AZ'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/28/2020		use the paperstock type and category lookup tables
3		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetPaperStockByCustomer] 
	@CustomerCode nvarchar(10) = 'IGT'
AS
BEGIN
	SET NOCOUNT ON

	SELECT DISTINCT 
		p.[Description] as PaperStock      
	 FROM 
		dbo.Game g	
			JOIN dbo.vwPaperStockType p ON g.PaperStockID = p.PaperStockID
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
	WHERE
			EXISTS 
				(
					SELECT 
						'x' 
					FROM 
						dbo.vwLottery 
					WHERE
						(@CustomerCode = 'IGT' OR SubDivisionCode = @CustomerCode) AND
						CountryCode = l.CountryCode
				)	
		AND g.PaperStockID IS NOT NULL
		AND (YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
		AND g.VendorID = 1 --- indicates all printed games under IGT umbrella
	ORDER BY 
		1		 
END
GO
