USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spColor_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO


/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	retrieve game color list used in the game search dropdown box for the Customer Portal.

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spColor_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		ColorID, ColorName
	FROM 
		dbo.Color
	WHERE
		IsActive = 1
	ORDER BY
		ColorName
END
GO
