USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTotalGameCountByYearAndPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/02/2019  
Description : Rewrite summary Report Sales by week and ticket price "uspChartLotteryGameCountFYTDAndPrior5YearsByTicketPrice_Structured" and
			  "uspChartLotteryGameCountFYTDAndPrior5YearsByTicketPrice_Structured_CalYear" into 1 sproc for 
			  Customer Portal 

exec [spLottery_GetTotalGameCountByYearAndPrice] 'AZ', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetTotalGameCountByYearAndPrice]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS 
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@MaxSalesDate date,
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cyear int
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@FYEndMonthDay = f.FYEnds
	FROM 
		dbo.LotteryFact f  
	WHERE 
		f.LotteryID = @LotteryID
   
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID  
		)  
   
	IF @IsFiscalYear = 1
		BEGIN
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = cast(DATEPART(m, @FYStartMonthDay)as nvarchar) + '/' + cast(DATEPART(d, @FYStartMonthDay) as nvarchar)   
			
			set @cyear = cast((select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay)) as int)  

			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @FYEnd = (select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay)) 
	
			IF @FYEndMonthDay = '1/3'  
				set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  
			ELSE  
				set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  		
		END
	ELSE
		BEGIN
			set @cyear = YEAR(GetDate()) 

			set @FYStart = CAST(@cyear as varchar(4)) + '-01-01'  --as DATE) 
			set @FYEnd = CAST(@cyear as varchar(4)) + '-12-31'  --as DATE)
		END

	SELECT   
		@cyear as [Year], TicketPrice, COUNT(TicketPrice) as [Game Count]
	FROM 
		dbo.Game   
	WHERE 
			LotteryID = @LotteryID  
		AND DateExcluded IS NULL
		AND (startdate >= @FYStart AND startdate <= @FYEnd) 
	GROUP BY
		TicketPrice
	
	UNION ALL

	SELECT   
		@cyear - 1 as [Year], TicketPrice, COUNT(TicketPrice) as [Game Count]   
	FROM 
		dbo.Game   
	WHERE 
			LotteryID = @LotteryID  
		AND DateExcluded IS NULL
		AND (startdate >= DATEADD(year, -1, @FYStart) and startdate <= DATEADD(year, -1, @FYEnd)) 
	GROUP BY
		TicketPrice

	UNION ALL

	SELECT   
		@cyear - 2 as [Year], TicketPrice, COUNT(TicketPrice) as [Game Count] 
	FROM 
		dbo.Game   
	WHERE 
			LotteryID = @LotteryID  
		AND DateExcluded IS NULL
		AND (startdate >= DATEADD(year, -2, @FYStart) and startdate <= DATEADD(year, -2, @FYEnd)) 
	GROUP BY
		TicketPrice	
	ORDER BY 
		[Year] DESC, TicketPrice
END
GO
