USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLicensedProperty_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "spLicensedProperty_GetList" to retrieve game licensed property list for Customer Portal.

exec [spLicensedProperty_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spLicensedProperty_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		LicensedPropertyID, LicensedPropertyName
	FROM 
		dbo.LicensedProperty
	WHERE
		IsActive = 1
	ORDER BY
		LicensedPropertyName
END
GO
