USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructureTopPrizeByTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/13/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeStructurePercentGroupingBasedOnCheckboxList_iGrade" 
			  to retrieve prize structure in Customer Portal 

exec spLottery_GetPrizeStructureTopPrizeByTicketPrice 
	@CustomerCode = 'VA',
	@TicketPrice  = 1,
	@StartDate  = '1/1/2018',
	@EndDate  = '02/01/2019',
	@IncludeGameID = '49830,47585'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructureTopPrizeByTicketPrice]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@IncludeGameID varchar(max) = ''
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  g.LotteryID
		, AVG(g.Odds) as AverageOdds
		, AVG(ps.PrizeAmount) as AverageTopPrizeAmount
		, AVG(ps.PrizeOdds) as AverageTopPrizeOdds
		, csd.SubDivisionCode
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
	WHERE 
			g.GameID IN (SELECT [value] FROM STRING_SPLIT(@IncludeGameID, ','))
		AND csd.SubDivisionCode = @CustomerCode
		AND	g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate
		AND ps.TopPrize = 1 -- top prizes only
	GROUP BY
		g.LotteryID, csd.SubDivisionCode
END
GO
