USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetLogo]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/01/2019  
Description : Rewrite "[uspSelectLotteryLogo_GET]" and "[uspSelectLotteryAbbreviation_GET] to get 
              customer code, company logo and business name for Customer portal

exec [spLottery_GetLogo] 'AZ' 
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetLogo]
	@CustomerCode nvarchar(10)
AS  
BEGIN  
	SET NOCOUNT ON

	SELECT 
		  l.BusinessName, 
		  l.LogoPath,
		  csd.SubDivisionCode
	FROM 
		dbo.Lottery l  
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID				
	WHERE
		csd.SubDivisionCode = @CustomerCode
END  
GO
