USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetCustomerList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/01/2019  
Description : Rewrite "uspSelectLotteryInfo_GET" and "uspSelectLotteryInfo_withExceptions" into 1 sproc
			  with extra parameter if int'l country for Customer Portal to retrieve US or international 
			  customer except Belguin and Portugal	

exec [spLottery_GetCustomerList]		-- domestic
exec [spLottery_GetCustomerList] 1		-- int'l customer
exec [spLottery_GetCustomerList] 1, 1	-- int'l customer with exception
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetCustomerList]
	@IsInternational tinyint = 0,
	@IsException tinyint = 0	
AS  
BEGIN  
	SET NOCOUNT ON
	
	IF @isInternational = 1
		BEGIN
			IF @IsException = 1
				BEGIN
					SELECT 
						  csd.SubDivisionCode AS CustomerCode
						, l.BusinessName
						, l.LogoPath
						, csd.SubDivisionCode
					FROM 
						dbo.Lottery l  
							JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID				
					WHERE
							l.CountryID <> 1 
						AND l.Inactive = 0
						AND csd.SubDivisionCode NOT IN ('IPT', 'IBE')
					ORDER BY
						l.BusinessName
				END
			ELSE
				BEGIN
					SELECT 
						  csd.SubDivisionCode AS CustomerCode
						, l.BusinessName
						, l.LogoPath
						, csd.SubDivisionCode
					FROM 
						dbo.Lottery l  
							JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID				
					WHERE
							l.CountryID <> 1 
						AND l.Inactive = 0
					ORDER BY
						l.BusinessName
				END
		END
	ELSE
		BEGIN
			SELECT 
				  csd.SubDivisionCode AS CustomerCode
				, l.BusinessName
				, l.LogoPath
				, csd.SubDivisionCode
			FROM 
				dbo.Lottery l  
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID				
			WHERE
					l.CountryID = 1 
				AND l.Inactive = 0
			ORDER BY
				l.BusinessName
		END
END	
GO
