USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spConcept_GetDetailsByGameSearch]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 04/03/2020
-- Description:	Retrieve concept detail information with optional parameters for the customer portal.

exec spConcept_GetDetailsByGameSearch 
exec spConcept_GetDetailsByGameSearch 'AZ' -- game name 
exec spConcept_GetDetailsByGameSearch 'AZ', 2 -- with ticket price 2

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
2		JBrillantes		04/03/2020		Use concept table to retrieve concept data and update parameters that aplies
										only for concept
======================================================================================================================*/
CREATE   PROCEDURE [dbo].[spConcept_GetDetailsByGameSearch] 
	@CustomerCode nvarchar(10) = NULL,
	@GameName nvarchar(100) = NULL,    
	@TicketPrice money = -1, 
	@Theme nvarchar(100) = NULL,  
	@Color nvarchar(100) = NULL,  
	@PlayAction nvarchar(100) = NULL,  
	@SpecialtyOption nvarchar(100) = NULL, 
	@PageIndex int = NULL,
	@PageSize int = NULL
AS
BEGIN
	SET NOCOUNT ON

	SELECT
		  ConceptID
		, GameName				
		, TicketPrice
		, Height
		, Width
		, ImgName
		, Theme
		, Color
		, PlayAction
		, SpecialtyOption
		, PaperStock
		, ClientCode
		, BusinessName
		, CurrencyCode 
		, CurrencySymbol 
	FROM
		(
			SELECT  
				  c.ConceptID
				, c.GameName				
				, c.TicketPrice
				, ROUND(c.Height, 1) as Height
				, ROUND(c.Width, 1) as Width
				, c.ImageName as ImgName
				, Theme =
					CASE
						WHEN ct.PrimaryTheme IS NOT NULL AND ct.SecondaryTheme IS NOT NULL THEN ct.PrimaryTheme  + '|' + ct.SecondaryTheme
						WHEN ct.PrimaryTheme IS NOT NULL AND ct.SecondaryTheme IS NULL THEN ct.PrimaryTheme  
						WHEN ct.PrimaryTheme IS NULL AND ct.SecondaryTheme IS NOT NULL THEN ct.SecondaryTheme 
						WHEN ct.PrimaryTheme IS NULL AND ct.SecondaryTheme IS NULL THEN ''
						ELSE ''
					END
				, Color =
					CASE
						WHEN cc.PrimaryColor IS NOT NULL AND cc.SecondaryColor IS NOT NULL THEN cc.PrimaryColor  + '|' + cc.SecondaryColor
						WHEN cc.PrimaryColor IS NOT NULL AND cc.SecondaryColor IS NULL THEN cc.PrimaryColor  
						WHEN cc.PrimaryColor IS NULL AND cc.SecondaryColor IS NOT NULL THEN cc.SecondaryColor 
						WHEN cc.PrimaryColor IS NULL AND cc.SecondaryColor IS NULL THEN ''
						ELSE ''
					END
				, PlayAction = 
					CASE
						WHEN cp.PrimaryPlayAction IS NOT NULL AND cp.SecondaryPlayAction IS NOT NULL THEN cp.PrimaryPlayAction  + '|' + cp.SecondaryPlayAction
						WHEN cp.PrimaryPlayAction IS NOT NULL AND cp.SecondaryPlayAction IS NULL THEN cp.PrimaryPlayAction  
						WHEN cp.PrimaryPlayAction IS NULL AND cp.SecondaryPlayAction IS NOT NULL THEN cp.SecondaryPlayAction 
						WHEN cp.PrimaryPlayAction IS NULL AND cp.SecondaryPlayAction IS NULL THEN ''
						ELSE ''
					END
				, SpecialtyOption = 
					CASE
						WHEN cs.PrimarySpecialty IS NOT NULL AND cs.SecondarySpecialty IS NOT NULL THEN cs.PrimarySpecialty  + '|' + cs.SecondarySpecialty
						WHEN cs.PrimarySpecialty IS NOT NULL AND cs.SecondarySpecialty IS NULL THEN cs.PrimarySpecialty  
						WHEN cs.PrimarySpecialty IS NULL AND cs.SecondarySpecialty IS NOT NULL THEN cs.SecondarySpecialty 
						WHEN cs.PrimarySpecialty IS NULL AND cs.SecondarySpecialty IS NULL THEN ''
						ELSE ''
					END 
				, l.SubDivisionCode as ClientCode
				, l.BusinessName
				, CurrencyCode =
					CASE
						WHEN l.CurrencyCode IS NULL THEN 'USD'
						ELSE l.CurrencyCode
					END
				, CurrencySymbol =
					CASE
						WHEN l.CurrencySymbol IS NULL THEN '$'
						ELSE l.CurrencySymbol
					END
				, p.[Description] AS PaperStock
				, RowNumber = ROW_NUMBER() OVER (ORDER BY c.GameName, c.TicketPrice, c.ConceptID) 
			 FROM 
				dbo.Concept (NOLOCK) c		
					LEFT JOIN dbo.vwLottery l ON c.LotteryID = l.LotteryID
					LEFT JOIN dbo.vwConceptTheme ct ON c.ConceptID = ct.ConceptID
					LEFT JOIN dbo.vwConceptColor cc ON c.ConceptID = cc.ConceptID 
					LEFT JOIN dbo.vwConceptPlayAction cp ON c.ConceptID = cp.ConceptID
					LEFT JOIN dbo.vwConceptSpecialtyOption cs ON c.ConceptID = cs.ConceptID
					LEFT JOIN dbo.vwPaperStockType p ON c.PaperStockID = p.PaperStockID
			WHERE
					(@GameName IS NULL OR c.GameName LIKE '%' + @GameName + '%')
				AND (@TicketPrice = -1 OR c.TicketPrice = @TicketPrice)
				AND (@Theme IS NULL OR ct.PrimaryTheme LIKE '%' + @Theme + '%' OR ct.SecondaryTheme LIKE '%' + @Theme + '%')
				AND (@Color IS NULL OR cc.PrimaryColor LIKE '%' + @Color + '%' OR cc.SecondaryColor LIKE '%' + @Color + '%')
				AND (@PlayAction IS NULL OR cp.PrimaryPlayAction LIKE '%' + @PlayAction + '%' OR cp.SecondaryPlayAction LIKE '%' + @PlayAction + '%')
				AND (@SpecialtyOption IS NULL OR cs.PrimarySpecialty LIKE '%' + @SpecialtyOption + '%' OR cs.PrimarySpecialty LIKE '%' + @SpecialtyOption + '%')
				AND c.IsActive = 1
		) Concept
	WHERE
		(@PageIndex IS NULL AND @PageSize IS NULL) OR
		(RowNumber BETWEEN ((@PageIndex - 1) * @PageSize + 1) AND (@PageIndex * @PageSize))		
END
GO
