USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructureTopPrizeByExclusion]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/13/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeStructurePercentGroupingBasedOnCheckboxList_iGrade" 
			  to retrieve prize structure in Customer Portal 
			  
Note:		  Exclude Games are for the customer selected

exec spLottery_GetPrizeStructureTopPrizeByExclusion 
	@CustomerCode = 'VA',
	@TicketPrice = 1,
	@StartDate = '1/1/2018',
	@EndDate = '02/01/2019',
	@ExcludeGameID = '51001,51236,50894,49031,50137,48905,47774,48080,47174' -- excluding games fro selected customer codes

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructureTopPrizeByExclusion]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@ExcludeGameID varchar(max) = NULL
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  g.LotteryID
		, AVG(g.Odds) as AverageOdds
		, AVG(ps.PrizeAmount) as AverageTopPrizeAmount
		, AVG(ps.PrizeOdds) as AverageTopPrizeOdds
		, csd.SubDivisionCode
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
	WHERE 
			(NOT EXISTS
				(SELECT [value] FROM STRING_SPLIT(@ExcludeGameID, ',') WHERE [value] = g.GameID) OR @ExcludeGameID IS NULL)
		AND csd.SubDivisionCode = @CustomerCode
		AND g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate
		AND ps.TopPrize = 1 -- top prizes only
	GROUP BY
		g.LotteryID, csd.SubDivisionCode
END
GO
