USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructureTopPrizeByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/20/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeStructurePercentGroupingByPP_iGrade" to retrieve prize 
			  structure in Customer Portal 

exec spLottery_GetPrizeStructureTopPrizeByCustomer
	'VA', 
	1.00 , 
	'1/1/2018', 
	'2/1/2019'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructureTopPrizeByCustomer]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date
AS
BEGIN
	SET NOCOUNT ON
	
	SELECT  
		  g.LotteryID
		, AVG(g.Odds) as AverageOdds
		, AVG(ps.PrizeAmount) as AverageTopPrizeAmount
		, AVG(ps.PrizeOdds) as AverageTopPrizeOdds
		, csd.SubDivisionCode
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
	WHERE 
			csd.SubDivisionCode = @CustomerCode
		AND	g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate
		AND ps.TopPrize = 1 -- top prizes only
	GROUP BY
		g.LotteryID, csd.SubDivisionCode
END
GO
