USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTotalSalesByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 08/19/2019  
Description : Rewrite Ticket Sales "uspGetUSLotterySales_NALO" to retrieve sales only for Customer Portal 

exec [spLottery_GetTotalSalesByCustomer] 'CA'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTotalSalesByCustomer]
	@CustomerCode nvarchar(10)
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@ytdSalesCurr money,  
		@ytdSalesPrior money,
		@MaxSalesDate date,
		@PeriodStartDate date,
		@PriorStartDate date,
		@PriorPeriodStartDate date,
		@CalStart varchar(10),
		@FYStart  varchar(10),
		@cyear int,
		@DayDiff int

	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	set @cyear = Year(GetDate())  

	-- get MAX date from weeklysales table and period start date 
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE 
				g.LotteryID = @LotteryID  
		)

	set @CalStart = 
		(
			SELECT 
				CalStart
			FROM 
				dbo.LotteryFact	
			WHERE 
				LotteryID = @LotteryID
		)

	IF @MaxSalesDate < cast(@cyear as varchar(4)) +  '/' + @CalStart 
		BEGIN
			set @FYStart = cast((@cyear - 1) as varchar(4)) +  '/' + @CalStart;
		END
	ELSE
		BEGIN
			set @FYStart = cast(@cyear as varchar(4)) +  '/' + @CalStart;
		END

	set @PriorStartDate = dateadd(yy, -1, cast(@FYStart as DATE))  					  
	
	-- get period start date from the weekly sales table
	set @PeriodStartDate = 
		(
			SELECT
				min(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE 
				g.LotteryID = @LotteryID AND
				ws.WeekEndDate >= @FYStart 
		)

	set @DayDiff = DATEDIFF(Day, @PeriodStartDate, @MaxSalesDate)

	set @PriorPeriodStartDate = 
		( 
			SELECT
				 min(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE 
				g.LotteryID = @LotteryID AND 
				ws.WeekEndDate >= dateadd(yy, -1, @FYStart)
		)  
	
	IF OBJECT_ID('tempdb.dbo.#tmpLottery') is not null DROP TABLE #tmpLottery
	create table #tmpLottery
		(
			  LotteryID int NOT NULL INDEX idx_tmpLottery_LotteryID 
			, TotalSales money
			, MaxSalesDate date NOT NULL INDEX idx_tmpLottery_MaxSalesDate			
		)
	
	IF OBJECT_ID('tempdb.dbo.#tmpWeeklyTotalSale ') is not null DROP TABLE #tmpWeeklyTotalSale 
	create table #tmpWeeklyTotalSale 
		(
			  LotteryID int NOT NULL INDEX idx_tmpWeeklySale_LotteryID  
			, TotalSales money
			, MaxSalesDate date NOT NULL INDEX idx_tmpWeeklySale_MaxSalesDate
			, IsCurrent bit 
		)

	-- #tempLotteryCurr
	INSERT INTO	
		#tmpLottery
	SELECT 
		  c.LotteryID  
		, SUM(a.Weeksales) as [Revenue YTD Curr]
		, MAX(a.WeekEndDate) as MaxSalesDate
	FROM  
		dbo.WeeklySale a
			JOIN dbo.Game b ON a.GameID = b.GameID  
			JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID 
			JOIN dbo.CountrySubDivision csd ON c.CountrySubDivisionID = csd.CountrySubDivisionID AND csd.CountryID = 1 -- US ONLY
	WHERE
		a.WeekEndDate >= @FYStart AND 
		a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @FYStart) 
	GROUP BY
		c.LotteryID

	-- templotteryfiltered/current
	INSERT INTO
		#tmpWeeklyTotalSale
	SELECT
		LotteryID, TotalSales, MaxSalesDate, 1 as IsCurrent
	FROM
		#tmpLottery
	WHERE
		LotteryID <> @LotteryID AND
		MaxSalesDate >=  DATEADD(Day, - 6, @MaxSalesDate) AND
		MaxSalesDate <=  DATEADD(Day, 6, @MaxSalesDate)

	-- templotteryfiltered/prior
	INSERT INTO	
		#tmpWeeklyTotalSale
	SELECT
		  b.LotteryID, SUM(a.Weeksales), DATEADD(Year, -1, MAX(a.WeekEndDate)) as MaxSalesDate, 0 as IsCurrent
	FROM  
		dbo.WeeklySale a   
			inner join dbo.Game b ON a.GameID = b.GameID
	WHERE 
		EXISTS (SELECT 'x' FROM #tmpWeeklyTotalSale WHERE LotteryID = b.LotteryID) AND 
		a.WeekEndDate >= DATEADD(Year, -1, @FYStart) AND
		a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @PriorPeriodStartDate) 
	GROUP BY 
		b.LotteryID 

	set @ytdSalesCurr = (SELECT	SUM(TotalSales) FROM #tmpWeeklyTotalSale WHERE IsCurrent = 1)    
	set @ytdSalesPrior = (SELECT SUM(TotalSales) FROM #tmpWeeklyTotalSale WHERE IsCurrent = 0)   
		
	SELECT 
		t.*, 
		cur.CurrTotSales AS [Current Sales], 
		cur.CurrTotSales / cur.CurrTicketCnt AS [Current Average],
		CAST((cur.CurrTotSales / @ytdSalesCurr) * 100 AS decimal(12, 2)) AS [Current Percent],
		prev.PrevTotSales AS [Prior Sales],
		prev.PrevTotSales / prev.PrevTicketCnt AS [Prior Average],
		CAST((prev.PrevTotSales / @ytdSalesPrior) * 100 as decimal(12, 2)) AS [Prior Percent],
		CAST((cur.CurrTotSales - prev.PrevTotSales) / prev.PrevTotSales * 100 as decimal(12,2)) AS ['% Change],
		@MaxSalesDate AS MaxSalesDate,
		@PeriodStartDate  AS [Current Calendar Start],  
		@PriorPeriodStartDate AS [Prior Calendar Start]  
	FROM
		(
			SELECT 
				DISTINCT g.TicketPrice
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				EXISTS (SELECT 'x' FROM #tmpWeeklyTotalSale WHERE LotteryID = g.LotteryID)
		) t
			JOIN
				(
					SELECT
						b.TicketPrice, SUM(WeekSales) as CurrTotSales, COUNT(DISTINCT b.LotteryID) as CurrTicketCnt 					   
					 FROM  
						dbo.WeeklySale a   
							inner join  dbo.Game b ON a.GameID = b.GameID
					 WHERE 
						EXISTS	
							(SELECT 'x' FROM #tmpWeeklyTotalSale WHERE LotteryID = b.LotteryID) AND
						a.WeekEndDate >= @FYStart AND
						a.WeekEnddate <= (SELECT MAX(MaxSalesDate) FROM #tmpWeeklyTotalSale) 
					GROUP BY
						b.TicketPrice
				) cur ON t.TicketPrice = cur.TicketPrice
			JOIN
				(
					SELECT
						b.TicketPrice, SUM(WeekSales) as PrevTotSales, COUNT(DISTINCT b.LotteryID) as PrevTicketCnt  					   
					 FROM  
						dbo.WeeklySale a   
							inner join  dbo.Game b ON a.GameID = b.GameID
					 WHERE 
						EXISTS	
							(SELECT 'x' FROM #tmpWeeklyTotalSale WHERE LotteryID = b.LotteryID) AND
						a.WeekEndDate >= DATEADD(Year, -1, @FYStart) AND
						a.WeekEndDate <= DATEADD(Day, @DayDiff + 3, @PriorPeriodStartDate) 
					GROUP BY
						b.TicketPrice
				) prev ON t.TicketPrice = prev.TicketPrice
	ORDER BY
		t.TicketPrice
END 
GO
