USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesByYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/16/2019  
Description : Rewrite Ticket Sales "uspGetUSLotteryCalendarSales_NALO" to retrieve US regions only for 
			  Customer Portal 

exec [spLottery_GetSalesByYear] 'IGT', '01/01/2020' 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/07/2020		update CustomerCode param to comma delimited input parameter
3		JBrillantes		05/13/2020		update due to procedure and function update in IGrade
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetSalesByYear]
	@CustomerCode nvarchar(1000),
	@StartDate date
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@MaxSalesDate date,
		@PriorSalesDate date,
		@SalesCurr money,
		@SalesPrev money
	
	IF OBJECT_ID('tempdb.dbo.#tmpDates') is not null DROP TABLE #tmpDates  
	create table #tmpDates  
		(   
			  LotteryID int NOT NULL INDEX idx_tmpDates_LotteryID 			
			, CurrMinDate smalldatetime 
			, CurrMaxDate smalldatetime
			, PriorSalesDate smalldatetime
		) 

	INSERT INTO 
		#tmpDates
	SELECT 
		  c.LotteryID 
		, min(a.WeekEndDate) as CurrMinDate
		, max(a.WeekEndDate) as CurrMaxDate
		, [dbo].[fnCalcSameWeekForPriorYear](c.LotteryID, @StartDate, max(a.WeekEndDate)) as PriorSalesDate
	FROM  
		dbo.WeeklySale a
			JOIN dbo.Game b ON a.GameID = b.GameID  
			JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only	
	WHERE
		a.WeekEndDate >= @StartDate 
	GROUP BY
		c.LotteryID

	IF @CustomerCode <> 'IGT'
		BEGIN			
			SELECT 
				l.LotteryID, 
				l.BusinessName, 
				ISNULL(cs.[Revenue YTD Curr], 0) as [Revenue YTD Curr],
				ISNULL(ps.[Revenue YTD Prior], 0) as [Revenue YTD Prior], 
				cast((cs.[Revenue YTD Curr] - ps.[Revenue YTD Prior]) / ps.[Revenue YTD Prior] * 100 as decimal(12, 2)) as [% Change],
				cs.MaxSalesDate
			FROM
				(
					SELECT
						l.LotteryID, l.BusinessName
					FROM 		
						dbo.Lottery l 
							JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID	
					WHERE
						EXISTS 
							(
								SELECT 
									[Value] 
								FROM 
									STRING_SPLIT(@CustomerCode, ',') 
								WHERE 
									[Value] = csd.SubDivisionCode
							) 	
					GROUP BY 
						LotteryID, BusinessName
				) l
					JOIN
						(
							-- current sales by region/jurisdiction
							select 
								  c.LotteryID  
								, sum(isnull(a.Weeksales, 0)) as [Revenue YTD Curr]
								, max(a.WeekEndDate) as MaxSalesDate
							from  
								dbo.WeeklySale a
									JOIN dbo.Game b ON a.GameID = b.GameID  
									JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
							where 
									a.WeekEndDate >= @StartDate AND a.WeekEndDate <= GetDate() 
							group by
								c.LotteryID
						) cs ON l.LotteryID = cs.LotteryID
					LEFT JOIN
						(
							-- prior sales by region/jurisdiction
							select
								  c.LotteryID  
								, sum(isnull(a.Weeksales, 0)) as [Revenue YTD Prior]  
								, min(dte.CurrMinDate) as CurrPeriodStartDate
								, min(dte.PriorSalesDate) as PriorPeriodEndDate
								, min(dte.CurrMaxDate) as MaxSalesDate
							from  
								dbo.WeeklySale a
									JOIN dbo.Game b ON a.GameID = b.GameID  
									JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
									JOIN #tmpDates dte on c.LotteryID = dte.LotteryID AND dte.PriorSalesDate IS NOT NULL
							where 
									a.WeekEndDate >= DATEADD(Year, -1, @StartDate) AND 
									a.WeekEndDate <= dte.PriorSalesDate	  
							group by
								c.LotteryID
						) ps ON l.LotteryID = ps.LotteryID
			ORDER BY
				l.BusinessName			
		END
	ELSE
		BEGIN
			SELECT 
				cas.LotteryID,
				cas.BusinessName, 
				cas.[Revenue YTD Curr], 
				pas.[Revenue YTD Prior],
				cast((cas.[Revenue YTD Curr] - pas.[Revenue YTD Prior]) / pas.[Revenue YTD Prior] * 100 as decimal(12, 2)) as [% Change],
				@StartDate as MaxSalesDate
			FROM
				(
					-- current all sales
					select 
						  0 as LotteryID 
						, 'US Total All' as BusinessName 
						, sum((a.Weeksales)) as [Revenue YTD Curr]
					from  
						dbo.WeeklySale a
							JOIN dbo.Game b ON a.GameID = b.GameID  
							JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
					where 
						a.WeekEndDate >= @StartDate AND 
						a.WeekEndDate <= GetDate() 
				) cas
					LEFT JOIN
						(
							-- previous all sales
							select
								  0 as LotteryID
								, 'US Total All' as BusinessName 
								, sum(a.Weeksales) as [Revenue YTD Prior] 
							from  
								dbo.WeeklySale a
									JOIN dbo.Game b ON a.GameID = b.GameID  
									JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
									JOIN #tmpDates dte on c.LotteryID = dte.LotteryID AND dte.PriorSalesDate IS NOT NULL 
							where 
									a.WeekEndDate >= DATEADD(Year, -1, @StartDate) AND 
									a.WeekEndDate <= dte.PriorSalesDate	
						) pas ON cas.LotteryID = pas.LotteryID
	
			UNION ALL
	
			SELECT 
				l.LotteryID, 
				l.BusinessName, 
				ISNULL(cs.[Revenue YTD Curr], 0) as [Revenue YTD Curr], 
				ISNULL(ps.[Revenue YTD Prior], 0) as [Revenue YTD Prior],
				cast((cs.[Revenue YTD Curr] - ps.[Revenue YTD Prior]) / ps.[Revenue YTD Prior] * 100 as decimal(12, 2)) as [% Change],
				cs.MaxSalesDate
			FROM
				(
					SELECT
						LotteryID, BusinessName
					FROM 					
						dbo.Lottery
					WHERE
						CountryID = 1
					GROUP BY 
						LotteryID, BusinessName
				) l
					JOIN
						(
							-- current sales by region/jurisdiction
							select 
								  c.LotteryID  
								, sum(isnull(a.Weeksales, 0)) as [Revenue YTD Curr]
								, max(a.WeekEndDate) as MaxSalesDate
							from  
								dbo.WeeklySale a
									JOIN dbo.Game b ON a.GameID = b.GameID  
									JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
							where 
									a.WeekEndDate >= @StartDate AND a.WeekEndDate <= GetDate() 
							group by
								c.LotteryID
						) cs ON l.LotteryID = cs.LotteryID
					LEFT JOIN
						(
							-- prior sales by region/jurisdiction
							select
								  c.LotteryID  
								, sum(isnull(a.Weeksales, 0)) as [Revenue YTD Prior]  
								, min(dte.CurrMinDate) as CurrPeriodStartDate
								, min(dte.PriorSalesDate) as PriorPeriodEndDate
								, min(dte.CurrMaxDate) as MaxSalesDate
							from  
								dbo.WeeklySale a
									JOIN dbo.Game b ON a.GameID = b.GameID  
									JOIN dbo.Lottery c ON b.LotteryID = c.LotteryID AND c.CountryID = 1-- US only
									JOIN #tmpDates dte on c.LotteryID = dte.LotteryID AND dte.PriorSalesDate IS NOT NULL									
							where 
									a.WeekEndDate >= DATEADD(Year, -1, @StartDate) AND 
									a.WeekEndDate <= dte.PriorSalesDate 
							group by
								c.LotteryID
						) ps ON l.LotteryID = ps.LotteryID
			ORDER BY
				LotteryID
		END
END  
GO
