USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_GetRateOfSalesByDateAndPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  					
Description : Rewrite weekly sales penentration "uspSelectPenByLotteryByDateByPriceUsingWim_iGrade" 
			  for Customer Portal 

exec [spWeeklySalesPenetration_GetRateOfSalesByDateAndPrice] 'NY', '2017-12-02', 2

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_GetRateOfSalesByDateAndPrice]
	@CustomerCode nvarchar(10),
	@EndOfWeek date,
	@TicketPrice smallmoney
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int = 
			(
				SELECT 
					l.LotteryID 
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					csd.SubDivisionCode = @CustomerCode
			)
	
	SELECT 
		GameID, 
		GameNumber, 
		GameName, 
		TicketPrice,
		[#Of Tickets], 
		Quantity, 
		WeekEnding, 
		WeekNumber,
		RetailerActivated AS [Retailer Count (Activated)],
		RetailerActivatedConfirmedIssuedSettled AS [Retailer Count (Activated/Confirmed/Issued/Settled)],
		TotalRetailers, 
		[Current Penetration (based on activations)],  
		[Current Penetration (based on confirmed and issued, and activated settled],
		ValidationAmt,
		[Validation Total],
		[Running Total],
		InvRemaining =  
			(
				CASE 
					WHEN [TicketsReceived] > 0 and [TicketsReceived] >= [TicketsOrdered] THEN [TicketsReceived]  
					WHEN [TicketsOrdered] > 0 and [TicketsOrdered] >= [TicketsReceived] THEN [TicketsOrdered]  
					WHEN [TicketsOrdered] = 0 and [TicketsReceived] = 0 THEN 1  
					ELSE 1  
				END + 
				IsNULL(Quantity, 0)) - ([Running Total] / 
											(
												CASE 
													WHEN [TicketPrice]  > 0 THEN [TicketPrice] 
													ELSE 1 
													END 
											)
			), 
		GameName + ' : $' + 
		convert(nvarchar(20), format(ValidationAmt , '#,#')) + ' : ' + 
		convert(nvarchar(20), convert(varchar(20), [Current Penetration (based on activations)], 2) + '%') + ' : WiM ' + 
		convert(nvarchar(5), WeekNumber) + ' : Remaining Inv ' + 
		convert(nvarchar(20), format(
					(
						CASE 
							WHEN [TicketsReceived] > 0 and [TicketsReceived] >= [TicketsOrdered] THEN [TicketsReceived]  
							WHEN [TicketsOrdered] > 0 and [TicketsOrdered] >= [TicketsReceived] THEN [TicketsOrdered]  
							WHEN [TicketsOrdered] = 0 and [TicketsReceived] = 0 THEN 1  
							ELSE 1   
						END + 
						IsNULL(Quantity, 0)) - ([Running Total] / 
												(
													CASE 
														WHEN [TicketPrice]  > 0 THEN [TicketPrice] 
														ELSE 1 
													END 
												)
					) , '#,#')) as [Tooltip Info],
		convert(nvarchar(100), GameName + ' : $' + 
			   CAST(ValidationAmt as nvarchar) + ' : ' + 
			   convert(nvarchar(100), convert(varchar(100), CAST([Current Penetration (based on confirmed and issued, and activated settled] as decimal(18, 2)), 2) + '%')) as [Tooltip Confirmed Info],
		[Pen %],
		BubbleLegend,
		BubbleColor
	FROM
		(
			SELECT  
				a.GameID, 
				a.GameNumber, 
				a.GameName, 
				a.TicketPrice,
				CASE 
					WHEN a.TicketsReceived > 0 AND a.TicketsReceived >= a.TicketsOrdered THEN a.TicketsReceived  
					WHEN a.TicketsOrdered > 0 AND a.TicketsOrdered >= a.TicketsReceived THEN a.TicketsOrdered  
					WHEN  a.TicketsOrdered = 0 AND a.TicketsReceived = 0  THEN 1  
					ELSE 1  
				END AS [#Of Tickets], 
				ISNULL(e.Quantity, 0) AS Quantity, 
				b.WeekEnding, 
				b.WeekNumber,
				b.RetailerActivated,
				b.RetailerActivatedConfirmedIssuedSettled,
				b.TotalRetailers, 
				CAST((100 * b.RetailerActivated)/ b.TotalRetailers AS decimal(18, 2)) AS [Current Penetration (based on activations)],  
				CAST((100 * b.RetailerActivatedConfirmedIssuedSettled) / b.TotalRetailers AS decimal(18, 2)) AS [Current Penetration (based on confirmed and issued, and activated settled],
				a.StartDate, 
				a.LotteryID, 
				a.GameReferenceID,
				a.TicketsReceived, 
				a.TicketsOrdered, 
				--c.BusinessName, 		 
				b.ActualPrintRun, 		 
				d.[Settlement Total], 		 
				d.[Activation Total], 		 
				d.[Validation Total], 
				ISNULL(b.SettlementAmt, 0) AS SettlementAmt, 
				ISNULL(b.ActivationAmt, 0) AS ActivationAmt, 
				ISNULL(b.ValidationAmt, 0) AS ValidationAmt, 
				CASE 
					WHEN b.RetailerActivated <> 0 AND  b.ValidationAmt > 0 THEN  b.ValidationAmt / b.RetailerActivated 
				END AS [Rate Of Sale],
				CASE 
					WHEN b.TotalRetailers <> 0 THEN (1.0 * b.RetailerActivated) / b.TotalRetailers 
				END AS [Active Pen Rate %],
				CASE 
					WHEN b.TotalRetailers <> 0 THEN (1.0 * b.RetailerActivatedConfirmedIssuedSettled) / b.TotalRetailers 
				END AS [Confirmed Pen Rate %],
				b.RetailerActivated / CAST(b.TotalRetailers as decimal(10, 2)) AS [Pen %],
				CASE 
					WHEN [WeekNumber] > 0 and [WeekNumber] <= 13 THEN '0-13 weeks'  
					WHEN [WeekNumber] > 13 and [WeekNumber] <= 26 THEN '14-26 weeks'  
					WHEN [WeekNumber] > 26 and [WeekNumber] <= 52 THEN '27-52 weeks'  
					WHEN [WeekNumber] > 52 THEN '53+ weeks'  
				END AS [BubbleLegend],
				CASE 
					WHEN [WeekNumber] > 0 and [WeekNumber] <= 13 THEN 'Green'  
					WHEN [WeekNumber] > 13 and [WeekNumber] <= 26 THEN 'Blue'  
					WHEN [WeekNumber] > 26 and [WeekNumber] <= 52 THEN 'Yellow'  
					WHEN [WeekNumber] > 52 then 'Red'  
				END AS [BubbleColor], 
				SUM(b.ValidationAmt) OVER (PARTITION BY a.GameID ORDER BY b.WeekEnding) AS [Running Total]
			FROM  
				dbo.Game a 
					JOIN dbo.WeeklySalesPenetration b ON a.GameID = b.GameID  
					JOIN dbo.Lottery c ON a.LotteryID = c.LotteryID
					JOIN
						(
							SELECT
								GameID, SUM(ISNULL(SettlementAmt, 0)) as [Settlement Total], SUM(ISNULL(ActivationAmt, 0)) as [Activation Total], SUM(ISNULL(ValidationAmt, 0)) as [Validation Total] 
							FROM
								dbo.WeeklySalesPenetration
							GROUP BY
								GameID
						) d ON a.GameID = d.GameID
					LEFT JOIN dbo.GameReorder e ON a.GameID = e.GameID
		) gsp
	WHERE
			LotteryID = @LotteryID      
		AND WeekEnding = @EndOfWeek  
		AND TicketPrice = @TicketPrice      
		AND ValidationAmt > 0
		AND [Pen %] > .10
	ORDER BY
		GameName, GameID, BubbleLegend
END
GO
