USE [CustomerPortal]
GO

IF EXISTS(SELECT 'x' FROM sys.procedures WHERE [name] = 'spColor_GetListByCustomer' AND [type] = 'P') DROP PROCEDURE [dbo].[spColor_GetListByCustomer]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/27/2019
-- Description:	Slim down version of  "spTheme_GetList" to retrieve Playstyle list by customer code for Customer Portal.

exec [spColor_GetListByCustomer] 'FL'

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spColor_GetListByCustomer] 
	@CustomerCode nvarchar(10) = NULL
AS

BEGIN
	SET NOCOUNT ON

	SELECT  
		c.ColorID,
		c.ColorName
	FROM
		dbo.Game g
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GameColor gc ON g.GameID = gc.GameID
			JOIN dbo.Color c ON gc.ColorID = c.ColorID
	WHERE
			(@CustomerCode IS NULL OR l.SubDivisionCode = @CustomerCode) 
		AND (YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
		AND c.ISActive = 1
	GROUP BY
		c.ColorID, c.ColorName
	ORDER BY
		c.ColorName
END

GO
