USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetEWRByGameID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/09/2019  
Description : Rewrite "uspGetGameSellThruAndEWR" to get game estimated weeks remaining by GameID
			  for Customer Portal

exec [spGame_GetEWRByGameID] 50976

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spGame_GetEWRByGameID]
	@GameID int
AS  
BEGIN  
	SET NOCOUNT ON

	declare 
		@GameReorderCnt as int = 0
	
	declare @tmpWork table   
	( 
		  WeekNumber int  
		, WeekEndDate smalldatetime  
		, WeekSales money  
		, WeekStartDate smalldatetime  
		, TixPrice money  
		, TicketsOrdered int  
		, TicketsReceived int  
		, TicketValUsed nvarchar(50)  
		, SellThruPerc decimal(10,2)  
		, SellThru decimal(10,2)  
		, RunningSellThru decimal(10,2)  
		, RunningSalesTotal money  
		, RunningSellThruPerc decimal(18,2)  
		, AverageRunningSellThru decimal(10,2)  
		, AverageRunningSellThruPerc decimal(10,2)  
		, AverageSalesRunning money  
		, SoldToDate money  
		, WeeksRemaining int
	 )  

	set @GameReorderCnt = 
		(
			SELECT 
				ISNULL(SUM(Quantity), 0) 
			FROM 
				dbo.GameReorder 
			WHERE 
				GameID = @GameID
		)
	
	INSERT INTO	
		@tmpWork
	SELECT 
		  ws.WeekNumber  
		, ws.WeekEndDate  
		, ws.WeekSales  
		, g.StartDate  
		, g.TicketPrice   
		, g.TicketsOrdered  
		, g.TicketsReceived  
		, [SellThruPerc] = 
			CASE 
				WHEN g.TicketsReceived >0  THEN 'TicketsReceived'   
				WHEN g.TicketsOrdered > 0  THEN 'TicketsOrdered'  
				ELSE 'No Ticket Quantity'  
			END  
  		, [SellThru %] = 
			100 * (ws.WeekSales / g.TicketPrice) / 
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered   
						ELSE 1  
					END + @GameReorderCnt
				) 
		, [SellThru decimal] = 
			(ws.WeekSales / g.TicketPrice) / 
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered  
						ELSE 1  
					END + @GameReorderCnt
				)   
  		, [Running SellThru] = 
			(SUM(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate) / g.TicketPrice) / 
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered    
						ELSE 1  
					END + @GameReorderCnt
				) 
		, [Running Total] = SUM(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate)  
  		, [Running SellThru %] =  
			100 * (SUM(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate) / g.TicketPrice) /
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered    
						ELSE 1  
					END + @GameReorderCnt
				) 
		, [AVERAGE Running SellThru] =
			((AVG(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate) / g.TicketPrice) / 
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered    
						ELSE 1  
					END + @GameReorderCnt
				)) 
		, [AVERAGE Running SellThru %] =
			100 * ((AVG(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate) / g.TicketPrice) /
				(
					CASE  
						WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
						WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered   
						ELSE 1  
					END + @GameReorderCnt
				))  
		, [AVERAGE SALES Running Total] = AVG(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate)  
  		, [Sold-To-Date] = 
			((g.TicketPrice *  
				CASE  
					WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
					WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered 
					ELSE 1  
				END) - SUM(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate))
  		, [Weeks Remaining] = 
			((g.TicketPrice * 
				CASE  
					WHEN g.TicketsReceived > 0  THEN g.TicketsReceived   
					WHEN g.TicketsOrdered > 0  THEN g.TicketsOrdered  
					ELSE 1  
				END) - SUM(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate)) / AVG(ws.WeekSales) OVER (PARTITION BY g.StartDate ORDER BY ws.WeekEndDate)
    FROM 
		dbo.Game g
			JOIN dbo.WeeklySale ws ON g.GameID = ws.GameID
	WHERE
			g.GameID = @GameID  
	GROUP BY
		WeekNumber, WeekEndDate, WeekSales, StartDate, TicketPrice, TicketsOrdered, TicketsReceived  

	 SELECT 
		WeekNumber as [Week #], 
		CONVERT(varchar(10), WeekEndDate, 101) as [WeekEnding] , 
		WeekSales as [Sales], 
		CAST(RunningSellThruPerc as varchar) + '%' as [Accum Sell-Thru], 
		WeeksRemaining as [Running Weeks Remaining], 
		[Estimated Weeks Remaining] = 
			(
				SELECT 
					CAST(MIN(SoldToDate) / 
						(
							SELECT 
								AVG(WeekSales) 
							FROM 
								(
									SELECT TOP 13 
										WeekSales  
									FROM 
										@tmpWork
									GROUP BY
										WeekNumber, WeekEndDate, WeekSales 
									ORDER BY 
										WeekNumber DESC
								) [avg]
							) as int) 
					FROM 
						@tmpWork
			)
	FROM 
		@tmpWork  
	ORDER BY
		WeekNumber 
END  
GO
