USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetBingoCrosswordTotalSalesByYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/02/2019  
Description : Rewrite summary Report Sales YTD "uspChartLotteryBingoCrossword_Structured_CalYear" and
			  "uspChartLotteryBingoCrossword_Structured" into 1 sproc for Customer Portal 

exec [spLottery_GetBingoCrosswordTotalSalesByYear] 'AZ', 1

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetBingoCrosswordTotalSalesByYear]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@MaxSalesDate date,
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cyear int

	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@FYEndMonthDay = f.FYEnds
	FROM 
		dbo.LotteryFact f  
			LEFT JOIN dbo.SalesType st ON f.SalesTypeID = st.SalesTypeID  
	WHERE 
		f.LotteryID = @LotteryID
   
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID   
		)  
   
	set @cyear = YEAR(GetDate())  
	 
	IF @IsFiscalYear = 1
		BEGIN
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) as nvarchar) 
			
			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @FYEnd = (select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay)) 
	
			IF @FYEndMonthDay = '1/3'  
				set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  
			ELSE  
				set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  		
		END
	ELSE
		BEGIN
			set @FYStart = CAST(@cyear as varchar(4)) + '-01-01'  --as DATE) 
			set @FYEnd = CAST(@cyear as varchar(4)) + '-12-31'  --as DATE)
		END

	SELECT
		ws.ThemeName,		
		ws.WeekSales as [Week Sales],
		ts.TotalSales as [YTD Sales]
	FROM
		(
			SELECT 
				DISTINCT t.ThemeName
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g on ws.GameID = g.GameID   
					JOIN dbo.GameTheme gt on g.GameID = gt.GameID 
					JOIN dbo.Theme t on gt.ThemeID = t.ThemeID  
			WHERE
				g.LotteryID = @LotteryID AND
				gt.ThemeID IN (1519, 1537) 

		) t
			JOIN
				(
					SELECT 
						t.ThemeName, SUM(ws.WeekSales) as TotalSales 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
							JOIN dbo.GameTheme gt on g.GameID = gt.GameID 
							JOIN dbo.Theme t on gt.ThemeID = t.ThemeID  
					WHERE 
							g.LotteryID = @LotteryID   
						and g.DateExcluded IS NULL  
						and ws.WeekEndDate >= @FYStart  
						and ws.WeekEndDate <= @FYEnd  						  
						and gt.ThemeID IN (1519, 1537) 
					GROUP BY
						t.ThemeName
				) ts ON t.ThemeName = ts.ThemeName
			JOIN
				(
					SELECT 
						t.ThemeName, SUM(ws.WeekSales) as WeekSales 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
							JOIN dbo.GameTheme gt on g.GameID = gt.GameID 
							JOIN dbo.Theme t on gt.ThemeID = t.ThemeID  
					where 
							g.LotteryID = @LotteryID 
						and ws.WeekEndDate = @MaxSalesDate 								  
						and gt.ThemeID IN (1519, 1537) 
					GROUP BY
						t.ThemeName
				) ws ON t.ThemeName = ws.ThemeName
END
GO
