USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetSalesAndSellThru]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/19/2019  
Description : Rewrite Sales By game "uspGetSalesAndSellThruByPP_pivotDynamic" for Customer Portal 

exec [spLottery_GetSalesAndSellThru] 'VA', 1, '12/01/2019', '04/08/2020', 2

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/27/2020		order by startdate in descending order per Todd
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetSalesAndSellThru]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@VendorType tinyint = 1 --(type 0=all, 1=IGT, 2=Non-IGT)
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int,
		@columns varchar(4000),
		@values varchar(4000),
		@colNames varchar(4000),
		@sql char(4000),
		@query nvarchar(max)	
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame  
	create table #tmpGame  
		(   
			  GameID int NOT NULL INDEX idx_tmpGame_GameID 
			, GameReferenceID nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice smallmoney  
			, TicketsOrdered int  
			, TicketsReceived int  
			, Reorder int
			, CountWeek int  
			, TotalGameSales money    
			, AvgSales money
			, WeekNumber int
			, WeekEndDate smalldatetime
			, WeekSales money
			, TicketQtyUsed int 
			, TicketValUsed nvarchar(50)   
			, SellThru decimal(10, 2)  
			, WeeksRemaining decimal(10)
			, RunningSellThru decimal(30, 2)  
			, RunningSalesTotal money  
			, RunningSalesAverage money 
		) 

	INSERT INTO
		#tmpGame
	select 
		  b.GameID  
		, b.GameReferenceID  
		, b.GameName  
		, b.StartDate
		, b.TicketPrice   
		, sum(cast(b.TicketsReceived as bigint)) / count(b.TicketsReceived) as TicketsOrdered  
		, sum(cast(b.TicketsOrdered as bigint)) / count(b.TicketsOrdered) as TicketsReceived 
		, ISNULL(sum(o.Quantity), 0) as Reorder
		, count(a.WeekNumber) as CountWeek   
		, sum(a.WeekSales) as TotalGameSales
		, AVG(a.WeekSales) as AvgSales		  
		, a.WeekNumber  
		, a.WeekEndDate  
		, a.WeekSales
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0) as TicketQtyUsed  --1/18/19  
		, CASE  
			WHEN ISNULL(count(b.TicketsReceived), 0) > 0  THEN 'TicketsReceived'   
			WHEN ISNULL(count(b.TicketsOrdered), 0)  > 0  THEN 'TicketsOrdered'  
			ELSE 'No Ticket Quantity'  
			END as TicketValUsed 
		, (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				( 
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as SellThru
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) / AVG(a.WeekSales) as WeeksRemaining 
		, 100 * (SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) / b.TicketPrice) / 
					CASE  
						WHEN b.TicketsReceived > 0 THEN b.TicketsReceived   
						WHEN TicketsOrdered > 0  THEN TicketsOrdered  
						ELSE 1  
					END as RunningSellThru 
		, SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as RunningTotal  
		, AVG(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) as AvgSalesRunningTotal 
	from 
		dbo.Game b  
			join dbo.WeeklySale a on a.GameID = b.GameID
			left join dbo.GameReorder o on o.GameID = b.GameID
	where 
		b.LotteryID = @LotteryID AND 
		b.TicketPrice = @TicketPrice AND
		b.StartDate BETWEEN @StartDate AND @EndDate AND	
		b.VendorID IN 
			(
				SELECT 
					VendorID 
				FROM 
					dbo.Vendor v
				WHERE
					CASE 
						WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
						WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
						WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
					END = 1
			) 
	group by 
		b.GameID, b.GameReferenceID, b.GameName, StartDate, TicketPrice, b.TicketsReceived, b.TicketsOrdered, a.WeekNumber, a.WeekEndDate, a.WeekSales

	IF OBJECT_ID('tempdb.dbo.#tmpPivot') is not null DROP TABLE #tmpPivot  	
	create table #tmpPivot 
		(  
			  GameID int NOT NULL INDEX idx_tmpSales_GameID 
			, GameReference nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice smallmoney  
			, [Type] varchar(35)
		)  

	SELECT
		@columns = COALESCE(@columns + ', [' + cast(wn.WeekNumber as varchar) + ']', '[' +  cast(wn.WeekNumber as varchar) + ']'),
		@values = COALESCE(@values + ', ''' + cast(wn.WeekNumber as varchar) + '''', '''' +  cast(wn.WeekNumber as varchar) + ''''),
		@colNames = COALESCE(@colNames + ', [col' +  cast(wn.WeekNumber as varchar) + '] varchar(50)', '[col' +  cast(wn.WeekNumber as varchar) + '] varchar(50)')
	FROM 
		(select distinct WeekNumber from #tmpGame) wn
	ORDER BY 
		wn.WeekNumber
	
	SET @sql = 'ALTER TABLE #tmpPivot ADD ' + @colNames
	EXEC (@Sql)

	-- sales
	set @query = 
	'INSERT INTO 
		#tmpPivot      
	SELECT 
		* 
	FROM 
		(
			select distinct 
				GameID, 
				GameReferenceID, 
				GameName, 
				StartDate as [Launch Date], 
				TicketPrice as [Ticket Price],
				''Sales'' as [Type], 
				WeekNumber as [Week #], 
				WeekSales as [Sales]
			from 
				#tmpGame       
			where 
				WeekNumber IN (' + @values + ')       
		) q           
	PIVOT (sum([Sales]) FOR [Week #] IN (' + @columns + ')) AS p;'   
	
	EXEC sp_executesql @query

	-- week ending
	set @query = 
	'INSERT INTO 
		#tmpPivot      
	SELECT 
		* 
	FROM 
		(        
			select distinct        
				GameID, 
				GameReferenceID, 
				GameName, 
				StartDate as [Launch Date], 
				TicketPrice as [Ticket Price],
				''WeekEnding'' as [Type], 
				WeekNumber as [Week #], 
				WeekEndDate as [WeekEnding]              
			from 
				#tmpGame       
			where 
				WeekNumber IN (' + @values + ')      
		) q              
	PIVOT (min([WeekEnding]) FOR [Week #] IN (' + @columns + ')) AS p;'       

	EXEC sp_executesql @query

	-- selll thru
	set @query = 
	'INSERT INTO #tmpPivot      
	SELECT 
		* 
	FROM 
		(            
			select distinct 
				GameID, 
				GameReferenceID, 
				GameName, 
				StartDate as [Launch Date], 
				TicketPrice as [Ticket Price],
				''Accum Sell-Thru %'' as [Type], 
				WeekNumber as [Week #], 
				cast(RunningSellThru as varchar) + ''%'' as [Accum Sell-Thru]                  
			from 
				#tmpGame       
			where
				WeekNumber IN (' + @values + ')
  		) q              
	PIVOT (min([Accum Sell-Thru]) FOR [Week #] IN (' + @columns + ')) AS p;'   
	
	EXEC sp_executesql @query

	-- weeks remaining
	set @query = 
	'INSERT INTO #tmpPivot      
	SELECT 
		* 
	FROM 
		(        
			select distinct 
				GameID, 
				GameReferenceID, 
				GameName, 
				StartDate as [Launch Date], 
				TicketPrice as [Ticket Price],
				''Weeks Remaining'' as [Type], 
				WeekNumber as [Week #], 
				WeeksRemaining as [Weeks Remaining]                 
			from 
				#tmpGame       
			where 
				WeekNumber IN (' + @values + ')
		) q              
	PIVOT (min([Weeks Remaining]) FOR [Week #] IN (' + @columns + ')) AS p;'   
	
	EXEC sp_executesql @query

	SELECT
		*
	FROM
		#tmpPivot
	ORDER BY
		StartDate DESC, GameName, GameReference,
		CASE	
			WHEN [Type] = 'Sales' THEN 0  
			WHEN [Type] = 'WeekEnding' THEN 1  
			WHEN [Type] = 'Accum Sell-Thru %' THEN 2  
			WHEN [Type] = 'Weeks Remaining' THEN 3 
		END
END
GO
