USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetWeeklyTotalSalesByGameID]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 12/16/2019  
Description : Return weekly total sales by GameID

exec [spLottery_GetWeeklyTotalSalesByGameID] 
	@CustomerCode = 'TX',
	@GameID = 40484,
	@IsFiscalYear = 1

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetWeeklyTotalSalesByGameID]
	@CustomerCode nvarchar(10),
	@GameID int,
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@MaxSalesDate date,
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cyear int

	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@FYEndMonthDay = f.FYEnds
	FROM 
		dbo.LotteryFact f  
	WHERE 
		f.LotteryID = @LotteryID
   
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.GameID = @GameID AND
				g.LotteryID = @LotteryID    
		)  
   
	IF @IsFiscalYear = 1
		BEGIN
			set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
			set @FYStartMonthDay = cast(DATEPART(m, @FYStartMonthDay)as nvarchar) + '/' + cast(DATEPART(d, @FYStartMonthDay) as nvarchar)   
			
			set @cyear = cast((select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay)) as int)  

			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @FYEnd = (select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay)) 
	
			IF @FYEndMonthDay = '1/3'  
				set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  
			ELSE  
				set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4));  		
		END
	ELSE
		BEGIN
			set @cyear = YEAR(GetDate()) 

			set @FYStart = CAST(@cyear as varchar(4)) + '-01-01'  --as DATE) 
			set @FYEnd = CAST(@cyear as varchar(4)) + '-12-31'  --as DATE)
		END

	SELECT 
		ws.WeekEndDate, sum(WeekSales) as [WeekSales], @cyear as [Year], CAST(datename(MONTH,ws.WeekEndDate) as CHAR(3)) as [Month]  
    FROM 
		dbo.WeeklySale ws  
			JOIN dbo.Game g ON ws.GameID = g.GameID   
	WHERE 
			g.GameID = @GameID 
		AND g.LotteryID = @LotteryID 
		AND WeekEndDate >= @FYStart AND WeekEndDate <= @FYEnd
	GROUP BY   
		ws.WeekEndDate, g.GameID  
	
	UNION ALL
	
	SELECT 
		ws.WeekEndDate, sum(WeekSales) as [WeekSales], @cyear - 1 as [Year], CAST(datename(MONTH,ws.WeekEndDate) as CHAR(3)) as [Month]  
    FROM 
		dbo.WeeklySale ws  
			JOIN dbo.Game g ON ws.GameID = g.GameID   
	WHERE 
			g.GameID = @GameID 
		AND g.LotteryID = @LotteryID 
		AND WeekEndDate >= DATEADD(year, -1, @FYStart) AND WeekEndDate <= DATEADD(year, -1, @FYEnd)
	GROUP BY   
		ws.WeekEndDate, g.GameID  

	UNION ALL
	
	SELECT 
		ws.WeekEndDate, sum(WeekSales) as [WeekSales], @cyear - 2 as [Year], CAST(datename(MONTH,ws.WeekEndDate) as CHAR(3)) as [Month]  
    FROM 
		dbo.WeeklySale ws  
			JOIN dbo.Game g ON ws.GameID = g.GameID   
	WHERE 
			g.GameID = @GameID 
		AND g.LotteryID = @LotteryID 
		AND WeekEndDate >= DATEADD(year, -2, @FYStart) AND WeekEndDate <= DATEADD(year, -2, @FYEnd)
	GROUP BY   
		ws.WeekEndDate, g.GameID  
	ORDER BY
		[Year] DESC, ws.WeekEndDate
END
GO
