USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetCustomerWithPenetration]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  
Description : Rewrite weekly sales penentration "uspSelectLotteryWithSalesInfoPenetration" 
			  to retrieve das for Customer Portal 

exec [spLottery_GetCustomerWithPenetration] 0		--  0 indicates domestic
exec [spLottery_GetCustomerWithPenetration] 1		--  1 indicates int'l

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetCustomerWithPenetration]
	@isInternational int = 0	
AS  
BEGIN  
	SET NOCOUNT ON

	IF @isInternational = 1
		BEGIN
			SELECT DISTINCT
				  csd.SubDivisionCode AS CustomerCode
				, l.BusinessName
				, substring(l.LogoPath, len(left(l.LogoPath, len(l.LogoPath) - charindex('\', reverse(l.LogoPath) + '\'))) + 2, charindex('\', reverse(l.LogoPath) + '\')) AS LogoName
				, csd.SubDivisionCode
			FROM 
				dbo.Lottery l  
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
					LEFT JOIN dbo.Game g ON l.LotteryID = g.LotteryID
					RIGHT JOIN dbo.WeeklySalesPenetration ws ON g.GameID = ws.GameID
			WHERE
				l.CountryID <> 1 
			ORDER BY
				l.BusinessName
		END
	ELSE
		BEGIN
			SELECT DISTINCT
				  csd.SubDivisionCode AS CustomerCode
				, l.BusinessName
				, substring(l.LogoPath, len(left(l.LogoPath, len(l.LogoPath) - charindex('\', reverse(l.LogoPath) + '\'))) + 2, charindex('\', reverse(l.LogoPath) + '\')) AS LogoName
				, csd.SubDivisionCode
			FROM 
				dbo.Lottery l  
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID
					LEFT JOIN dbo.Game g ON l.LotteryID = g.LotteryID
					RIGHT JOIN dbo.WeeklySalesPenetration ws ON g.GameID = ws.GameID
			WHERE
				l.CountryID = 1 
			ORDER BY
				l.BusinessName
		END			
END	
GO
