USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spConcept_Add]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 11/06/2019  
Description : Validate and insert concept game

Version	Modified By		Modified Date	Description
------------------------------------------------------------------------------------------------------
1		JBrillantes		12/20/2019		Added height and width due XML files update
2		JBrillantes		01/27/2020		Check for pipe delimited in the theme, play action and specialty options.
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spConcept_Add]
	@CustomerCode nvarchar(10),
	@GameName nvarchar(60),
	@PricePoint money,			
	@Theme nvarchar(300),				-- Theme name
	@PlayAction nvarchar(300),			-- PlayStyle name
	@SpecialtyOptions nvarchar(300),	-- Specialty printing name
	@FileName nvarchar(400),			-- Image name
	@Height float = 0,
	@Width float = 0,
	@ConceptID int OUTPUT
AS  
BEGIN  
	SET NOCOUNT ON

	DECLARE 
		@LotteryID int,
		@RetVal int = 0
		
	-- get lottery id for this customer
	SET @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)

	-- check for dups then return
	IF EXISTS 
			(
				SELECT 
					'x' 
				FROM 
					dbo.Concept					
				WHERE 
					LotteryID = @LotteryID AND 
					GameName = @GameName AND 
					TicketPrice = @PricePoint AND
					ImageName = @FileName
			)
		BEGIN
			-- error number for record already exist in the database
			SET @RetVal = 99999

			SET @ConceptID = 0

			RETURN @RetVal
		END
			
	BEGIN TRY		
		BEGIN TRANSACTION

		INSERT INTO dbo.Concept 
			(LotteryID, GameName, TicketPrice, Height, Width, ImageName)
		SELECT 
			@LotteryID as LotteryID,
			@GameName as GameName,
			@PricePoint as TicketPrice,
			(@Height / 25.4) as Height,				-- convert to inches
			(@Width / 25.4) as Width,				-- convert to inches
			@FileName as ImageName

		SET @ConceptID = SCOPE_IDENTITY()

		IF @ConceptID > 0
			BEGIN						
				-- insert concepttheme info
				INSERT INTO dbo.ConceptTheme 
					(ConceptID, ConceptThemeName)
				SELECT
					@ConceptID as ConceptID, ltrim(rtrim([value])) as ThemeName
				FROM
					STRING_SPLIT(@Theme, '|')
						
				-- insert conceptplayaction info
				INSERT INTO [dbo].[ConceptPlayAction]
					(ConceptID, ConceptPlayActionName)
				SELECT
					@ConceptID as ConceptID, ltrim(rtrim([value])) as PlayActionName
				FROM
					STRING_SPLIT(@PlayAction, '|')

				---- insert conceptspecialtyoption info
				INSERT INTO [dbo].[ConceptSpecialtyOption]
					(ConceptID, ConceptSpecialtyOptionName)
				SELECT
					@ConceptID as ConceptID, ltrim(rtrim([value])) as SpecialtyOptionName
				FROM
					STRING_SPLIT(@SpecialtyOptions, '|')
			END
			
		COMMIT TRANSACTION
		--END
	END TRY

	BEGIN CATCH
		ROLLBACK TRANSACTION

		SET	@RetVal = ERROR_NUMBER()
		SET @ConceptID = 0
	END CATCH

	RETURN @RetVal
END 
GO
