USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTicketSalesByDate]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 08/06/2019  
Description : Rewrite Sales By Ticket "uspGetLotteryTicketSales__SelectFiscalYear" for Customer Portal 

exec [spLottery_GetTicketSalesByDate] 'AZ', '07/02/2016', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTicketSalesByDate]
	@CustomerCode nvarchar(10),
	@WeekEndDate date,
	@IsFiscalYear tinyint = 0
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@ytdSalesCurr money,  
		@ytdSalesPrior money,
		@MaxSalesDate date,
		@PriorWeekSalesDate date,
		@PriorStartDate nvarchar(50),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYEndMonthDayActual nvarchar(50),
		@FYStartMonthDayActual nvarchar(50),
		@yearWeeks int

	declare
		@SalesType varchar(50),
		@PriorYearSalesDate date,
		@cntWeeks int,
		@tmpCurrFY int

	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@FYEndMonthDay = f.FYEnds,
		@FYEndMonthDayActual = FYEndsActual,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM 
		dbo.LotteryFact f  			
	WHERE 
		f.LotteryID = @LotteryID
   
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = @WeekEndDate
	
	-- for calendar year
	set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) as nvarchar)
	
	-- for fiscal year
	set @FYStartMonthDayActual = DATEADD(d, 1, CAST(@FYEndMonthDayActual + '/00' AS DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDayActual = CAST(DATEPART(m, @FYStartMonthDayActual) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDayActual) as nvarchar)  
	
	-- determine what FY is current...   
	set @tmpCurrFY = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) ) --<< max([WeekEndDate] from sales... for ny this is going to return  
    set @cyear = YEAR(GetDate())  
	set @yearWeeks = 52 
 
	IF @IsFiscalYear = 1
		BEGIN
			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay

			set @FYEnd = (select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) ) 

			IF @FYEndMonthDay = '1/3'  
				BEGIN
					set @FYEnd = cast(Year(@FYEnd) + 1 as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4))
				END
			ELSE
				BEGIN
					set @FYEnd = cast(Year(@FYEnd) as varchar(4)) + '/' + cast(@FYEndMonthDay as varchar(4))

					IF (SELECT dbo.fnIsLeapYear(@cyear - 1)) = 1       
						BEGIN     
							set @yearWeeks = 53    
						END 
				END		
			set @PriorStartDate = DATEADD(YEAR, -1, CAST(@FYStart as DATE)) 
			set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))			
		END
	ELSE
		BEGIN
			set @FYStart = CAST(DATEPART(Year, @MaxSalesDate) AS varchar(4)) +  '/' + @CalStart  --as DATE)   
			set @FYEnd = CAST((DATEPART(Year, @MaxSalesDate) + 1) AS varchar(4)) +  '/' + @CalEnd  --as DATE)   
    	
			set @PriorStartDate = DATEADD(yy, -1, CAST(@FYStart as DATE))  			
			set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate)) 			
		END

	set @cntWeeks = DATEDIFF(Day, @FYStart, @MaxSalesDate)  
	set @cntWeeks = case   
						when @cntWeeks/7 < 1 then 1  
						else @cntWeeks/7 + 1 
					end

	set @ytdSalesCurr =    
		(SELECT 
			SUM(ws.WeekSales)  
		 FROM 
			dbo.WeeklySale ws  
				JOIN dbo.Game g ON ws.GameID = g.GameID   
		 WHERE 
				g.LotteryID = @LotteryID 
			AND (ws.WeekEndDate >= @FYStart AND ws.WeekEndDate <= @MaxSalesDate)
		) 
   
	set @ytdSalesPrior =  
		(SELECT 
			SUM(ws.WeekSales)  
		 FROM 
			dbo.WeeklySale ws  
				JOIN dbo.Game g ON ws.GameID = g.GameID   
		 WHERE 
				g.LotteryID = @LotteryID  -- california  
			AND (ws.WeekEndDate >= @PriorStartDate AND ws.WeekEndDate  <= @PriorWeekSalesDate) 
		)  

	SELECT 
		t.TicketPrice AS [Ticket Price], 
		ws.WeekSalesCurr AS [Curr Week Sales], 
		ts.TotalSalesCurr as [YTD Sales],
		cast(cast(((ts.TotalSalesCurr / @ytdSalesCurr) * 100) as decimal (12, 2)) as varchar) + '%' as [% Sales YTD],
		wsp.WeekSalesPrior as [Prior Week Sales],
		tsp.TotalSalesPrior as [Prior Year YTD Sales],
		cast(cast(((tsp.TotalSalesPrior / @ytdSalesPrior) * 100) as decimal (12, 2)) as varchar) + '%' as [% Sales Prior YTD],
		ws.WeekSalesCurr - wsp.WeekSalesPrior as [Week Difference],
		CAST(CAST(((ws.WeekSalesCurr - wsp.WeekSalesPrior) / wsp.WeekSalesPrior) * 100 AS DECIMAL(12, 2)) AS VARCHAR) + '%' as [% Change Week], 
		ts.TotalSalesCurr - tsp.TotalSalesPrior as [YTD Difference],
		CAST(CAST(((ts.TotalSalesCurr - tsp.TotalSalesPrior) / tsp.TotalSalesPrior) * 100  as DECIMAL(12, 2)) as VARCHAR) + '%' as [% Change Year]
	FROM 
		(
			SELECT 
				DISTINCT (g.TicketPrice)
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				g.LotteryID = @LotteryID  
		) t
			LEFT JOIN
				(
					SELECT  
						g.TicketPrice, SUM(WeekSales) as WeekSalesCurr        
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID 
						AND ws.WeekEndDate = @MaxSalesDate 
					GROUP BY
						g.TicketPrice
				) ws ON t.TicketPrice = ws.TicketPrice
			LEFT JOIN
				(	
					select g.TicketPrice, SUM(WeekSales) as WeekSalesPrior 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID 
						AND ws.WeekEndDate = @PriorWeekSalesDate
					GROUP BY
						g.TicketPrice
				) wsp ON t.TicketPrice = wsp.TicketPrice
			LEFT JOIN
				(	
				  SELECT 
						g.TicketPrice, SUM(WeekSales) as TotalSalesCurr 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID    
					WHERE 
						g.LotteryID = @LotteryID AND 
						ws.WeekEndDate >= @FYStart AND
						ws.WeekEndDate <= @MaxSalesDate
				  GROUP BY
						g.TicketPrice 
				) ts ON t.TicketPrice = ts.TicketPrice 
			LEFT JOIN
				(
					SELECT 
						g.TicketPrice, SUM(WeekSales) as TotalSalesPrior 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID    
					WHERE 
						g.LotteryID = @LotteryID AND 
						ws.WeekEndDate >= @PriorStartDate AND
						ws.WeekEndDate <= @PriorWeekSalesDate
					GROUP BY
						g.TicketPrice
				) tsp ON t.TicketPrice = tsp.TicketPrice 
	ORDER BY 
		t.TicketPrice 
END  
GO
