USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTotalYTDSales]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 07/31/2019  
Description : Rewrite Initial Report Query Sales YTD "uspGetLotteryTotalYTDSales_Structured_CalYear",
			  "uspGetLotteryTotalYTDSales_Structured" and "uspGetNALOLotteriesYTDSales_CalYear" into one 
			  sproc for Customer Portal 

exec [spLottery_GetTotalYTDSales] 'FL', 0  

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		11/02/2020		Task 953: Update GetTotalSales to use Left Join instead of Inner Join
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetTotalYTDSales]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS  
BEGIN   
	SET ARITHABORT OFF
	SET ANSI_WARNINGS OFF
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@SalesType nvarchar(50),
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYEndMonthDayActual nvarchar(50),
		@FYStartMonthDayActual nvarchar(50),
		@MaxSalesDate date,
		@PriorWeekSalesDate date,
		@PriorYearSalesDate date,
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cntWeeks int,
		@PriorStartDate nvarchar(50),
		@yearWeeks int,
		@cyear int,
		@tmpCurrFY int 
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@SalesType = COALESCE(st.SalesType, ''), 
		@FYEndMonthDay = f.FYEnds,
		@FYEndMonthDayActual = FYEndsActual,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM 
		dbo.LotteryFact f  
			LEFT JOIN dbo.SalesType st ON f.SalesTypeID = st.SalesTypeID  
	WHERE 
		f.LotteryID = @LotteryID
   
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID  
		)  
   
	-- for calendar year
	set @FYStartMonthDay = DATEADD(d, + 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) as nvarchar)
	
	-- for fiscal year
	set @FYStartMonthDayActual = DATEADD(d, +1, CAST(@FYEndMonthDayActual + '/00' AS DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDayActual = CAST(DATEPART(m,@FYStartMonthDayActual) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDayActual) as nvarchar)  
	
	-- determine what FY is current...   
	set @tmpCurrFY = (SELECT dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay) ) --<< max([WeekEndDate] from sales... for ny this is going to return  
    set @cyear = YEAR(GetDate())  
	set @yearWeeks = 52 
 
	IF @IsFiscalYear = 1
		BEGIN
			IF @FYEndMonthDay <> '1/3'  
				BEGIN  
					-- check if leap year is true, set weeks to 53
					IF [dbo].[fnIsLeapYear](@tmpCurrFY - 1) = 1 						
						BEGIN   
							set @yearWeeks = 53  
						END  
				END 
			
			set @PriorYearSalesDate = DATEADD(WEEK, -@yearWeeks, @MaxSalesDate) 
			set @FYStart = (select dbo.fnFiscalYearStartDate(@MaxSalesDate, @FYEndMonthDay))
			set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay
			
			set @PriorStartDate = DATEADD(YEAR, -1, CAST(@FYStart as DATE)) 
			set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))			
		END
	ELSE
		BEGIN
			set @FYStart = CAST(@cyear AS varchar(4)) +  '/' + @CalStart  --as DATE)   
			set @FYEnd =CAST(@cyear+1 AS varchar(4)) +  '/' + @CalEnd  --as DATE)   
    	
			set @PriorStartDate = DATEADD(yy, -1, CAST(@FYStart as DATE))  
			set @PriorWeekSalesDate = (SELECT dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @MaxSalesDate))  
		END

	set @cntWeeks = DATEDIFF(Day, @FYStart, @MaxSalesDate)  
	set @cntWeeks = case   
						when @cntWeeks/7 < 1 then 1  
						else @cntWeeks/7 + 1 
					end  

	SELECT
		@MaxSalesDate as [Curr Week],
		ws.WeekSalesCurr as [Curr Week Sales],
		ts.TotalSalesCurr as [YTD Sales],
		@PriorWeekSalesDate as [Prior Year Week],
		ISNULL(wsp.WeekSalesPrior, 0) as [Prior Year Week Sales], 
		ISNULL(tsp.TotalSalesPrior, 0) as [Prior Year YTD Sales], 
		ws.WeekSalesCurr - wsp.WeekSalesPrior as [Week Difference],
		CAST(CAST(((ws.WeekSalesCurr - ISNULL(wsp.WeekSalesPrior, 0)) / ISNULL(wsp.WeekSalesPrior, 0)) * 100 AS DECIMAL(12, 2)) AS VARCHAR) + '%' as [as '% Change Week],
		ts.TotalSalesCurr - tsp.TotalSalesPrior as [YTD Difference],  
		CAST(CAST(((ts.TotalSalesCurr - ISNULL(tsp.TotalSalesPrior, 0)) / ISNULL(tsp.TotalSalesPrior, 0)) * 100 as decimal(12, 2)) as VARCHAR) + '%' as [% Change Year],
		@cntWeeks as [Weeks],
		@tmpCurrFY as [Current Year],
		Year(@FYStart) - 1 as [PriorYear],
		@FYStart as [CurrYearCalStartDate],
		@FYStartMonthDay as [Start Month Day],
		@SalesType as [Sales Type]
	FROM
		(
			SELECT  
				g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as WeekSalesCurr
			FROM 
				dbo.WeeklySale ws
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				ws.WeekEndDate = @MaxSalesDate
			GROUP BY
				g.LotteryID
			HAVING 
				g.LotteryID = @LotteryID
		) ws
			JOIN
				(
					SELECT  
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as TotalSalesCurr
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID 						
					WHERE 
						ws.WeekEndDate >= @FYStart AND
						ws.WeekEndDate <= GETDATE() 
					GROUP BY
						g.LotteryID	
				) ts ON ts.LotteryID = ws.LotteryID
			LEFT JOIN
				(
					SELECT  
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as WeekSalesPrior
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID   						
					WHERE 
						ws.WeekEndDate  = @PriorWeekSalesDate
					GROUP BY
						g.LotteryID
				) wsp ON wsp.LotteryID = ws.LotteryID			
			LEFT JOIN
				(
					SELECT 
						g.LotteryID, SUM(ISNULL(ws.WeekSales, 0)) as TotalSalesPrior
					FROM 
						dbo.WeeklySale ws
							JOIN dbo.Game g ON ws.GameID = g.GameID    
					WHERE 
						ws.WeekEndDate >= @PriorStartDate AND
						ws.WeekEndDate <= @PriorWeekSalesDate 
					GROUP BY
						g.LotteryID	
				) tsp ON tsp.LotteryID = ws.LotteryID
END
GO
