USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTotalYTDSalesByStartAndEndDate]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 08/07/2019  
Description : Rewrite Sales By Ticket "uspGetLotteryTicketSales_HistoricalPickDates" for Customer Portal 

exec [spLottery_GetTotalYTDSalesByStartAndEndDate] 'VA', '01/08/2017', '04/01/2017'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTotalYTDSalesByStartAndEndDate]
	@CustomerCode nvarchar(10),
	@WeekStartDate date,
	@WeekEndDate date
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@ytdSalesCurr money,  
		@ytdSalesPrior money,
		@MaxSalesDate date,
		@PriorWeekSalesDate date,
		@PriorStartDate nvarchar(50),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYEndMonthDayActual nvarchar(50),
		@FYStartMonthDayActual nvarchar(50),
		@yearWeeks int,
		@PriorYearWeekStartSalesDate date,
		@PriorYearWeekEndSalesDate date
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
		
	SELECT 
		@FYEndMonthDay = f.FYEnds,
		@FYEndMonthDayActual = FYEndsActual,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM 
		dbo.LotteryFact f  			
	WHERE 
		f.LotteryID = @LotteryID
   
	-- for fiscal and calendar year
	set @FYStartMonthDay = DATEADD(d, 1, CAST(@FYEndMonthDay + '/00' as DATE))  --<< append any year to make it convert to date..  
	set @FYStartMonthDay = CAST(DATEPART(m, @FYStartMonthDay) AS nvarchar) + '/' + CAST(DATEPART(d, @FYStartMonthDay) as nvarchar)
	
	set @FYStart = (select dbo.fnFiscalYearStartDate(@WeekEndDate, @FYEndMonthDay) ) 
	set @FYStart = cast(@FYStart as varchar(4)) + '/' + @FYStartMonthDay

	set @PriorYearWeekStartSalesDate = (select dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @WeekStartDate))  
    set @PriorYearWeekEndSalesDate = (select dbo.fnCalcSameWeekForPriorYear(@LotteryID, @FYStart, @WeekEndDate))   
	
	set @ytdSalesCurr =    
		(
			SELECT  
				SUM(ISNULL(ws.WeekSales, 0))
			FROM 
				dbo.WeeklySale ws
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				g.LotteryID = @LotteryID AND
				ws.WeekEndDate >= @WeekStartDate AND
				ws.WeekEndDate <= @WeekEndDate 	
			GROUP BY
				g.LotteryID
		) 
   
	set @ytdSalesPrior =  
		(
			SELECT  
				SUM(ISNULL(ws.WeekSales, 0))
			FROM 
				dbo.WeeklySale ws
					JOIN dbo.Game g ON ws.GameID = g.GameID   						
			WHERE 
				g.LotteryID = @LotteryID AND
				ws.WeekEndDate >= @PriorYearWeekStartSalesDate AND
				ws.WeekEndDate <= @PriorYearWeekEndSalesDate 
			GROUP BY
				g.LotteryID 
		)  

	SELECT 
		t.TicketPrice AS [Ticket Price], 
		ws.WeekSalesCurr AS [Period Sales], 
		cast(cast(((ws.WeekSalesCurr / @ytdSalesCurr) * 100) as decimal (12, 2)) as varchar) + '%' as [% Sales],
		wsp.WeekSalesPrior as [Prior Year Period Sales],
		CAST(CAST((wsp.WeekSalesPrior / @ytdSalesPrior) * 100 AS DECIMAL(12, 2)) AS VARCHAR) + '%' as [% Prior Sales],
		ws.WeekSalesCurr - wsp.WeekSalesPrior as [Difference],
		CAST(CAST(((ws.WeekSalesCurr - wsp.WeekSalesPrior) / wsp.WeekSalesPrior) * 100  as DECIMAL(12, 2)) as VARCHAR) + '%' as [% Change]
	FROM 
		(
			SELECT 
				DISTINCT (g.TicketPrice)
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID 
			WHERE
				g.LotteryID = @LotteryID 
		) t
			LEFT JOIN
				(
					SELECT  
						g.TicketPrice, SUM(WeekSales) as WeekSalesCurr        
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID AND
						ws.WeekEndDate >= @WeekStartDate AND
						ws.WeekEndDate <= @WeekEndDate 
					GROUP BY
						g.TicketPrice
				) ws ON t.TicketPrice = ws.TicketPrice
			LEFT JOIN
				(	
					select g.TicketPrice, SUM(WeekSales) as WeekSalesPrior 
					FROM 
						dbo.WeeklySale ws  
							JOIN dbo.Game g on ws.GameID = g.GameID   
					WHERE 
							g.LotteryID = @LotteryID AND
						ws.WeekEndDate >= @PriorYearWeekStartSalesDate AND
						ws.WeekEndDate <= @PriorYearWeekEndSalesDate 
					GROUP BY
						g.TicketPrice
				) wsp ON t.TicketPrice = wsp.TicketPrice			
	WHERE
		t.TicketPrice <> 7
	ORDER BY 
		t.TicketPrice 
END  

GO
