USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetActiveSalesThru]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/19/2019  
Description : Rewrite Sales By game "uspGetActiveGameSellThru" for Customer Portal 

exec [spGame_GetActiveSalesThru] 'VA', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/03/2020		add VendorType param
3		JBrillantes		04/24/2020		Exclude with sell-thru rate over 110% per Todd's email
4		JBrillantes		04/27/2020		sort by StartDate in descending order per Todd
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spGame_GetActiveSalesThru]
	@CustomerCode nvarchar(10),
	@VendorType tinyint = 1 --(type 0=all, 1=IGT, 2=Non-IGT)
AS  

BEGIN    
	SET NOCOUNT ON 
  
	declare		
		@LotteryID int,
		@MaxSalesDate date,
		@strCurrency nvarchar(10),
		@cyear int,
		@FYEndMonthDay nvarchar(50),
		@FYStartMonthDay nvarchar(50),
		@FYStart nvarchar(10),
		@FYEnd nvarchar(10),
		@CalStart nvarchar(50),
		@CalEnd nvarchar(50),
		@PriorWeekSalesDate date,
		@PriorStartDate nvarchar(50),
		@yearWeeks int,
		@PriorYearSalesDate date
			
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)
	
   -- get MAX date from weeklysales table, california lottery, current FY  
	set @MaxSalesDate = 
		(
			SELECT 
				max(ws.WeekEndDate) 
			FROM 
				dbo.WeeklySale ws  
					JOIN dbo.Game g ON ws.GameID = g.GameID   
			WHERE 
				g.LotteryID = @LotteryID  
		)  
   
	SELECT 
		@FYEndMonthDay = FYEnds,
		@CalStart = CalStart,
		@CalEnd = CalEnd
	FROM	
		dbo.LotteryFact  
	WHERE 
		LotteryID = @LotteryID  
	
	IF OBJECT_ID('tempdb.dbo.#tmpWeeklySale') is not null DROP TABLE #tmpWeeklySale 
	create table #tmpWeeklySale 
		(
			  TicketPrice money NOT NULL INDEX idx_tmpWeeklySale_TicketPrice 
            , TicketCnt int
			, TotalSales money
			, AvgSales money
			, PercentSales money NOT NULL INDEX idx_tmpWeeklySale_PercentSales
		)

	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame  
	create table #tmpGame  
		(   
			  GameID int NOT NULL INDEX idx_tmpGame_GameID 
			, GameReference nvarchar(50)  
			, GameName nvarchar(100)  
			, StartDate smalldatetime  
			, TicketPrice smallmoney  
			, TicketsOrdered int  
			, TicketsReceived int  			
			, Reorder int
			, CountWeek int  
			, TotalGameSales money    
			, AvgSales money
			, TicketQtyUsed int  
			, TicketValUsed nvarchar(50)  
			, SellThruPerc decimal(20, 2)  
			, SellThru decimal(10, 2)  			 
			, UnSoldsToDate money 
			, WeeksRemaining decimal(10)  
			, Ticket80 int  
			, Ticket90 int
		) 

	IF OBJECT_ID('tempdb.dbo.#tmpSales') is not null DROP TABLE #tmpSales  		
	create table #tmpSales  
		(  
		  GameID int NOT NULL INDEX idx_tmpSales_GameID 
		, WeekNumber int  
		, WeekStartDate date  
		, WeekEndDate date
		, WeekSales money
		, TicketPrice money  
		, TicketQtyUsed int
		, RunningSalesTotal money  
		, RunningSellThruPerc decimal(30, 2)  
		)  

	-- temp calc
	INSERT INTO
		#tmpWeeklySale
	select 
		  g.TicketPrice  
		, count(ws.weeksales) as 'count of sales by PP'  
		, sum(ws.weeksales) as 'total sales by PP'  
		, sum(ws.weeksales) / count(ws.weeksales) as 'average by PP'  
		, (sum(ws.weeksales) / count(ws.weeksales)) * .10  as '20% of average by PP'  
    FROM 
		dbo.WeeklySale ws
			JOIN dbo.Game g ON ws.GameID = g.GameID 
	WHERE 
			g.LotteryID = @LotteryID
		AND ISNULL(g.TicketPrice, 0) > 0
		AND ws.WeekEndDate = @MaxSalesDate 
		AND g.VendorID IN 
			(
				SELECT 
					VendorID 
				FROM 
					dbo.Vendor v
				WHERE
					CASE 
						WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
						WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
						WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
					END = 1
			)
	GROUP BY
		g.TicketPrice  

	INSERT INTO
		#tmpGame
	select 
		  b.GameID  
		, b.GameReferenceID  
		, b.GameName  
		, b.StartDate
		, b.TicketPrice   
		, sum(cast(b.TicketsReceived as bigint)) / count(b.TicketsReceived) as TicketsOrdered  
		, sum(cast(b.TicketsOrdered as bigint)) / count(b.TicketsOrdered) as TicketsReceived 
		, ISNULL(sum(o.Quantity), 0) as Reorder
		, max(a.WeekNumber) as CountWeek   
		, sum(a.WeekSales) as TotalGameSales
		, AVG(a.WeekSales) as AvgSales
		, CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0 THEN ISNULL((b.TicketsReceived), 0)  
			WHEN ISNULL((b.TicketsOrdered), 0)  > 0  THEN ISNULL((b.TicketsOrdered), 0)  
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0) as TicketQtyUsed  --1/18/19  
		, CASE  
			WHEN ISNULL(count(b.TicketsReceived), 0) > 0  THEN 'TicketsReceived'   
			WHEN ISNULL(count(b.TicketsOrdered), 0)  > 0  THEN 'TicketsOrdered'  
			ELSE 'No Ticket Quantity'  
			END as TicketValUsed 
		, 100 * (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				( 
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as SellThruPerc  --1/18/19  
		, (sum(a.WeekSales) / 
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END) / 
				(
					CASE  
						WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)  
						WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
						ELSE 1  
					END + ISNULL(SUM(o.Quantity), 0)
				) as 'SellThru'  --1/18/19 
						
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) AS UnSoldToDate  					
		, ((cast(
			CASE 
				WHEN b.TicketPrice > '0.00' THEN b.TicketPrice  
				ELSE '1.00' 
			END as money) * (CASE  
								WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
								WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)  
								ELSE 1  
								END + ISNULL(SUM(o.Quantity), 0))
			) -  SUM(a.WeekSales)) / AVG(a.WeekSales) as WeeksRemaining  						
		, (CASE 
			WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
			WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0)
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0)) * .80  as Ticket80  
		, (CASE  
			WHEN ISNULL((b.TicketsReceived), 0) > 0  THEN ISNULL((b.TicketsReceived), 0)   
			WHEN ISNULL((b.TicketsOrdered), 0) > 0  THEN ISNULL((b.TicketsOrdered), 0) 
			ELSE 1  
			END + ISNULL(SUM(o.Quantity), 0)) * .90  as Ticket90 
	from 
		dbo.Game b  
			join dbo.WeeklySale a on a.GameID = b.GameID			
			join
				(
					select  
						b.GameID, c.TotalSales
					from 
						dbo.Game b
							join dbo.WeeklySale a on a.GameID = b.GameID 
							join #tmpWeeklySale c on b.TicketPrice = c.TicketPrice			
					where 
							b.LotteryID = @LotteryID
						and a.WeekEndDate = @MaxSalesDate
						and a.WeekSales >= c.PercentSales	
						and b.VendorID in 
							(
								SELECT 
									VendorID 
								FROM 
									dbo.Vendor v
								WHERE
									CASE 
										WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
										WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
										WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
									END = 1
							)
				) c on b.GameID = c.GameID
			left join dbo.GameReorder o on o.GameID = b.GameID
	group by 
		b.GameID, b.GameReferenceID, b.GameName, b.StartDate, b.TicketPrice, b.TicketsReceived, b.TicketsOrdered
	
	INSERT INTO	
		#tmpSales
	select 
		  b.GameID TicketPrice
		, a.WeekNumber  
		, a.WeekStartDate  
		, a.WeekEndDate  
		, a.WeekSales  
		, b.TicketPrice  
		, b.TicketQtyUsed    
		, SUM(a.WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) --as 'Running Total'  
		, 100 * (SUM(WeekSales) OVER (PARTITION BY b.GameID ORDER BY a.WeekEndDate) / b.TicketPrice) / b.TicketQtyUsed  --END as 'Running SellThru %'
	from 
		dbo.WeeklySale a  
			join #tmpGame b on a.GameID = b.GameID 
	group by 
		b.GameID 
		, a.WeekNumber  
		, a.WeekStartDate  
		, a.WeekEndDate  
		, a.WeekSales  
		, b.TicketPrice  
		, b.TicketQtyUsed  
		
	SELECT
		ws.GameID,
		g.GameReference,
		g.GameName,
		g.StartDate,
		g.TicketPrice,
		--g.TicketsOrdered,
		--g.TicketsReceived,
		[# Weeks On Sale] = g.CountWeek, 
		ws.WeekEndDate, 
		--MaxSalesDate = @MaxSalesDate, 
		[Curr Week Sales] = ws.WeekSales, 
		[Ticket Qty Received] = g.TicketQtyUsed,
		[Ticket Qty Remaining] = g.UnSoldsToDate / g.TicketPrice,
		[Sales To-Date] = g.TotalGameSales,
		[Average Sales] = g.AvgSales,
		[Sell-Thru] = g.SellThruPerc,
		WeeksRemaining = g.UnSoldsToDate / g.AvgSales,
		[13 Week Average] = 
			CASE 
				WHEN g.CountWeek > 12 THEN (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A)   
			END,  
		[13 Week Sell-Thru] = 
			ISNULL(CONVERT(varchar(50), 
				CASE 
					WHEN g.CountWeek > 12 THEN 100 * ((SELECT sum(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A) / g.TicketPrice) / g.TicketQtyUsed
					ELSE NULL  
				END) + '%' , 'N/A'),
		[Weeks Remaining (at 13 wk avg)] = 
			ISNULL(CONVERT(varchar(50), 
				CASE 
					WHEN g.CountWeek > 12 THEN g.UnSoldsToDate / ((SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A))  
					ELSE NULL    
				END), 'N/A'),
		[# of Weeks to 90% Sell-Thru] = 
			CASE	
				WHEN g.SellThru < .90 THEN
					ROUND((((g.Ticket90 - (g.TotalGameSales / g.TicketPrice)) / (
						CASE
							WHEN (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A) > 0
								THEN (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A)
							ELSE g.AvgSales
						END / g.TicketPrice)) + g.CountWeek), 0)
				ELSE
					(
						ISNULL((select top 1 WeekNumber from #tmpSales where RunningSellThruPerc >= 90  and GameID = ws.GameID), 9999)
					)
					
			END,
		[# of Weeks to 80% Sell-Thru] =
			CASE	
				WHEN g.SellThru < .80 THEN
					ROUND((((g.Ticket80 - (g.TotalGameSales / g.TicketPrice)) / (
						CASE
							WHEN (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A) > 0
								THEN (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A)
							ELSE g.AvgSales
						END / g.TicketPrice)) + g.CountWeek), 0)
				ELSE 
					(
						ISNULL((select top 1 WeekNumber from #tmpSales where RunningSellThruPerc >= 80  and GameID = ws.GameID), 9999)
					)
			END
		--AvgSalesThirteenWeeks = (SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A)
		--,TotSalesThirteenWeeks = (SELECT sum(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A)
		--,SellThruThirteen = 100 * ((SELECT sum(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A) / g.TicketPrice) / g.TicketQtyUsed
		--,WeeksRemainingThirteen = g.UnSoldsToDate / ((SELECT avg(WeekSales) FROM (SELECT TOP 13 WeekSales FROM dbo.WeeklySale s where s.GameID = g.GameID AND g.CountWeek > 12 ORDER BY s.WeekEndDate DESC) A))
		--,TicketQtySold = g.TotalGameSales / g.TicketPrice		
		--, [Ticket Qty Remaining] = g.TicketQtyUsed - (g.TotalGameSales / g.TicketPrice)
	FROM
		(
			select  
				b.GameID, a.WeekSales, a.WeekNumber, a.WeekStartDate, a.WeekEndDate
			from 
				dbo.Game b  
					join dbo.WeeklySale a on a.GameID = b.GameID   
					join #tmpWeeklySale c on b.TicketPrice = c.TicketPrice
			where 
					b.LotteryID = @LotteryID  
				AND a.WeekEndDate = @MaxSalesDate  
				AND a.WeekSales >= c.PercentSales 
				AND b.VendorID IN 
					(
						SELECT 
							VendorID 
						FROM 
							dbo.Vendor v
						WHERE
							CASE 
								WHEN @VendorType = 0 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor)) THEN 1
								WHEN @VendorType = 1 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID = 1)) THEN 1
								WHEN @VendorType = 2 AND (v.VendorID IN (SELECT VendorID FROM dbo.Vendor WHERE VendorID <> 1)) THEN 1
							END = 1
					)
		) ws
			JOIN
				#tmpGame g on ws.GameID = g.GameID
		WHERE
			g.SellThruPerc < 110
		ORDER BY
			g.StartDate DESC, g.GameName, g.GameReference		
END
GO
