USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/05/2019  
Description : Rewrite "uspSelectFiscalOrCalendarYearsForLottery" to retrieve fiscal or calendar year
			  for Customer Portal 

exec [spLottery_GetYear] 'AZ', 0

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spLottery_GetYear]
	@CustomerCode nvarchar(10),
	@IsFiscalYear tinyint = 0 -- default to calendar year
AS
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int,
		@MaxSalesDate date,
		@MinSalesDate date,
		@MinFiscalYear int,
		@FYEndMonthDay nvarchar(50),
		@curYear int ,
		@NumberYears int = 3,
		@i int = 0,
		@startYear int
		
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	
	-- get MAX date and min Fiscal year from weeklysales table, california lottery, current FY  
	SELECT 
		@MaxSalesDate = max(ws.WeekEndDate),
		@MinSalesDate = min(ws.WeekEndDate)
	FROM 
		dbo.WeeklySale ws  
			JOIN dbo.Game g ON ws.GameID = g.GameID   
	WHERE 
		g.LotteryID = @LotteryID  
	
	SELECT 
		@FYEndMonthDay = FYEnds
	FROM	
		dbo.LotteryFact  
	WHERE 
		LotteryID = @LotteryID 

	IF @IsFiscalYear = 1
		BEGIN
			-- same as @CurrentFY 
			set @MinFiscalYear = (SELECT dbo.fnYear(@MinSalesDate))  
			
			set @curYear = (select dbo.fnFiscalYear(@MaxSalesDate, @FYEndMonthDay))
			set @i = @curYear - @MinFiscalYear --12

			set @i = 
				case 
					when @i > @NumberYears then @NumberYears  
					else @i  
				end

			set @startYear = @curYear - @i
		END
	ELSE
		BEGIN
			set @i = year(@MaxSalesDate) - year(@MinSalesDate)

			set @i = 
				case 
					when @i > @NumberYears then @NumberYears  
					else @i  
				end 
			
			set @curYear = DATEPART(Year, @MaxSalesDate)
			set @startYear = @curYear - @i
		END
		
	;WITH cte_Return ([Year]) AS
		(
				SELECT @startYear
				UNION ALL
				SELECT [Year] + 1 FROM cte_Return WHERE [Year] < @curYear
		)
	SELECT 
		[Year] 
	FROM 
		cte_Return 
	ORDER BY 
		1 DESC
END
GO
