USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_Get]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  
Description : Rewrite weekly sales penentration "uspSelectPenetrationByLotteryByDateByPrice_iGrade" 
			  for Customer Portal 

exec [spWeeklySalesPenetration_Get] 'CA', '2017-11-04', '1.00'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_Get]
	@CustomerCode nvarchar(10),
	@EndOfWeek date,
	@TicketPrice smallmoney
AS  
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int = 
			(
				SELECT 
					l.LotteryID 
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					csd.SubDivisionCode = @CustomerCode
			)
	
	SELECT   
		b.GameID  
		, b.GameNumber
		, b.GameName 
		, b.TicketPrice as [Price]  
		, a.RetailerActivated as [Retailer Count (Activated)]
		, a.RetailerActivatedConfirmedIssuedSettled as [Retailer Count (Activated/Confirmed/Issued/Settled)]
		, a.TotalRetailers  		
  		, cast((100 * a.RetailerActivated) / a.TotalRetailers as decimal(18,2)) as [Current Penetration (based on activations)]  
		, cast((100 * a.RetailerActivatedConfirmedIssuedSettled) / a.TotalRetailers as decimal(18, 2)) as [Current Penetration (based on confirmed and issued, and activated settled]
  		, a.ActualPrintRun  
    	, a.ValidationAmt as [Curr Week Validations]  
		, c.TotValidationAmt as [Total Validations (up to Curr Week Selected)]
		, convert(nvarchar(100), LEFT(b.GameName, 50) + ' : $' + convert(nvarchar(100), a.ValidationAmt) + ' : ' + convert(nvarchar(100), convert(varchar(100),cast((100 * a.RetailerActivated) / a.TotalRetailers as decimal(18, 2)), 2)+'%')) as [Tooltip Info]  
		, convert(nvarchar(100), LEFT(b.GameName, 50) + ' : $' + convert(nvarchar(100), a.ValidationAmt) + ' : ' + convert(nvarchar(100), convert(varchar(100),cast((100 * a.RetailerActivatedConfirmedIssuedSettled) / a.TotalRetailers as decimal(18, 2)), 2)+'%')) as [Tooltip Confirmed Info]  
		, a.RetailerActivated / CAST(a.TotalRetailers as decimal(10, 2)) as [Pen %]  
  FROM 
		dbo.WeeklySalesPenetration a  
			join dbo.Game b ON a.GameID = b.GameID  
			join 
				(
					select  
						s.GameID, sum(s.ValidationAmt) as TotValidationAmt  
					from 
						dbo.WeeklySalesPenetration s  
							join dbo.Game g on s.GameID = g.GameID  
					where 
							g.LotteryID = @LotteryID 
						and g.TicketPrice = @TicketPrice 
						and s.WeekEnding <= @EndOfWeek 
					group by 
						s.GameID
				) c on a.GameID = c.GameID  
	WHERE
			a.WeekEnding = @EndOfWeek 
		AND ISNULL(a.ValidationAmt, 0) > 0				
		AND a.RetailerActivated / CAST(a.TotalRetailers as decimal(10, 2)) > '.10' 
END
GO
