USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spVendor_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectDistinctVendor" to retrieve game Vendor list for Customer Portal.

exec [spVendor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spVendor_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		VendorID, VendorName 
	FROM 
		dbo.Vendor
	WHERE
		IsActive = 1
	ORDER BY
		VendorName
END
GO
