USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetPrizeStructure]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectGamePrizeStructure_GET" to retrieve game prize structure by Game ID for the Customer Portal.

exec spGame_GetPrizeStructure @GameID=56430, @CustomerCode=N'VA'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		04/09/2020		add @CustomerrCode as parameter 
3		MThurston		10/06/2020		allow retreival of public domain prize structures for domestic jurisdictions.
										same flow as before for non-domestic jurisdictions.
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetPrizeStructure] 
	@GameID int,
	@CustomerCode nvarchar(10)
AS
BEGIN
	SET NOCOUNT ON

	SELECT  
		  g.GameID
		, ps.PrizeID 
		, g.GameReferenceID
		, ps.NumberOfPrizes
		, ps.PrizeAmount
		, ps.PrizeOdds
		, ps.PrizeAmount * ps.PrizeOdds AS PrizePayout
		, ps.PrizeDescription
		, ps.ActualValue
		, ISNULL(ps.TopPrize, 0) AS TopPrize
		, p.PrizeTypeName
		, p.PrizeTypeID
	 FROM 
		dbo.Game g				
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
			JOIN PrizeType p ON ps.PrizeTypeID = p.PrizeTypeID 
	WHERE
			g.GameID = @GameID
		AND EXISTS
			(
				SELECT 
					'x' 
				FROM 
					dbo.vwLottery l
				WHERE
					(SubDivisionCode = @CustomerCode OR l.[CountryCode] LIKE 'USA%') AND
					LotteryID = g.LotteryID
			)
END
GO
