USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetPrizeStructurePercentByTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/13/2020
Description : Rewrite Ticket Sales "uspGetGamePrizeStructurePercentGroupingBasedOnCheckboxList_iGrade" 
			  to retrieve prize structure in Customer Portal 

exec spLottery_GetPrizeStructurePercentByTicketPrice 
	@CustomerCode = 'FL',
	@TicketPrice  = 20,
	@StartDate  = '12/11/2017',
	@EndDate  = '08/01/2019',
	@IncludeGameID = '50175'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetPrizeStructurePercentByTicketPrice]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney,
	@StartDate date,
	@EndDate date,
	@IncludeGameID varchar(max) = ''
AS
BEGIN
	SET NOCOUNT ON

	declare 
		@LotteryID int 
	
	set @LotteryID = 
		(
			SELECT 
				l.LotteryID
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE
				csd.SubDivisionCode = @CustomerCode
		)

	IF OBJECT_ID('tempdb.dbo.#tmpGame') is not null DROP TABLE #tmpGame 
	CREATE TABLE #tmpGame
		(GameID int,
		 StartDate smalldatetime,
		 LotteryID int,
		 GameReferenceID nvarchar(50),
		 GameName nvarchar(60),
		 TicketPrice smallmoney,
		 PrizeID int,
		 NumberOfPrizes int,
		 PrizeAmount money,
		 PrizePayoutPercent float,
		 CalcPrizePayoutPercent float,
		 PrizePayouts money,
		 PrizePayoutsTotaled money,
		 PrizeClassification nvarchar(50))
 
	INSERT INTO 
		#tmpGame
	SELECT  
		g.GameID, StartDate, g.LotteryID, GameReferenceID, g.GameName, g.TicketPrice, ps.PrizeID, ps.NumberOfPrizes, ps.PrizeAmount, PrizePayoutPercent, CalcPrizePayoutPercent,
		PrizePayouts = 
			CASE
				WHEN PrizeAmount = 0 AND CalcPrizePayoutPercent <> 0 then  cast((cast(TicketPrice as money) * CalcPrizePayoutPercent * (NumberOfPrizes)) as money)
				WHEN PrizeAmount = 0 AND PrizePayoutPercent <> 0 then  cast((cast(TicketPrice as money)* PrizePayoutPercent * (NumberOfPrizes)) as money)
				WHEN PrizeAmount = 0 AND PrizePayoutPercent = 0 then  cast((cast(TicketPrice as money) * dbo.fnGetPrizePayoutPercent(@LotteryID, @StartDate,TicketPrice)*(NumberOfPrizes)) as money)
				   --note: if dbo.fGetDefaultPrizePayoutPercent is null (missing Lottery) then 1
				else cast((PrizeAmount * NumberOfPrizes)  as money) 
			END, 
		0 as PrizePayoutsTotaled,
		PrizeClassification =
			CASE 
				When ([PrizeAmount] = [TicketPrice]) AND [TopPrize] = 0 THEN 'BREAKEVEN/FREE TICKET'
				When ([PrizeAmount] = 0) AND [TopPrize] = 0 THEN 'BREAKEVEN/FREE TICKET'
				When [PrizeAmount] / [TicketPrice] > 1 AND [PrizeAmount] / [TicketPrice] < 2.5 
				AND [TopPrize] = 0 THEN '>1X TO <2.5X'
				When [PrizeAmount] / [TicketPrice] >= 2.5 AND [PrizeAmount] / [TicketPrice] < 5 
				AND [TopPrize] = 0 THEN '2.5X TO <5X'
				When [PrizeAmount] / [TicketPrice] >= 5 AND [PrizeAmount] / [TicketPrice] < 10 
				AND [TopPrize] = 0 THEN '5X TO <10X'
				When [PrizeAmount] / [TicketPrice] >= 10 AND [PrizeAmount] / [TicketPrice] < 25 
				AND [TopPrize] = 0 THEN '10X TO <25X'
				When [PrizeAmount] / [TicketPrice] >= 25 AND [PrizeAmount] / [TicketPrice] < 50 
				AND [TopPrize] = 0 THEN '25X TO <50X'
				When [PrizeAmount] / [TicketPrice] >= 50 AND [PrizeAmount] / [TicketPrice] <= 100 
				AND [TopPrize] = 0 THEN '50X TO 100X'
				When [PrizeAmount] / [TicketPrice] > 100 AND [TopPrize] = 0 THEN '>100X TO <TP'
				When [TopPrize] = 1 THEN 'TOP PRIZE'
				else 'there should not be an else. contact Sam.'
			end
	FROM 
		dbo.Game g
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.PrizeStructure ps ON g.GameID = ps.GameID
	WHERE
			g.GameID IN (SELECT [value] FROM STRING_SPLIT(@IncludeGameID, ','))
		AND l.LotteryID = @LotteryID
		AND g.TicketPrice = @TicketPrice
		AND g.StartDate >= @StartDate
		AND g.StartDate <= @EndDate

	 UPDATE  
		a
	SET 
		PrizePayoutsTotaled = (SELECT SUM(PrizePayouts) FROM #tmpGame b WHERE a.GameID = b.GameID) 
	FROM 
		#tmpGame a
	 
	IF OBJECT_ID('tempdb.dbo.#tempPivoted') is not null DROP TABLE #tempPivoted
	SELECT  
		GameID, 
		LotteryID, 
		GameReferenceID, 
		GameName, 
		TicketPrice, 
		PrizePayoutsTotaled, 
		ISNULL([BREAKEVEN/FREE TICKET],0) as [BREAKEVEN/FREE TICKET], 
		ISNULL([>1X TO <2.5X],0) as [>1X TO <2.5X],
		ISNULL([2.5X TO <5X],0) as [2.5X TO <5X],
		ISNULL([5X TO <10X],0) as [5X TO <10X],
		ISNULL([10X TO <25X],0) as [10X TO <25X],
		ISNULL([25X TO <50X],0) as [25X TO <50X],
		ISNULL([50X TO 100X],0) as [50X TO 100X],
		ISNULL([>100X TO <TP],0) as [>100X TO <TP],
		ISNULL([TOP PRIZE],0) as [TOP PRIZE]
	INTO 
		#tempPivoted
	FROM 
		(  
			Select  
				max(a.GameID) as GameID
				, a.LotteryID
				, a.GameReferenceID
				, a.GameName
				, a.TicketPrice
				, a.PrizePayoutsTotaled
				, a.prizeClassification
				, PrizeLevelPercent_useME = 
					CASE 
						when a.PrizePayoutsTotaled = 0 OR a.PrizePayoutsTotaled IS NULL then 0
						else convert(decimal(10,3), a.PrizePayouts / a.PrizePayoutsTotaled) -- * 100                   --Round(a.tmpPrizePayouts/a.tmpPrizePayoutsTotaled,3)
					END 	
			FROM 
				#tmpGame a
			group by  
				a.PrizeClassification, a.PrizeID, a.GameID, a.LotteryID, a.GameReferenceID, a.GameName, a.TicketPrice, a.PrizePayoutsTotaled, a.PrizePayouts, a.PrizeAmount
		) as q
			PIVOT (SUM([PrizeLevelPercent_useME]) 
				FOR [prizeClassification] IN ([BREAKEVEN/FREE TICKET], [>1X TO <2.5X], [2.5X TO <5X], [5X TO <10X], [10X TO <25X], [25X TO <50X], [50X TO 100X], [>100X TO <TP], [TOP PRIZE])
	) AS pvt


	IF OBJECT_ID('tempdb.dbo.#tempUnpivoted') is not null DROP TABLE #tempUnpivoted 
	SELECT 
		GameID, LotteryID, GameReferenceID, GameName, TicketPrice, prizeClassification,PrizeLevelPercentOut,PrizePayoutsTotaled
	INTO 
		#tempUnpivoted
	FROM 
		(
			SELECT 
				GameID, 
				LotteryID, 
				GameReferenceID, 
				GameName, 
				TicketPrice, 
				[BREAKEVEN/FREE TICKET], 
				[>1X TO <2.5X], 
				[2.5X TO <5X], 
				[5X TO <10X], 
				[10X TO <25X], 
				[25X TO <50X], 
				[50X TO 100X], 
				[>100X TO <TP], 
				[TOP PRIZE], 
				PrizePayoutsTotaled
			FROM 
				#tempPivoted
		) p
			UNPIVOT (PrizeLevelPercentOut FOR prizeClassification IN ([BREAKEVEN/FREE TICKET], [>1X TO <2.5X], [2.5X TO <5X], [5X TO <10X], [10X TO <25X], [25X TO <50X], [50X TO 100X], [>100X TO <TP], [TOP PRIZE])
	) AS unpvt
		
	select  
		  a.GameID
		, a.GameReferenceID as 'GameID'
		, a.GameName as 'Game Name'
		, a.TicketPrice as 'Ticket Price'
		, a.prizeClassification as 'Prize Tier Type'
		, a.PrizeLevelPercentOut as 'Percentage Allocated'
		, g.LotteryID
		, l.BusinessName
		, g.Odds
		, g.StartDate
		, g.TicketsReceived
		, g.TicketsOrdered
		, g.PrizePayoutPercent
		, g.CalcPrizePayoutPercent
		, convert(nvarchar(50),a.GameReferenceID) + ':'  + convert(nvarchar(100),a.GameName)   as 'GroupBy'
		, convert(nvarchar(50),a.GameReferenceID) + ' : '  + convert(nvarchar(100),a.GameName)  + ' : ' + format(PrizeLevelPercentOut, 'P')  as 'Tooltip Info'
		, x.AveragePLPercentAllocated
	from 
		#tempUnpivoted a
			join dbo.Game g ON a.GameID = g.GameID
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
			JOIN
			(
				SELECT  
					prizeClassification, 
					SUM(PrizeLevelPercentOut) / COUNT(DISTINCT GameID) as 'AveragePLPercentAllocated'
				FROM 
					#tempUnpivoted
				GROUP BY
					prizeClassification
			) x ON a.prizeClassification = x.prizeClassification
	where 
		a.PrizePayoutsTotaled > 0
	order by 
		g.LotteryID, g.StartDate, a.GameName, a.GameReferenceID
END
GO
