USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_GetRateOfSalesByDate]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
  
/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  					
Description : Rewrite weekly sales penentration "uspSelectPenetrationRateOfSalesByLotteryByDate_iGrade" 
			  for Customer Portal 

exec [spWeeklySalesPenetration_GetRateOfSalesByDate] 'VA', '2017-12-02'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices	
====================================================================================================*/  
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_GetRateOfSalesByDate]
	@CustomerCode nvarchar(10),
	@EndOfWeek date
AS
BEGIN    
	SET NOCOUNT ON 
  
	declare
		@LotteryID int = 
			(
				SELECT 
					l.LotteryID 
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					csd.SubDivisionCode = @CustomerCode
			)
	
	SELECT   
		 '$' + CAST(g.TicketPrice as varchar) as [Price] 
		, CAST(g.TicketPrice as nvarchar) + ' : ' + g.GameName + ' : ' + g.GameReferenceID as [Price-Name]
		, GameName as [Game Name]  
		, CAST(SUM(s.ValidationAmt / s.RetailerActivated) as varchar) as [Rate of Sales] 
		, '$' + CAST(g.TicketPrice as nvarchar) + ' : ' + CAST(g.GameName as nvarchar) + ' : ' +  CAST(SUM(s.ValidationAmt / s.RetailerActivated) as nvarchar) as [Tooltip Info]		
	FROM 
		dbo.WeeklySalesPenetration s  
			JOIN dbo.Game g on s.GameID = g.GameID  
	WHERE 
			g.LotteryID = @LotteryID  		  
		AND s.WeekEnding = @EndOfWeek
		AND ISNULL(s.ValidationAmt, 0) > 0
		AND g.TicketPrice <> 7
	GROUP BY 
		g.GameID, 
		g.TicketPrice, 
		g.GameName, 
		g.GameReferenceID
	HAVING 
		SUM(s.RetailerActivated / cast(s.TotalRetailers as decimal(10, 2))) > .10
	ORDER BY 
		g.TicketPrice, 
		SUM(s.ValidationAmt / s.RetailerActivated) DESC 
END
GO
