USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_Search] 

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	mthurston
-- Create Date: 08/30/2020
-- Description:	Retrieves high-level game information 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		mthurston		08/30/2020		init based on spGame_GetDetailedDataByGameSearch
2		JBrillantes		09/14/20202		Added drop procedure if exists
3.      MNithya         04/20/2026      Added TotalCount to the select statement to return total count of records for pagination
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_Search] 
	@CustomerCode varchar(10) = 'IGT',
	@GameName varchar(50) = NULL,
	@VendorName varchar(50) = NULL,
	@TicketPrice money = -1,
	@ThemeIDs varchar(255) = NULL,
	@ColorIDs varchar(255) = NULL,
	@PlayStyleIDs varchar(255) = NULL,
	@FeatureIDs varchar(255) = NULL,
	@SpecialtyOptionIDs varchar(255) = NULL,
	@JurisdictionIDs varchar(255) = NULL,
	@PaperStockCategoryIDs varchar(255) = NULL,
	@SortColumn varchar(24) = 'Launch Date',
	@SortDirection varchar(4) = 'DESC',
	@MinimumPerformance INT = -1,
	@PageIndex int = 1,
	@PageSize int = 25,
	@StartDate smalldatetime = NULL,
	@EndDate smalldatetime = NULL
AS
BEGIN
	SET NOCOUNT ON

	IF @StartDate IS NULL OR YEAR(@StartDate) < 2018
	BEGIN
		SET @StartDate = '1/1/2018'
	END

	IF @EndDate IS NULL OR YEAR(@EndDate) > YEAR(GETDATE())
	BEGIN
		SET @EndDate = CAST('12/31/' + CAST(YEAR(GETDATE()) AS varchar) AS smalldatetime)
	END

	DECLARE @Theme TABLE (Id INT);
	INSERT INTO @Theme SELECT VALUE FROM string_split(@ThemeIDs, ',')

	DECLARE @Color TABLE (Id INT);
	INSERT INTO @Color SELECT VALUE FROM string_split(@ColorIDs, ',')

	DECLARE @PlayStyle TABLE (Id INT);
	INSERT INTO @PlayStyle SELECT VALUE FROM string_split(@PlayStyleIDs, ',')

	DECLARE @Feature TABLE (Id INT);
	INSERT INTO @Feature SELECT VALUE FROM string_split(@FeatureIDs, ',')

	DECLARE @SpecialtyOption TABLE (Id INT);
	INSERT INTO @SpecialtyOption SELECT VALUE FROM string_split(@SpecialtyOptionIDs, ',')

	DECLARE @PaperStockCategory TABLE (Id INT);
	INSERT INTO @PaperStockCategory SELECT VALUE FROM string_split(@PaperStockCategoryIDs, ',')

	DECLARE @Jurisdictions TABLE (Id INT);
	INSERT INTO @Jurisdictions SELECT VALUE FROM string_split(@JurisdictionIDs, ',')

	SELECT
		  GameID
		, StartDate
		, StartDateData
		, GameReferenceID
		, GameName
		, VendorName
		, TicketPrice
		, PaperStock
		, BusinessName
		, Theme
		, Feature
		, PlayStyle
		, Color
		, SpecialtyOption
		, ImgName
		, [Index]
		, TotalCount
	FROM
	(
		SELECT
			  g.GameID
			, CONVERT(VARCHAR(10), g.StartDate, 101) AS StartDate
			, g.StartDate AS StartDateData
			, g.GameReferenceID
			, g.GameName
			, v.VendorName
			, g.TicketPrice
			, p.[Description] AS PaperStock
			, l.BusinessName
			, Theme =
				CASE
					WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.PrimaryThemeName + '|' + gt.SecondaryThemeName
					WHEN gt.PrimaryThemeName IS NOT NULL THEN gt.PrimaryThemeName
					WHEN gt.SecondaryThemeName IS NOT NULL THEN gt.SecondaryThemeName
					ELSE ''
				END
			, Feature =
				CASE
					WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.PrimaryFeatureName + '|' + gf.SecondaryFeatureName
					WHEN gf.PrimaryFeatureName IS NOT NULL THEN gf.PrimaryFeatureName
					WHEN gf.SecondaryFeatureName IS NOT NULL THEN gf.SecondaryFeatureName
					ELSE ''
				END
			, PlayStyle =
				CASE
					WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.PrimaryPlayStyleName + '|' + gps.SecondaryPlayStyleName
					WHEN gps.PrimaryPlayStyleName IS NOT NULL THEN gps.PrimaryPlayStyleName
					WHEN gps.SecondaryPlayStyleName IS NOT NULL THEN gps.SecondaryPlayStyleName
					ELSE ''
				END
			, Color =
				CASE
					WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.PrimaryColorName + '|' + gc.SecondaryColorName
					WHEN gc.PrimaryColorName IS NOT NULL THEN gc.PrimaryColorName
					WHEN gc.SecondaryColorName IS NOT NULL THEN gc.SecondaryColorName
					ELSE ''
				END
			, SpecialtyOption =
				CASE
					WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.PrimarySpecialtyFeatureName + '|' + gs.SecondarySpecialtyFeatureName
					WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL THEN gs.PrimarySpecialtyFeatureName
					WHEN gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.SecondarySpecialtyFeatureName
					ELSE ''
				END
			, substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS ImgName
			, [Index] = CAST(i.AtLaunchIndex AS VARCHAR)
			, ROW_NUMBER() OVER (PARTITION BY g.GameID ORDER BY g.StartDate) AS RowNum
				, COUNT(*) OVER() AS TotalCount
		FROM dbo.Game g
			JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID
			JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID
			LEFT JOIN dbo.vwPaperStockType p ON g.PaperStockID = p.PaperStockID
			LEFT JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
			LEFT JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID
			LEFT JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
			LEFT JOIN dbo.vwGameColor gc ON g.GameID = gc.GameID
			LEFT JOIN vwGameSpecialtyPrintingOption gs ON g.GameID = gs.GameID
			LEFT JOIN dbo.Vendor v ON g.VendorID = v.VendorID
			LEFT JOIN dbo.Currency c ON g.CurrencyID = c.CurrencyID
			LEFT JOIN dbo.GameIndex i ON g.GameID = i.GameID
		WHERE
			EXISTS
			(
				SELECT 'x'
				FROM dbo.vwLottery
				WHERE
					(@CustomerCode = 'IGT' OR SubDivisionCode = @CustomerCode)
					AND CountryCode = l.CountryCode
			)
			AND (@GameName IS NULL OR (g.GameReferenceID LIKE '%' + @GameName + '%' OR g.GameName LIKE '%' + @GameName + '%'))
			AND (@VendorName IS NULL OR v.VendorName LIKE '%' + @VendorName + '%')
			AND (@TicketPrice = -1 OR g.TicketPrice = @TicketPrice)
			AND (NOT EXISTS (SELECT * FROM @Theme) OR gt.ThemeID1 IN (SELECT Id FROM @Theme) OR gt.ThemeID2 IN (SELECT Id FROM @Theme))
			AND (NOT EXISTS (SELECT * FROM @SpecialtyOption) OR gs.SpecialtyID1 IN (SELECT Id FROM @SpecialtyOption) OR gs.SpecialtyID2 IN (SELECT Id FROM @SpecialtyOption))
			AND (NOT EXISTS (SELECT * FROM @Color) OR gc.ColorID1 IN (SELECT Id FROM @Color) OR gc.ColorID2 IN (SELECT Id FROM @Color))
			AND (NOT EXISTS (SELECT * FROM @PlayStyle) OR gps.PlayStyleID1 IN (SELECT Id FROM @PlayStyle) OR gps.PlayStyleID2 IN (SELECT Id FROM @PlayStyle))
			AND (NOT EXISTS (SELECT * FROM @Feature) OR gf.FeatureID1 IN (SELECT Id FROM @Feature) OR gf.FeatureID2 IN (SELECT Id FROM @Feature))
			AND (NOT EXISTS (SELECT * FROM @PaperStockCategory) OR p.PaperStockCategoryID IN (SELECT Id FROM @PaperStockCategory))
			AND (NOT EXISTS (SELECT * FROM @Jurisdictions) OR l.LotteryID IN (SELECT Id FROM @Jurisdictions))
			AND (g.Startdate BETWEEN @StartDate AND @EndDate)
			AND g.TicketPrice <> 7
			AND (i.AtLaunchIndex IS NULL OR (i.AtLaunchIndex <= 300 AND i.AtLaunchIndex >= -1))
			AND (@MinimumPerformance = -1 OR ISNULL(i.AtLaunchIndex, 0) > @MinimumPerformance)
	) GAME
	WHERE RowNum = 1
	ORDER BY
		CASE WHEN (@SortColumn = 'Launch Date' AND @SortDirection = 'ASC') THEN StartDateData END ASC,
		CASE WHEN (@SortColumn = 'Launch Date' AND @SortDirection = 'DESC') THEN StartDateData END DESC,
		CASE WHEN (@SortColumn = 'Game Name' AND @SortDirection = 'ASC') THEN GameName END ASC,
		CASE WHEN (@SortColumn = 'Game Name' AND @SortDirection = 'DESC') THEN GameName END DESC,
		CASE WHEN (@SortColumn = 'Jurisdiction' AND @SortDirection = 'ASC') THEN BusinessName END ASC,
		CASE WHEN (@SortColumn = 'Jurisdiction' AND @SortDirection = 'DESC') THEN BusinessName END DESC,
		CASE WHEN (@SortColumn = 'Ticket Price' AND @SortDirection = 'ASC') THEN TicketPrice END ASC,
		CASE WHEN (@SortColumn = 'Ticket Price' AND @SortDirection = 'DESC') THEN TicketPrice END DESC,
		CASE WHEN (@SortColumn = 'Index' AND @SortDirection = 'ASC') THEN TRY_CONVERT(int, [Index]) END ASC,
		CASE WHEN (@SortColumn = 'Index' AND @SortDirection = 'DESC') THEN TRY_CONVERT(int, [Index]) END DESC,
		GameName
	OFFSET @PageSize * (@PageIndex - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY
END
GO
