USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spPlaystyle_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectDistinctPlayStyle" to retrieve game Playstyle list for Customer Portal.

exec [spPlaystyle_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spPlaystyle_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		PlaystyleID, PlaystyleName
	FROM 
		dbo.Playstyle
	WHERE
		IsActive = 1
	ORDER BY
		PlaystyleName
END
GO
