USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spConcept_AddData]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 03/31/2020  
Description : call remote linked server to insert concept game in AWS CutomerPortal database 

Version	Modified By		Modified Date	Description
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spConcept_AddData]
	@CustomerCode nvarchar(10),
	@GameName nvarchar(60),
	@PricePoint money,			
	@Theme nvarchar(150),				-- Theme name
	@PlayAction nvarchar(300),			-- PlayStyle name
	@SpecialtyOptions nvarchar(300),	-- Specialty printing name
	@FileName nvarchar(400),			-- Image name
	@Height float = 0,
	@Width float = 0,
	@RetVal int OUTPUT
AS  
BEGIN  
	SET NOCOUNT ON

	DECLARE @ConceptID int

	EXEC @RetVal = [iScore-AWS].[CustomerPortalP].[dbo].[spConcept_Add]
		@CustomerCode = @CustomerCode,
		@GameName= @GameName,
		@PricePoint = @PricePoint,			
		@Theme = @Theme,						-- Theme name
		@PlayAction = @PlayAction,				-- PlayStyle name
		@SpecialtyOptions = @SpecialtyOptions,	-- Specialty printing name
		@FileName = @FileName,					-- Image name
		@Height = @Height,
		@Width = @Width,
		@ConceptID = @ConceptID OUTPUT

	IF @RetVal = 0 AND @ConceptID > 0 AND NOT EXISTS (SELECT 'X' FROM dbo.ConceptLog WHERE ConceptID = @ConceptID)
		BEGIN
			-- if successful, insert in the log table
			INSERT dbo.ConceptLog 
				(ConceptID, IsImageUploaded, DateUploaded)
			VALUES
				(@ConceptID, 1, GETDATE())
		END
	ELSE IF @RetVal = 99999
		BEGIN
			INSERT dbo.ConceptDup 
			([CustomerCode],[GameName],[TicketPrice],[Height],[Width],[FileName])
		SELECT 
			@CustomerCode as CustomerCode,
			@GameName as GameName,
			@PricePoint as TicketPrice,
			(@Height / 25.4) as Height,				-- convert to inches
			(@Width / 25.4) as Width,				-- convert to inches
			@FileName as ImageName
		END

	RETURN @RetVal
END  
GO
