USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spGame_GetFeaturedGames]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/22/2019
-- Description:	Retrieve featured games in random order

EXEC spGame_GetFeaturedGames 'IGT'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		09/02/2019		Added index column
2		JBrillantes		11/05/2019		To return all games based on the customer code that belongs on the same country
3		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
4		JBrillantes		04/29/2020		added paperstock in the returned attributes for the game
5		JBrillantes		05/21/2020		Task 667: Concat Games fields - Color, Feature, Play Action and Specialty Option
6		JBrillantes		07/30/2020		Task 820: Display only games with launch date 2015 and beyond
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spGame_GetFeaturedGames] 
	@CustomerCode nvarchar(10) = 'IGT',
	@PageIndex int = NULL,
	@PageSize int = NULL
AS
BEGIN
	SET NOCOUNT ON

	SELECT
		  GameID
		, GameReferenceID
		, GameName
		, CurrencyCode
		, CurrencySymbol
		, TicketPrice
		, StartDate
		, GameNumber
		, ImgName
		, SubDivisionCode	
		, Theme 
		, Feature
		, PlayStyle
		, Color
		, SpecialtyOption
		, PrimaryThemeID
		, SecondaryThemeID
		, PrimaryFeatureID
		, SecondaryFeatureID
		, PrimaryPlayStyleID
		, SecondaryPlayStyleID
		, PrimaryColorID
		, SecondaryColorID
		, PrimarySpecialtyOptionID
		, SecondarySpecialtyOptionID
		, [Index] 
		, IsWorkingPapers
		, PaperStock
	FROM	
		(
			SELECT  
				  g.GameID
				, g.GameReferenceID
				, g.GameName
				, l.CurrencyCode
				, l.CurrencySymbol
				, g.TicketPrice
				, CONVERT(VARCHAR(10), g.StartDate, 101) AS StartDate
				, g.GameNumber
				, lower(ltrim(rtrim(l.SubDivisionCode))) + '/' + substring(gg.[Path], len(left(gg.[Path], len(gg.[Path]) - charindex('\', reverse(gg.[Path]) + '\'))) + 2, charindex('\', reverse(gg.[Path]) + '\')) AS ImgName
				, l.SubDivisionCode					
				, Theme = 
					CASE
						WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.PrimaryThemeName  + '|' + gt.SecondaryThemeName
						WHEN gt.PrimaryThemeName IS NOT NULL AND gt.SecondaryThemeName IS NULL THEN gt.PrimaryThemeName 
						WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NOT NULL THEN gt.SecondaryThemeName 
						WHEN gt.PrimaryThemeName IS NULL AND gt.SecondaryThemeName IS NULL THEN ''
						ELSE ''
					END
				, Feature = 
					CASE
						WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.PrimaryFeatureName  + '|' + gf.SecondaryFeatureName
						WHEN gf.PrimaryFeatureName IS NOT NULL AND gf.SecondaryFeatureName IS NULL THEN gf.PrimaryFeatureName 
						WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NOT NULL THEN gf.SecondaryFeatureName 
						WHEN gf.PrimaryFeatureName IS NULL AND gf.SecondaryFeatureName IS NULL THEN ''
						ELSE ''
					END
				, PlayStyle = 
					CASE
						WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.PrimaryPlayStyleName  + '|' + gps.SecondaryPlayStyleName
						WHEN gps.PrimaryPlayStyleName IS NOT NULL AND gps.SecondaryPlayStyleName IS NULL THEN gps.PrimaryPlayStyleName
						WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NOT NULL THEN gps.SecondaryPlayStyleName 
						WHEN gps.PrimaryPlayStyleName IS NULL AND gps.SecondaryPlayStyleName IS NULL THEN ''
						ELSE ''
					END
				, Color = 
					CASE
						WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.PrimaryColorName  + '|' + gc.SecondaryColorName
						WHEN gc.PrimaryColorName IS NOT NULL AND gc.SecondaryColorName IS NULL THEN gc.PrimaryColorName 
						WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NOT NULL THEN gc.SecondaryColorName
						WHEN gc.PrimaryColorName IS NULL AND gc.SecondaryColorName IS NULL THEN ''
						ELSE ''
					END
				, SpecialtyOption = 
					CASE
						WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.PrimarySpecialtyFeatureName  + '|' + gs.SecondarySpecialtyFeatureName
						WHEN gs.PrimarySpecialtyFeatureName IS NOT NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN gs.PrimarySpecialtyFeatureName 
						WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NOT NULL THEN gs.SecondarySpecialtyFeatureName 
						WHEN gs.PrimarySpecialtyFeatureName IS NULL AND gs.SecondarySpecialtyFeatureName IS NULL THEN ''
						ELSE ''
					END
				, gt.PrimaryThemeID
				, gt.SecondaryThemeID
				, gf.PrimaryFeatureID
				, gf.SecondaryFeatureID
				, gps.PrimaryPlayStyleID
				, gps.SecondaryPlayStyleID
				, gc.PrimaryColorID
				, gc.SecondaryColorID
				, gs.PrimarySpecialtyFeatureID as PrimarySpecialtyOptionID
				, gs.SecondarySpecialtyFeatureID as SecondarySpecialtyOptionID
				, [Index] = 
					CASE
						WHEN ISNULL(i.AtLaunchIndex, 0) > 0 THEN CAST(i.AtLaunchIndex as varchar)
						ELSE 'N/A'
					END
				, IsWorkingPapers = ISNULL(g.IsWorkingPapers, 0)
				, p.[Description] AS PaperStock 
				, RowNumber = ROW_NUMBER() OVER (ORDER BY NEWID())	-- returns in random order
			 FROM 
				dbo.Game g	
					JOIN dbo.vwLottery l ON g.LotteryID = l.LotteryID		
					JOIN dbo.GameGraphic gg ON g.GameID = gg.GameID
					LEFT JOIN dbo.vwPaperStockType p ON g.PaperStockID = p.PaperStockID
					LEFT JOIN dbo.vwGameTheme gt ON g.GameID = gt.GameID
					LEFT JOIN dbo.vwGameFeature gf ON g.GameID = gf.GameID					
					LEFT JOIN dbo.vwGamePlayStyle gps ON g.GameID = gps.GameID
					LEFT JOIN dbo.vwGameColor gc ON g.GameID = gc.GameID			
					LEFT JOIN vwGameSpecialtyPrintingOption gs ON g.GameID = gs.GameID					
					LEFT JOIN dbo.GameIndex i ON g.GameID = i.GameID
			WHERE
					EXISTS 
						(
							SELECT 
								'x' 
							FROM 
								dbo.vwLottery 
							WHERE
								(@CustomerCode = 'IGT' OR SubDivisionCode = @CustomerCode) AND
								CountryCode = l.CountryCode
						)	
				AND EXISTS (SELECT 'x' FROM dbo.FeaturedGame WHERE GameID = g.GameID AND GETDATE() BETWEEN StartDate AND EndDate)
				AND (YEAR(g.StartDate) >= 2015 AND YEAR(g.StartDate) <= YEAR(GETDATE()))	-- display 2015 and beyond but not with future launch date
				AND g.VendorID = 1 --- indicates all printed games under IGT umbrella
		) FeaturedGames
	WHERE
		(@PageIndex IS NULL AND @PageSize IS NULL) OR
		(RowNumber BETWEEN ((@PageIndex - 1) * @PageSize + 1) AND (@PageIndex * @PageSize))	
	ORDER BY
		NEWID()
END
GO
