USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spPaperStockCategory_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 04/28/2020
-- Description:	Retrieve paperstock category list to be used in the game search dropdown box for the Customer Portal.

exec [spPaperStockCategory_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spPaperStockCategory_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		[ID], [Description]
	FROM 
		dbo.PaperStockCategory
END
GO
