USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spWeeklySalesPenetration_GetTicketPrice]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 08/13/2019  
Description : Rewrite weekly sales penentration "uspSelectLotteryTicketPriceWhenSalesPenetration" 
			  to retrieve das for Customer Portal 

exec [spWeeklySalesPenetration_GetTicketPrice] 'VA'

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
2		JBrillantes		05/29/2020		Task 696: Suppress $7 Ticket Prices	
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spWeeklySalesPenetration_GetTicketPrice]
	@CustomerCode nvarchar(10)
	
AS  
BEGIN  
	SET NOCOUNT ON
	
	SELECT  
		g.TicketPrice, SUM(s.ValidationAmt) AS ValidationAmt
	FROM 
		dbo.WeeklySalesPenetration s  
			join dbo.Game g ON s.GameID = g.GameID  			
	WHERE
		EXISTS 
			(
				SELECT 
					'x'
				FROM 
					dbo.Lottery l 
						JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
				WHERE 
					l.LotteryID  = g.LotteryID AND 
					csd.SubDivisionCode = @CustomerCode
			) AND
		g.TicketPrice <> 7
	GROUP BY
		g.TicketPrice
	ORDER BY
		g.TicketPrice			
END	
GO
