USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spLottery_GetTicketSalesCountByTheme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    :  JBrillantes  
Date Created: 08/02/2019  
Description : Rewrite Theme ticket sales "uspChartLotteryPrimaryThemesLast12Months" for Customer Portal 

exec [spLottery_GetTicketSalesCountByTheme] 'AZ', 1  

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
1		JBrillantes		04/02/2020		remove where clause condition (IsWorkingPapers = 1) due to printed
										games and concept tables are now in separate tables
====================================================================================================*/ 
CREATE PROCEDURE [dbo].[spLottery_GetTicketSalesCountByTheme]
	@CustomerCode nvarchar(10),
	@TicketPrice smallmoney
AS  
BEGIN  
	SET NOCOUNT ON
	
	declare 
		@LotteryID int,
		@dateStart  date,  
		@dateEnd date  

	set @dateStart = GETDATE()  
	set @dateEnd = DATEADD(YEAR, -1, @dateStart)

	set @LotteryID = 
		(
			SELECT 
				l.LotteryID 
			FROM 
				dbo.Lottery l 
					JOIN dbo.CountrySubDivision csd ON l.CountrySubDivisionID = csd.CountrySubDivisionID 
			WHERE 
				csd.SubDivisionCode = @CustomerCode
		)
	
	SELECT 
		vg.PrimaryThemeName,
		COUNT(vg.PrimaryThemeName) as RecCount
	from 
		dbo.Game g
			JOIN dbo.vwGameTheme vg ON g.GameID = vg.GameID
			JOIN dbo.Lottery l ON g.LotteryID = l.LotteryID
	WHERE 
		g.LotteryID = @LotteryID AND
		g.TicketPrice = @TicketPrice AND
		g.StartDate <= @dateStart AND 
		g.StartDate >= @dateEnd 
	GROUP BY
		vg.PrimaryThemeName
END 
GO
