USE [CustomerPortal]
GO

DROP PROCEDURE IF EXISTS [dbo].[spTheme_GetList]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite "uspSelectGameTheme_iGradeSearch" to retrieve game theme list used in the game search dropdown 
			    box for the Customer Portal.

exec [spTheme_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE PROCEDURE [dbo].[spTheme_GetList] 
AS
BEGIN
	SET NOCOUNT ON

	SELECT 
		ThemeID, 
		ThemeName
	FROM 
		dbo.Theme
	WHERE
		IsActive = 1
	ORDER BY
		ThemeName
END
GO
