<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- AWS key -->
		<add key="AWSBucketName" value="igt-customerportal" />
		<add key="AWSConceptFolder" value="concepts/" />
		<add key="AWSPrintedFolder" value="printedgames/" />
		<add key="AWSLogging" value="log4net" />

		<add key="AWSAccessKey" value="" />
		<add key="AWSSecretKey" value="" />

		<!--Concept XML and image File Paths-->
		<add key="PublishConcepts" value="\\uslaleeadmin01\Instants_Showcase_Concepts\Publish" />
		<add key="DeleteConcepts" value="\\uslaleeadmin01\Instants_Showcase_Concepts\Deleted" />
		<add key="ProcessConcepts" value="D:\Projects\CustomerPortal\Concepts\Processed" />
		<add key="NoImages" value="D:\Projects\CustomerPortal\Concepts\Processed\NoImages" />

		<!--Image file extension -->
		<add key="ImageFileExt" value=".jpg"/>
	</appSettings>

	<connectionStrings>
		<!--<add name="CustomerPortal" connectionString="Data Source=igtcustomerportal.ckxwl3abtuwf.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CustomerPortal;User ID=CustomerPortal;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CustomerPortal" connectionString="Data Source=USFLFPESQLDB02;Initial Catalog=CustomerPortal;User ID=CustomerPortal;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CustomerPortal" connectionString="Data Source=USFLFPhSQLDB02;Initial Catalog=CustomerPortalTest2;Integrated Security = SSPI;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
		<!--<add name="CustomerPortal" connectionString="Data Source=USLALSSQLDB02;Initial Catalog=CustomerPortal;Integrated Security = SSPI;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
		
		<add name="CustomerPortal" connectionString="Data Source=USLALGSQLDB01;Initial Catalog=CustomerPortal;Integrated Security = SSPI;Connection Timeout=60" providerName="System.Data.SqlClient"/>
		<add name="AWSCustomerPortal" connectionString="Data Source=igt-aws-instants-lakeland-prod.ckxwl3abtuwf.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CustomerPortal;User Id=admin;Password=password"/>

		<add name="iGrade" connectionString="Server=USLALXSQLDB02;Database=GMD;User Id=SwtReader;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>