<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="AdoNetAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data" />
		<connectionStringName value="Log" />
		<connectionStringFile value="appsettings.json" />
		<commandText value="DECLARE @u varchar(255) = CASE WHEN @User = '(null)' THEN NULL ELSE @User END
                        DECLARE @e varchar(50) = CASE WHEN @ApplicationEventType = '(null)' THEN NULL ELSE @ApplicationEventType END
                        DECLARE @ip varchar(16) = CASE WHEN @UserIP = '(null)' THEN NULL ELSE @UserIP END
                        EXEC [dbo].spApp_InsertLog @Date, @Thread, @Level, @Logger, @Message, @Exception, @u, @e" />
		<parameter>
			<parameterName value="@Date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@Thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="@User" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{user}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@UserIP" />
			<dbType value="String" />
			<size value="16" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{userIP}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@ApplicationEventType" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{applicationEventType}" />
			</layout>
		</parameter>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="AdoNetAppender" />
	</root>
</log4net>