<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- AWS key -->
    <add key="AWSBucketName" value="igt-customerportal" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSConceptFolder" value="concepts/" />
    <add key="AWSPrintedFolder" value="printedgames/" />
    <add key="AWSLogging" value="log4net" />
    
    <!--Concept XML and image File Paths-->
    <add key="PublishConcepts" value="\\uslaleeadmin01\Instants_Showcase_Concepts\Publish" />
    <add key="DeleteConcepts" value="\\uslaleeadmin01\Instants_Showcase_Concepts\Deleted" />
    <add key="ProcessConcepts" value="D:\Projects\CustomerPortal\Concepts\Processed" />
    <add key="NoImages" value="D:\Projects\CustomerPortal\Concepts\Processed\NoImages" />

    <!--Image file extension -->
    <add key="ImageFileExt" value=".jpg"/>
  </appSettings>
  
  <connectionStrings>
    <!--<add name="CustomerPortal" connectionString="Data Source=igtcustomerportal.ckxwl3abtuwf.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CustomerPortal;User ID=CustomerPortal;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
    <!--<add name="CustomerPortal" connectionString="Data Source=USFLFPESQLDB02;Initial Catalog=CustomerPortal;User ID=CustomerPortal;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>-->
    <add name="CustomerPortal" connectionString="Data Source=USFLFPhSQLDB02;Initial Catalog=CustomerPortalTest2;Integrated Security = SSPI;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    <add name="iGrade" connectionString="Server=USFLFPXSQLDB02;Database=GMD;User Id=SwtReader;Password=password;Connection Timeout=60" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>