USE [CustomerPortal]
GO

DROP FUNCTION IF EXISTS [dbo].[fnFiscalYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite fFiscalYearStructured to determine current fiscal year for Customer Portal

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE FUNCTION [dbo].[fnFiscalYear]   
(   
	  @dtmCalendar datetime 
    , @FYEnd nvarchar(50)  
)   
RETURNS int   
AS  
BEGIN 
	declare @fyear int

	SET @fyear = YEAR(@dtmCalendar)
               
	IF MONTH(@dtmCalendar) IN (8, 9,10, 11, 12) AND @FYEnd = '7/3' OR				-- most US lotteries
		(MONTH(@dtmCalendar) = 7 AND day(@dtmCalendar) > 3 AND @FYEnd = '7/3')
		SET @fyear = @fyear + 1;
        
	IF MONTH(@dtmCalendar) IN (5, 6, 7, 8, 9,10, 11, 12) AND @FYEnd = '4/3' OR		-- NY
		(MONTH(@dtmCalendar) = 4 AND day(@dtmCalendar) > 3 AND @FYEnd = '4/3')
		SET @fyear = @fyear + 1;

	IF MONTH(@dtmCalendar) IN (11, 12) and @FYEnd = '10/3' OR						-- MI
		(MONTH(@dtmCalendar) = 10 AND day(@dtmCalendar) > 3 AND @FYEnd = '10/3')	
		SET @fyear = @fyear + 1;

	IF MONTH(@dtmCalendar) IN (10, 11, 12) and @FYEnd = '9/3' OR					-- TX
		(MONTH(@dtmCalendar) = 9 AND day(@dtmCalendar) > 3 AND @FYEnd = '9/3')
		SET @fyear = @fyear + 1;

	IF (MONTH(@dtmCalendar) IN (2,3,4,5,6,7,8,9, 10, 11, 12) AND @FYEnd = '1/3' )	-- International Except Canada
		SET @fyear = @fyear;
	
	--if year is passed in only, then 1 is month and 1 is day....
	IF (MONTH(@dtmCalendar) = 1 AND @FYEnd = '1/3' AND day(@dtmCalendar) <= 3 )		-- International Except Canada   
		SET @fyear = @fyear - 1;

	RETURN @fyear;
END
GO
