USE [CustomerPortal]
GO

DROP FUNCTION IF EXISTS [dbo].[fnYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite fFiscalYear to determine current fiscal year for Customer Portal

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
-- =============================================
-- Author:		Sam
-- Create date: 7/22/2015
-- Description:	Determine what is current FY since
--  new year begins July 1.
-- =============================================
CREATE FUNCTION [dbo].[fnYear]   
(   
    @dtmCalendar datetime   
)   
RETURNS int   
AS   
BEGIN 
    declare 
	    @fyear int
        
	SET @fyear = YEAR(@dtmCalendar)
        
	IF MONTH(@dtmCalendar) IN (7, 8, 9,10, 11, 12)
        SET @fyear = @fyear + 1

    RETURN @fyear
END 
GO
