USE [CustomerPortal]
GO

DROP FUNCTION IF EXISTS [dbo].[fnIsLeapYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	To determine leap year for Customer Portal

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE FUNCTION [dbo].[fnIsLeapYear] (@year int)
RETURNS bit
AS
BEGIN
    RETURN (
				SELECT 
					CASE DATEPART(mm, DATEADD(dd, 1, CAST((CAST(@year AS varchar(4)) + '0228') AS datetime))) 
						WHEN 2 THEN 1 
						ELSE 0 
					END
			)
END
GO
