USE [CustomerPortal]
GO

DROP FUNCTION IF EXISTS [dbo].[fnCalcSameWeekForPriorYear]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite fCalculateSameWeekForPriorYearUtility to return fiscal or calendar date for Customer Portal

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE FUNCTION [dbo].[fnCalcSameWeekForPriorYear]   
(   
      @LotteryID int
	, @StandardStartDate date 
	, @MaxSalesDate date 
)   
RETURNS date   
AS  
BEGIN         
	--Send in Current
	declare 
		@PeriodStartDate date,
		@DayDiff int,
		@PriorPeriodStartDate date,
		@PriorDate date
   
	set @PeriodStartDate = 
		(
			select 
				min(ws.WeekEndDate)
          	from 
				dbo.WeeklySale ws
					join dbo.Game g on ws.GameID = g.GameID 
			where  
					g.LotteryID = @LotteryID 
				and ws.WeekEndDate >= @StandardStartDate 
		)
  
	set @DayDiff = (select datediff(day, @PeriodStartDate, @MaxSalesDate))
	 
	--get prior year
	set @PriorPeriodStartDate = 
		(
			select 
				min(ws.WeekEndDate) 
			from 
				WeeklySale ws
					join Game g on ws.GameID = g.GameID 
			where  
					g.LotteryID = @LotteryID
				and ws.WeekEndDate >= dateadd(yy, -1, @StandardStartDate)
		)
	
	-- determine prior date
	set @PriorDate = (select dateadd(day, + @DayDiff, @PriorPeriodStartDate))
 
	RETURN @PriorDate
END
GO
