USE [CustomerPortal]
GO

DROP FUNCTION [dbo].[fnGetPrizePayoutPercent]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*====================================================================================================  
Author	    : JBrillantes  
Date Created: 04/10/2020
Description : Rewrite function "fGetDefaultPrizePayoutPercent" to calculate prize payout percentage 

CHANGE LOGS:
Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------

====================================================================================================*/ 
CREATE FUNCTION [dbo].[fnGetPrizePayoutPercent] 
(
	@LotteryID int, 
	@StartDate date, 
    @TicketPrice smallmoney 
)
RETURNS float
AS
BEGIN
	DECLARE  
		@fPrizePayoutPercent float = 1,
		@fyEnds nvarchar(10)

	IF EXISTS (SELECT 'x' FROM dbo.LotteryFact WHERE LotteryID = @LotteryID)
		BEGIN
			SET @fyEnds = (SELECT [FYEnds] FROM dbo.LotteryFact WHERE LotteryID = @LotteryID)
		  
			SET @fPrizePayoutPercent = 
				(
					SELECT 
						TicketPricePayout 
					FROM 
						dbo.LotteryPayoutPercentByPricePoint 
					WHERE 
							LotteryID = @LotteryID
						AND TicketPrice = @TicketPrice
						AND FY = dbo.fnFiscalYear(@StartDate, @fyEnds)						
				)			
			END
	ELSE IF EXISTS (SELECT 'x' FROM dbo.LotteryPayoutPercentByPricePoint WHERE LotteryID = @LotteryID)
		BEGIN
			SET @fPrizePayoutPercent = 
				(
					SELECT 
						TicketPricePayout
					FROM 
						dbo.LotteryPayoutPercentByPricePoint 
					WHERE 
							LotteryID = @LotteryID
						AND TicketPrice = @TicketPrice
						AND FY = (SELECT MAX(FY) FROM dbo.LotteryPayoutPercentByPricePoint WHERE LotteryID = @LotteryID)
				)
		END			

	-- Return the result of the function
	RETURN @fPrizePayoutPercent
END
GO
