USE [CustomerPortal]
GO

DROP FUNCTION IF EXISTS [dbo].[fnFiscalYearStartDate]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

/*======================================================================================================================
-- Author	  :	JBrillantes
-- Create Date: 08/12/2019
-- Description:	Rewrite fFiscalYearStartDateStructured to return fiscal date for Customer Portal

exec [spColor_GetList]

Version	Modified By		Modified Date	Description
----------------------------------------------------------------------------------------------------------------------
======================================================================================================================*/
CREATE FUNCTION [dbo].[fnFiscalYearStartDate]   
(   
      @dtmCalendar datetime   
	, @FYEnd nvarchar(50)  
)   
RETURNS int   
AS   
BEGIN   
    declare @fyear int;
    
    SET @fyear = YEAR(@dtmCalendar);
        
    IF (MONTH(@dtmCalendar) IN (1, 2, 3, 4, 5, 6) and @FYEnd = '7/3') --most US lotteries
		 OR (MONTH(@dtmCalendar) = 7 and day(@dtmCalendar) <= 3 and @FYEnd = '7/3')
        SET @fyear = @fyear - 1;
           
    IF (MONTH(@dtmCalendar) IN (1, 2, 3) and @FYEnd = '4/3')  --NY and Canada
		 OR (MONTH(@dtmCalendar) = 4 and day(@dtmCalendar) <= 3 and @FYEnd = '4/3')
        SET @fyear = @fyear - 1;
           
    IF (MONTH(@dtmCalendar) IN (1, 2, 3, 4, 5, 6, 7, 8, 9) and @FYEnd = '10/3')  --MI
		 OR (MONTH(@dtmCalendar) = 10 and day(@dtmCalendar) <= 3 and @FYEnd = '10/3')
        SET @fyear = @fyear - 1;
        
    IF (MONTH(@dtmCalendar) IN (1, 2, 3, 4, 5, 6, 7, 8) and @FYEnd = '9/3')  --TX
		 OR (MONTH(@dtmCalendar) = 9 and day(@dtmCalendar) <= 3 and @FYEnd = '9/3')
        SET @fyear = @fyear - 1;
           
    IF (MONTH(@dtmCalendar) IN (2,3,4,5,6,7,8,9, 10, 11, 12) and @FYEnd = '1/3' )   -- International Except Canada
	    SET @fyear = @fyear;

    IF (MONTH(@dtmCalendar) = 1 and @FYEnd = '1/3' and day(@dtmCalendar) <= 3 )   -- International Except Canada   
	    SET @fyear = @fyear - 1;

    RETURN @fyear;
END 
GO
