USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_Lottery_CountrySubDivisionID] ON [dbo].[Lottery]
GO

DROP INDEX IF EXISTS [idx_Lottery_CountryID] ON [dbo].[Lottery]
GO

DROP TABLE IF EXISTS [dbo].[Lottery]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Lottery](
	[LotteryID] [int] NOT NULL,
	[BusinessName] [nvarchar](50) NOT NULL,
	[Logo] [varbinary](max) NULL,
	[CountryID] [int] NOT NULL,
	[CountrySubDivisionID] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
	[OrderID] [int] NULL,
	[LogoPath] [nvarchar](400) NULL,
	[Inactive] [bit] NULL,
	CONSTRAINT [PK_Lottery] PRIMARY KEY CLUSTERED 
	(
		[LotteryID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Lottery_CountryID] ON [dbo].[Lottery]
(
	[CountryID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Lottery_CountrySubDivisionID] ON [dbo].[Lottery]
(
	[CountrySubDivisionID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
