USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_WeeklySale_WeekStartDate] ON [dbo].[WeeklySale]
GO

DROP INDEX IF EXISTS [idx_WeeklySale_WeekNumber] ON [dbo].[WeeklySale]
GO

DROP INDEX IF EXISTS [idx_WeeklySale_WeekEndDate] ON [dbo].[WeeklySale]
GO

DROP INDEX IF EXISTS [idx_WeeklySale_GameID] ON [dbo].[WeeklySale]
GO

DROP TABLE IF EXISTS [dbo].[WeeklySale]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[WeeklySale](
	[GameID] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[WeekStartDate] [smalldatetime] NOT NULL,
	[WeekEndDate] [smalldatetime] NULL,
	[WeekSales] [money] NOT NULL,
	[DateLoaded] [smalldatetime] NULL,
	CONSTRAINT [PK_WeeklySales] PRIMARY KEY CLUSTERED 
	(
		[GameID] ASC,
		[WeekNumber] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_WeeklySale_GameID] ON [dbo].[WeeklySale]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_WeeklySale_WeekEndDate] ON [dbo].[WeeklySale]
(
	[WeekEndDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_WeeklySale_WeekNumber] ON [dbo].[WeeklySale]
(
	[WeekNumber] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_WeeklySale_WeekStartDate] ON [dbo].[WeeklySale]
(
	[WeekStartDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
