USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameGraphic_GameID_Path] ON [dbo].[GameGraphic]
GO

DROP TABLE IF EXISTS [dbo].[GameGraphic]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameGraphic](
	[GraphicID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[Graphic] [varbinary](max) NULL,
	[Path] [nvarchar](400) NULL,
	[EnteredBy] [nvarchar](50) NULL,
	[DateInput] [smalldatetime] NULL,
	CONSTRAINT [PK_GameGraphic] PRIMARY KEY CLUSTERED 
	(
		[GraphicID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_GameGraphic_GameID_Path] ON [dbo].[GameGraphic]
(
	[GameID] ASC,
	[Path] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
