USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_Country_CountryCode] ON [dbo].[Country]
GO

DROP TABLE IF EXISTS [dbo].[Country]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Country](
	[CountryID] [int] NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[LongName] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
	(
		[CountryID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_Country_CountryCode] ON [dbo].[Country]
(
	[CountryCode] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
