USE [CustomerPortal]
GO

ALTER TABLE [dbo].[FeaturedGame] DROP CONSTRAINT IF EXISTS [DF_FeaturedGame_DateAdded]
GO

DROP INDEX IF EXISTS [idx_FeaturedGame_GameID_StartDate_EndDate] ON [dbo].[FeaturedGame]
GO

DROP TABLE IF EXISTS [dbo].[FeaturedGame]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FeaturedGame](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [date] NULL,
	CONSTRAINT [PK_FeaturedGame] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [idx_FeaturedGame_GameID_StartDate_EndDate] ON [dbo].[FeaturedGame]
(
	[GameID] ASC,
	[StartDate] ASC,
	[EndDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

ALTER TABLE [dbo].[FeaturedGame] ADD  CONSTRAINT [DF_FeaturedGame_DateAdded]  DEFAULT (getdate()) FOR [DateAdded]
GO
