USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Vendor]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Vendor]
(
	[VendorID] [int] NOT NULL,
	[VendorCode] [nvarchar](10) NOT NULL,
	[VendorName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
	(
		[VendorID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
