USE [CustomerPortal]
GO

IF (OBJECT_ID('dbo.DF_ConceptLog_IsImageUploaded', 'D') IS NOT NULL)
	BEGIN
		ALTER TABLE [dbo].[ConceptLog] DROP CONSTRAINT [DF_ConceptLog_IsImageUploaded]
	END
GO

DROP TABLE IF EXISTS [dbo].[ConceptLog]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ConceptLog]
(
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ConceptID] [int] NOT NULL,
	[IsImageUploaded] [bit] NOT NULL,
	[DateUploaded] [datetime] NULL,
	CONSTRAINT [PK_ConceptLog] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ConceptLog] ADD  CONSTRAINT [DF_ConceptLog_IsImageUploaded]  DEFAULT ((0)) FOR [IsImageUploaded]
GO
