USE [CustomerPortal]
GO

ALTER TABLE [dbo].[GameLog] DROP CONSTRAINT IF EXISTS [DF_GameLog_IsImageUploaded]
GO

DROP INDEX IF EXISTS [idx_GameLog_GameID] ON [dbo].[GameLog]
GO

DROP TABLE IF EXISTS [dbo].[GameLog]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[IsImageUploaded] [bit] NOT NULL,
	[DateUploaded] [datetime] NULL,
	CONSTRAINT [PK_GameLog] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameLog_GameID] ON [dbo].[GameLog]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[GameLog] ADD  CONSTRAINT [DF_GameLog_IsImageUploaded]  DEFAULT ((0)) FOR [IsImageUploaded]
GO
