USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Color]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Color]
(
	[ColorID] [int] NOT NULL,
	[ColorName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
		(
			[ColorID] ASC
		) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
