USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[ConceptPlayAction]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ConceptPlayAction]
(
	[ConceptPlayActionID] [int] IDENTITY(1000,1) NOT NULL,
	[ConceptID] [int] NOT NULL,
	[ConceptPlayActionName] [nvarchar](100) NULL,
	CONSTRAINT [PK_ConceptPlayAction] PRIMARY KEY CLUSTERED 
		(
			[ConceptPlayActionID] ASC
		) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_ConceptPlayAction_ConceptID_PlayActionName] ON [dbo].[ConceptPlayAction]
(
	[ConceptID] ASC,
	[ConceptPlayActionName] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
