USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameFeature_GameID] ON [dbo].[GameFeature]
GO

DROP INDEX IF EXISTS [idx_GameFeature_FeatureID] ON [dbo].[GameFeature]
GO

DROP TABLE IF EXISTS [dbo].[GameFeature]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameFeature](
	[GameFeatureID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
	CONSTRAINT [PK_GameFeature] PRIMARY KEY CLUSTERED 
	(
		[GameFeatureID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameFeature_FeatureID] ON [dbo].[GameFeature]
(
	[FeatureID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameFeature_GameID] ON [dbo].[GameFeature]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
