USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Currency]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Currency](
	[CurrencyID] [int] NOT NULL,
	[CurrencyType] [nchar](10) NOT NULL,
	[LongName] [nvarchar](50) NULL,
	CONSTRAINT [PK_Currency] PRIMARY KEY CLUSTERED 
	(
		[CurrencyID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
