USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_ConceptSpecialtyOption_ConceptID_SpecialtyOptionName] ON [dbo].[ConceptSpecialtyOption]
GO

DROP TABLE IF EXISTS [dbo].[ConceptSpecialtyOption]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ConceptSpecialtyOption]
(
	[ConceptSpecialtyOptionID] [int] IDENTITY(1000,1) NOT NULL,
	[ConceptID] [int] NOT NULL,
	[ConceptSpecialtyOptionName] [nvarchar](100) NULL,
	CONSTRAINT [PK_ConceptSpecialtyOption] PRIMARY KEY CLUSTERED 
	(
		[ConceptSpecialtyOptionID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_ConceptSpecialtyOption_ConceptID_SpecialtyOptionName] ON [dbo].[ConceptSpecialtyOption]
(
	[ConceptID] ASC,
	[ConceptSpecialtyOptionName] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
