USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_WeeklySalesPenetration_ValidationAmt] ON [dbo].[WeeklySalesPenetration]
GO

DROP TABLE IF EXISTS [dbo].[WeeklySalesPenetration]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[WeeklySalesPenetration](
	[GameID] [int] NOT NULL,
	[WeekNumber] [int] NOT NULL,
	[WeekEnding] [smalldatetime] NOT NULL,
	[TotalRetailers] [int] NULL,
	[RetailerActivated] [int] NULL,
	[RetailerActivatedConfirmedIssuedSettled] [int] NULL,
	[ActualPrintRun] [int] NULL,
	[SettlementAmt] [money] NULL,
	[ActivationAmt] [money] NULL,
	[ValidationAmt] [money] NULL,
	[EnteredBy] [nvarchar](80) NULL,
	[EnteredDate] [datetime] NULL,
	CONSTRAINT [PK_WeeklySalesPenetration] PRIMARY KEY CLUSTERED 
	(
		[GameID] ASC,
		[WeekNumber] ASC,
		[WeekEnding] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_WeeklySalesPenetration_ValidationAmt] ON [dbo].[WeeklySalesPenetration]
(
	[ValidationAmt] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
