USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[SalesType]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SalesType](
	[SalesTypeID] [int] NOT NULL,
	[SalesType] [nvarchar](50) NOT NULL,
	CONSTRAINT [PK_SalesType] PRIMARY KEY CLUSTERED 
	(
		[SalesTypeID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
