USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Proprietary]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Proprietary](
	[ProprietaryID] [int] NOT NULL,
	[ProprietaryName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	CONSTRAINT [PK_Proprietary] PRIMARY KEY CLUSTERED 
	(
		[ProprietaryID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
