USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_CurrencySymbol_LotteryID] ON [dbo].[CurrencySymbol]
GO

DROP TABLE IF EXISTS [dbo].[CurrencySymbol]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CurrencySymbol](
	[CurrencySymbolID] [int] IDENTITY(1,1) NOT NULL,
	[LotteryID] [int] NOT NULL,
	[Country] [varchar](100) NULL,
	[Currency] [varchar](100) NULL,
	[Code] [varchar](100) NULL,
	[Symbol] [nvarchar](100) NULL,
	[CultureName] [varchar](10) NULL,
	CONSTRAINT [PK_CurrencySymbol] PRIMARY KEY CLUSTERED 
	(
		[CurrencySymbolID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_CurrencySymbol_LotteryID] ON [dbo].[CurrencySymbol]
(
	[LotteryID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
