USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_Game_VendorID] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_TicketPrice] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_StartDate] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_LotteryID] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_IsWorkingPapers] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_GameReferenceID] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_GameName] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_DateExcluded] ON [dbo].[Game]
GO

DROP INDEX IF EXISTS [idx_Game_CurrencyID] ON [dbo].[Game]
GO

DROP TABLE IF EXISTS [dbo].[Game]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Game](
	[GameID] [int] NOT NULL,
	[GameNumber] [nvarchar](10) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[LotteryID] [int] NOT NULL,
	[GameReferenceID] [nvarchar](50) NULL,
	[GameName] [nvarchar](60) NULL,
	[TicketPrice] [money] NULL,
	[TicketsReceived] [int] NULL,
	[TicketsOrdered] [int] NULL,
	[TicketsPerBook] [int] NULL,
	[VendorID] [int] NULL,
	[Odds] [float] NULL,
	[PrizePayoutPercent] [float] NULL,
	[PaperStock] [nvarchar](15) NULL,
	[Orientation] [nvarchar](10) NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[NumPlayAreas] [int] NULL,
	[NumPlayStyle] [int] NULL,
	[LicensedProperty] [bit] NULL,
	[MultipleScenes] [bit] NULL,
	[NumChancesToWin] [int] NULL,
	[NumCallouts] [int] NULL,
	[Comments] [nvarchar](1000) NULL,
	[EnteredBy] [nvarchar](80) NULL,
	[DateInput] [smalldatetime] NULL,
	[CurrencyID] [int] NULL,
	[DominantColorID] [int] NULL,
	[DateExcluded] [smalldatetime] NULL,
	[ExcludeReason] [nvarchar](200) NULL,
	[PrimaryFeatureID] [int] NULL,
	[PrimaryThemeID] [int] NULL,
	[PrimaryPlayStyleID] [int] NULL,
	[SecondChance] [bit] NULL,
	[SalesTypeID] [int] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[DateModified] [smalldatetime] NULL,
	[CoreGame] [bit] NULL,
	[TicketsReceivedUpdated] [bit] NOT NULL,
	[GameFamily] [bit] NULL,
	[MultiColorImaging] [bit] NULL,
	[LowMarquee] [bit] NULL,
	[Spotlight] [bit] NULL,
	[ProprietaryID] [int] NULL,
	[PrimarySpecialtyPrintingFeatureID] [int] NULL,
	[IsWorkingPapers] [bit] NULL,
	[GameNameInEnglish] [nvarchar](60) NULL,
	[LowTopPrize] [bit] NULL,
	[LimitedTier] [bit] NULL,
	[CalcOdds] [float] NULL,
	[CalcPrizePayoutPercent] [float] NULL,
	[NoBreakeven] [bit] NULL,
	[PaperStockID] [smallint] NULL,
	CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
	(
		[GameID] ASC
	)	WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_CurrencyID] ON [dbo].[Game]
(
	[CurrencyID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_DateExcluded] ON [dbo].[Game]
(
	[DateExcluded] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_Game_GameName] ON [dbo].[Game]
(
	[GameName] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_GameReferenceID] ON [dbo].[Game]
(
	[GameReferenceID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_IsWorkingPapers] ON [dbo].[Game]
(
	[IsWorkingPapers] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_LotteryID] ON [dbo].[Game]
(
	[LotteryID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_StartDate] ON [dbo].[Game]
(
	[StartDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_TicketPrice] ON [dbo].[Game]
(
	[TicketPrice] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_VendorID] ON [dbo].[Game]
(
	[VendorID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Game_PaperStockID] ON [dbo].[Game]
(
	[PaperStockID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
