USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[PlayStyle]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PlayStyle](
	[PlayStyleID] [int] NOT NULL,
	[PlayStyleName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	CONSTRAINT [PK_PlayStyle] PRIMARY KEY CLUSTERED 
	(
		[PlayStyleID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
