USE [CustomerPortal]
GO

ALTER TABLE [dbo].[Favorite] DROP CONSTRAINT IF EXISTS [DF_Favorite_IsActive]
GO

ALTER TABLE [dbo].[Favorite] DROP CONSTRAINT IF EXISTS [DF_Favorite_DateAdded]
GO

DROP INDEX IF EXISTS [idx_Favorite_UserName] ON [dbo].[Favorite]
GO

DROP INDEX IF EXISTS [idx_Favorite_GameID] ON [dbo].[Favorite]
GO

DROP TABLE IF EXISTS [dbo].[Favorite]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Favorite](
	[FavoriteID] [int] IDENTITY(1,1) NOT NULL,
	[GameID] [int] NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateDeleted] [datetime] NULL,
	CONSTRAINT [PK_Favorite] PRIMARY KEY CLUSTERED 
	(
		[FavoriteID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_Favorite_GameID] ON [dbo].[Favorite]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_Favorite_UserName] ON [dbo].[Favorite]
(
	[UserName] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Favorite] ADD  CONSTRAINT [DF_Favorite_DateAdded]  DEFAULT (GETDATE()) FOR [DateAdded]
GO

ALTER TABLE [dbo].[Favorite] ADD  CONSTRAINT [DF_Favorite_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
