USE [CustomerPortal]
GO

ALTER TABLE [dbo].[LotteryFact] DROP CONSTRAINT IF EXISTS [Def_LotteryFact_FYEnds]
GO

DROP INDEX IF EXISTS [idx_LotteryFact_SalesTypeID] ON [dbo].[LotteryFact]
GO

DROP INDEX IF EXISTS [idx_LotteryFact_LotteryID] ON [dbo].[LotteryFact]
GO

DROP TABLE IF EXISTS [dbo].[LotteryFact]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LotteryFact](
	[ID] [int] NOT NULL,
	[LotteryID] [int] NOT NULL,
	[SalesStartDay] [varchar](50) NULL,
	[SalesEndDay] [varchar](50) NULL,
	[FYEnds] [nvarchar](50) NULL,
	[SalesTypeID] [int] NULL,
	[FYEndsActual] [nvarchar](50) NULL,
	[CalStart] [nvarchar](50) NULL,
	[CalEnd] [nvarchar](50) NULL,
	CONSTRAINT [PK_LotteryFact] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_LotteryFact_LotteryID] ON [dbo].[LotteryFact]
(
	[LotteryID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_LotteryFact_SalesTypeID] ON [dbo].[LotteryFact]
(
	[SalesTypeID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

ALTER TABLE [dbo].[LotteryFact] ADD  CONSTRAINT [Def_LotteryFact_FYEnds]  DEFAULT ('7/3') FOR [FYEnds]
GO
