USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameTheme_ThemeID] ON [dbo].[GameTheme]
GO

DROP INDEX IF EXISTS [idx_GameTheme_GameID] ON [dbo].[GameTheme]
GO

DROP TABLE IF EXISTS [dbo].[GameTheme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameTheme](
	[GameThemeID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[ThemeID] [int] NOT NULL,
	CONSTRAINT [PK_GameTheme] PRIMARY KEY CLUSTERED 
	(
		[GameThemeID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameTheme_GameID] ON [dbo].[GameTheme]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameTheme_ThemeID] ON [dbo].[GameTheme]
(
	[ThemeID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
