USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[LicensedProperty]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LicensedProperty](
	[LicensedPropertyID] [int] NOT NULL,
	[LicensedPropertyName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	[VendorID] [int] NULL,
	CONSTRAINT [PK_LicensedProperty] PRIMARY KEY CLUSTERED 
	(
		[LicensedPropertyID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
