USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_ConceptTheme_ConceptID_ThemeName] ON [dbo].[ConceptTheme]
GO

DROP TABLE IF EXISTS [dbo].[ConceptTheme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ConceptTheme](
	[ConceptThemeID] [int] IDENTITY(1000,1) NOT NULL,
	[ConceptID] [int] NOT NULL,
	[ConceptThemeName] [nvarchar](100) NULL,
 CONSTRAINT [PK_ConceptTheme] PRIMARY KEY CLUSTERED 
	(
		[ConceptThemeID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_ConceptTheme_ConceptID_ThemeName] ON [dbo].[ConceptTheme]
(
	[ConceptID] ASC,
	[ConceptThemeName] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
