USE [CustomerPortal]
GO

IF (OBJECT_ID('dbo.DF_Concept_DateAdded', 'D') IS NOT NULL)
	BEGIN
		ALTER TABLE [dbo].[Concept] DROP CONSTRAINT [DF_Concept_DateAdded]
	END
GO

DROP TABLE IF EXISTS [dbo].[Concept]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Concept](
	[ConceptID] [int] IDENTITY(1000,1) NOT NULL,
	[LotteryID] [int] NULL,
	[GameName] [nvarchar](100) NULL,
	[TicketPrice] [money] NULL,
	[Height] [float] NULL,
	[Width] [float] NULL,
	[ImageName] [nvarchar](400) NULL,
	[DateAdded] [datetime] NOT NULL,
	CONSTRAINT [PK_Concept] PRIMARY KEY CLUSTERED 
	(
		[ConceptID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Concept] ADD  CONSTRAINT [DF_Concept_DateAdded]  DEFAULT (GETDATE()) FOR [DateAdded]
GO
