USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Feature]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Feature](
	[FeatureID] [int] NOT NULL,
	[FeatureName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NOT NULL,
	CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
	(
		[FeatureID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
