USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_LotteryPayoutPercentByPricePoint_LotteryID_FY] ON [dbo].[LotteryPayoutPercentByPricePoint]
GO

DROP TABLE IF EXISTS [dbo].[LotteryPayoutPercentByPricePoint]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[LotteryPayoutPercentByPricePoint](
	[ID] [int] NOT NULL,
	[LotteryID] [int] NOT NULL,
	[FY] [nvarchar](50) NOT NULL,
	[Reported] [float] NULL,
	[Actual] [float] NULL,
	[TicketPrice] [float] NULL,
	[TicketPricePayout] [float] NULL,
	CONSTRAINT [PK_LotteryPayoutPercentByPricePoint] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_LotteryPayoutPercentByPricePoint_LotteryID_FY] ON [dbo].[LotteryPayoutPercentByPricePoint]
(
	[LotteryID] ASC,
	[FY] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO
