USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameSpecialtyPrintingOption_SpecialtyID] ON [dbo].[GameSpecialtyPrintingOption]
GO

DROP INDEX IF EXISTS [idx_GameSpecialtyPrintingOption_GameID] ON [dbo].[GameSpecialtyPrintingOption]
GO

DROP TABLE IF EXISTS [dbo].[GameSpecialtyPrintingOption]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameSpecialtyPrintingOption](
	[GameSpecialtyID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[SpecialtyID] [int] NOT NULL,
	CONSTRAINT [PK_GamepecialtyPrintingOption] PRIMARY KEY CLUSTERED 
	(
		[GameSpecialtyID] ASC
	) WITH  (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameSpecialtyPrintingOption_GameID] ON [dbo].[GameSpecialtyPrintingOption]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameSpecialtyPrintingOption_SpecialtyID] ON [dbo].[GameSpecialtyPrintingOption]
(
	[SpecialtyID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
