USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameReorder_GameID] ON [dbo].[GameReorder]
GO

DROP TABLE IF EXISTS [dbo].[GameReorder]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameReorder](
	[OrderID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[ReorderDate] [smalldatetime] NOT NULL,
	[Quantity] [int] NULL,
	[EnteredBy] [nvarchar](80) NULL,
	[DateEntered] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[DateModified] [smalldatetime] NULL,
	CONSTRAINT [PK_GameReorder] PRIMARY KEY CLUSTERED 
	(
		[OrderID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameReorder_GameID] ON [dbo].[GameReorder]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
