USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_CountrySubDivision_SubDivisionCode] ON [dbo].[CountrySubDivision]
GO

DROP INDEX IF EXISTS [idx_CountrySubDivision_CountryID] ON [dbo].[CountrySubDivision]
GO

DROP TABLE IF EXISTS [dbo].[CountrySubDivision]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CountrySubDivision]
(
	[CountrySubDivisionID] [int] NOT NULL,
	[SubDivisionCode] [nvarchar](10) NOT NULL,
	[SubDivisionName] [nvarchar](50) NOT NULL,
	[SubDivisionType] [nvarchar](50) NULL,
	[CountryID] [int] NOT NULL,
	CONSTRAINT [PK_CountrySubDivision] PRIMARY KEY CLUSTERED 
	(
		[CountrySubDivisionID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_CountrySubDivision_CountryID] ON [dbo].[CountrySubDivision]
(
	[CountryID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET ANSI_PADDING ON
GO

CREATE NONCLUSTERED INDEX [idx_CountrySubDivision_SubDivisionCode] ON [dbo].[CountrySubDivision]
(
	[SubDivisionCode] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
