USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[Theme]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Theme](
	[ThemeID] [int] NOT NULL,
	[ThemeName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	CONSTRAINT [PK_Theme] PRIMARY KEY CLUSTERED 
	(
		[ThemeID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
