USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[SpecialtyPrintingOption]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SpecialtyPrintingOption](
	[SpecialtyID] [int] NOT NULL,
	[SpecialtyName] [nvarchar](255) NOT NULL,
	[IsActive] [bit] NULL,
	CONSTRAINT [PK_SpecialtyPrintingOption] PRIMARY KEY CLUSTERED 
	(
		[SpecialtyID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
