USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_PrizeStructure_TopPrizeAndPrizeAmount] ON [dbo].[PrizeStructure]
GO

DROP INDEX IF EXISTS [idx_PrizeStructure_PrizeTypeID] ON [dbo].[PrizeStructure]
GO

DROP TABLE IF EXISTS [dbo].[PrizeStructure]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[PrizeStructure](
	[GameID] [int] NOT NULL,
	[PrizeID] [int] NOT NULL,
	[PrizeTypeID] [int] NULL,
	[NumberOfPrizes] [int] NULL,
	[PrizeAmount] [float] NULL,
	[PrizeDescription] [nvarchar](1000) NULL,
	[TopPrize] [bit] NULL,
	[ActualValue] [float] NULL,
	[EnteredBy] [nvarchar](50) NULL,
	[DateEntered] [smalldatetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[DateModified] [smalldatetime] NULL,
	[PrizeOdds] [float] NULL,
	CONSTRAINT [PK_PrizeStructure] PRIMARY KEY CLUSTERED 
	(
		[GameID] ASC,
		[PrizeID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_PrizeStructure_PrizeTypeID] ON [dbo].[PrizeStructure]
(
	[PrizeTypeID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_PrizeStructure_TopPrizeAndPrizeAmount] ON [dbo].[PrizeStructure]
(
	[TopPrize] ASC,
	[PrizeAmount] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
