USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GamePlayStyle_PlayStyleID] ON [dbo].[GamePlayStyle]
GO

DROP INDEX IF EXISTS [idx_GamePlayStyle_GameID] ON [dbo].[GamePlayStyle]
GO

DROP TABLE IF EXISTS [dbo].[GamePlayStyle]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GamePlayStyle](
	[GamePlayStyleID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[PlayStyleID] [int] NOT NULL,
	CONSTRAINT [PK_GamePlayStyle] PRIMARY KEY CLUSTERED 
	(
		[GamePlayStyleID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GamePlayStyle_GameID] ON [dbo].[GamePlayStyle]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GamePlayStyle_PlayStyleID] ON [dbo].[GamePlayStyle]
(
	[PlayStyleID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
