USE [CustomerPortal]
GO

ALTER TABLE [dbo].[FeaturedConcept] DROP CONSTRAINT IF EXISTS [DF_FeatureConcept_DateAdded]
GO

DROP INDEX IF EXISTS [idx_FeaturedConcept_ConceptID_StartDate_EndDate] ON [dbo].[FeaturedConcept]
GO

DROP TABLE [dbo].[FeaturedConcept]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[FeaturedConcept](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ConceptID] [int] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [date] NULL,
	CONSTRAINT [PK_FeaturedConcept] PRIMARY KEY CLUSTERED 
	(
		[ID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE UNIQUE NONCLUSTERED INDEX [idx_FeaturedConcept_ConceptID_StartDate_EndDate] ON [dbo].[FeaturedConcept]
(
	[ConceptID] ASC,
	[StartDate] ASC,
	[EndDate] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
GO

ALTER TABLE [dbo].[FeaturedConcept] ADD  CONSTRAINT [DF_FeatureConcept_DateAdded]  DEFAULT (GETDATE()) FOR [DateAdded]
GO
