USE [CustomerPortal]
GO

DROP INDEX IF EXISTS [idx_GameColor_GameID] ON [dbo].[GameColor]
GO

DROP INDEX IF EXISTS [idx_GameColor_ColorID] ON [dbo].[GameColor]
GO

DROP TABLE IF EXISTS [dbo].[GameColor]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameColor](
	[GameColorID] [int] NOT NULL,
	[GameID] [int] NOT NULL,
	[ColorID] [int] NOT NULL,
	CONSTRAINT [PK_GameColor] PRIMARY KEY CLUSTERED 
	(
		[GameColorID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameColor_ColorID] ON [dbo].[GameColor]
(
	[ColorID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

CREATE NONCLUSTERED INDEX [idx_GameColor_GameID] ON [dbo].[GameColor]
(
	[GameID] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
