USE [CustomerPortal]
GO

DROP TABLE IF EXISTS [dbo].[GameIndex]
GO

SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[GameIndex](
	[GameID] [int] NOT NULL,
	[AtLaunchIndex] [int] NULL,
	[DateEntered] [smalldatetime] NULL,
	[DateModified] [smalldatetime] NULL,
	CONSTRAINT [PK_GameIndex] PRIMARY KEY CLUSTERED 
	(
		[GameID] ASC
	) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
