<!-- Sidebar -->
<ul class="navbar-nav bg-main sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <img src="/img/igt_logo@2x.png" alt="IGT" />
        <!-- <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item@(ViewBag.ActiveMenu == "dashboard" ? " active" : "")">
        <a class="nav-link" href="/Dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    
    @*<hr class="sidebar-divider">
        <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-chart-line"></i>
            <span>Lottery Analytics</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                <a class="collapse-item" href="dashboard.html">Dashboard</a>
                <a class="collapse-item" href="#">Indexing</a>
                <a class="collapse-item" href="#">NALO</a>
                <a class="collapse-item" href="#">Penetration Charts</a>
                <a class="collapse-item" href="#">Search Games</a>
                <a class="collapse-item" href="#">Sales Reports</a>
            </div>
        </div>
    </li>*@

    <!-- Divider -->
    <hr class="sidebar-divider">
    <li class="nav-item@(ViewBag.ActiveMenu == "concept" ? " active" : "")">
        <a class="nav-link" href="/Concept">
            <i class="fas fa-paint-brush"></i>
            <span>Lottery Concepts</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item@(ViewBag.ActiveMenu == "favorite" ? " active" : "")">
        <a class="nav-link" href="/Favorite">
            <i class="fas fa-bookmark"></i>
            <span>Favorites</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>